<div class="flogo-app-flows">

  <div class="flows-container">


    <div *ngFor="let flow of flows" class="flow">

      <div class="trigger-info">
        <img src="/assets/svg/flogo.flows.detail.diagram.trigger.icon.svg" alt="Trigger">
      </div>

      <div class="flow-info">

        <div class="header">
          <div class="title">{{flow.name}}</div>
          <div class="menu">
            <div class="menu__options">
              <ul class="menu__options__list">
                <li class="menu__options__list__element">
                  <a href=""><i class="flogo-icon flogo-icon-edit"></i>Rename</a>
                </li>
                <li class="menu__options__list__element">
                  <a href=""><i class="flogo-icon flogo-icon-export"></i>Export</a>
                </li>
                <li class="menu__options__list__element">
                  <a href=""><i class="flogo-icon flogo-icon-delete"></i>Delete</a>
                </li>
              </ul>
            </div>
            <span class="glyphicon glyphicon-option-vertical menu__btn"> </span>
          </div>
        </div>

        <div [title]="flow.description" class="description">{{flow.description}}</div>
        <span
          class="creation-date">{{ 'FLOWS:CREATED' | translate:{value:''} }} {{formatDate(flow.created_at)}}</span>

      </div>

    </div>
  </div>
</div>
