@import "_variables";
@tail-width: 32px;
@apps__flow-border-color: #d8d8d8;
@connector-width: 6px;

.flogo-flow-wrapper {
  cursor: pointer;
  height: 110px;
  position: relative;
  z-index: 0;
  margin-left: 48px;
  padding-left: @tail-width;

  // connector to trigger
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: -68px;
    left: -35px;
    height: 122px;
    width: 96px;

    background: transparent;
    border-style: solid;
    border-color: @apps__flow-border-color;
    border-width: 0 0 @connector-width @connector-width;
    border-bottom-left-radius: 4px;

    z-index: -1;
    pointer-events: none;

  }

  &:first-child:before {
    height: 80px;
    top: -26px
  }

  // left shape (the "tail")
  &:after {
    background: url('/assets/img/flogo.apps.flow-tail@1x.png') 8px 0 no-repeat;
    display: block;
    content: "";
    position: absolute;
    left: 0;
    top: -5px;
    height: 100%;
    overflow-x: hidden;
    width: @tail-width;
    z-index: 1;
  }

  &:hover {
    &:after {
      background-position-x: -@tail-width + 6px;
    }

    .flogo-flow {
      border-color: #fff;
      box-shadow: 0 0 5px 0 #79b8dc;
    }

  }

}

.flogo-flow {
  height: 100px;
  background: #fff;
  border: 1px solid @apps__flow-border-color;
  border-left: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  padding: 16px 18px;
  position: relative;
  transform: translateX(-1px);

  // small square to make a sharp cut in the shadow and make it match
  // with the left image shadow
  &:before {
    display: block;
    content: "";
    position: absolute;
    background: @color-bg;
    left: -1px;
    top: -5px;
    height: calc(100% + 10px);
    width: 1px;
  }

}

.flogo-flow-title {
  display: block;
  margin: 0 0 6px;
  // leave space for menu icon at the right
  padding: 0 25px 0 0;
  width: 100%;

  font-size: 1em;
  font-weight: bold;
  line-height: 1.25;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  text-transform: capitalize;
}

.flogo-flow-description {
  display: block;
  font-size: 0.875em;
  margin: 0 0 10px;
  min-height: 1em;
  padding: 0;
  width: 100%;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.flogo-flow-date {
  display: block;
  text-align: right;
  font-style: italic;
  font-size: 0.625em;
}


.flogo-flow-menu {
  position: absolute;
  top: 16px;
  right: 18px;

  &:hover {
    .flogo-flow-menu__btn {
      color: #79b8dc;
    }

    .flogo-flow-menu__options-list {
      transform: scale(1, 1);
    }
  }

}

.flogo-flow-menu__btn {
  cursor: initial;
}

.flogo-flow-menu__options-list {
  background-color: #ffffff;
  border-radius: 2px;
  border: 1px solid #727272;
  box-shadow: 0 2px 4px 0 rgba(199, 199, 199, 0.5);
  position: absolute;
  top: 7px;
  right: 7px;
  width: 129px;
  z-index: 1;
  transform: scale(0, 0);
  transform-origin: top right;
  transition: all 250ms ease-in;

  list-style: none;
  font-size: .875em;
  margin: 0;
  padding: 0;

  &:hover {
    ~ .flogo-flow-menu__btn {
      color: #79b8dc;
    }
  }
}

.flogo-flow-menu__options-element {
  padding: 3px 0 5px 20px;
  &:hover{
    color: @color-secondary;
  }
}


//@keyframes list-elements {
//  from {
//    transform: translateY(70px);
//  }
//  to {
//    opacity: 1;
//  }
//}
