<div class="row flogo-flow-group">
  <div class="col-md-10 col-md-offset-1 col-sm-11 flogo-flow-group__trigger">
    <div class="flogo-trigger" [class.flogo-trigger--empty]="!trigger">
      <i class="flogo-icon-trigger flogo-trigger__icon"></i>
      <span *ngIf="trigger">{{ trigger.name }}</span>
      <span *ngIf="!trigger">{{ 'APP-DETAIL:EMPTY-TRIGGER' | translate }}</span>
    </div>
    <button class="flogo-flow-group__add-flow flogo-button-squared">
      <i class="flogo-icon-add flogo-button-squared__icon"></i>
    </button>
  </div>
  <div class="col-md-10 col-md-offset-1  col-sm-11 flogo-flow-group__flows">
    <div class="flogo-app-content__flows">
      <flogo-apps-flows [flows]="flows" (flowSelected)="onSelect($event)" (deleteFlow)="onDeleteFlow($event)"></flogo-apps-flows>
    </div>
  </div>
</div>
