<div class="layout" [class.layout--scrolled]="isScreenScrolled">
  <div class="layout__main" #overlay (click)="($event.target == overlay || $event.target == wrapper) && close()">
    <div class="wrapper" [@errorPanelIsOpen]="isOpen" (@errorPanelIsOpen.start)="onAnimationStart()"
         (@errorPanelIsOpen.done)="onAnimationEnd($event)" #wrapper>
      <div class="wrapper" #wrapper>
        <div class="actions-container">
          <button (click)="toggle()" class="tc-buttons tc-buttons-primary toggle-button"
                  [class.toggle-button--open]="isOpen">
            <img class="toggle-button__icon" src="/assets/svg/error-icon-info.svg">
            <span class="toggle-button__text">Error Handler</span>
            <span class="flogo-icon flogo-icon-back toggle-button__toggler" [class.is-open]="isOpen"></span>
          </button>
        </div>
        <div class="error-panel">
          <div class="error-panel__content" @panelContent [@.disabled]="isAnimating" *ngIf="displayContent">
            <ng-template [ngTemplateOutlet]="templateRef"></ng-template>
          </div>
        </div>
      </div>
    </div>
    <div class="layout__side"></div>
  </div>
</div>
