:host {
  width: 100%;
  position: fixed;
  bottom: 0;
  pointer-events: none;
  z-index: 1;
}

:host(.is-open) {
  height: 100%;
}

.toggle-button {
  background: #36bfbb;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  min-width: 55px;
  height: 48px;
  width: 198px;
  margin-top: 0;
  margin-right: 30px;
  padding: 13px 16px;
  border-radius: 5px 5px 0 0;
  position: relative;
  top: 0;
  display: flex;
}

.toggle-button--open {
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
}

.toggle-button__text {
  display: inline-block;
  padding-left: 8px;
  flex: 1;
  font-size: 18px;
  text-align: left;
}

.toggle-button__icon {
  display: inline-block;
  width: 21px;
  height: 21px;
  object-fit: contain;
  position: relative;
  top: 2px;
}

.toggle-button__toggler {
  display: block;
  transform: rotate(90deg);
  transform-origin: center center;
  margin: 0;
  padding: 0;
  line-height: 16px;
  position: relative;
  height: 16px;
  top: 4px;

  &.is-open {
    transform: rotate(270deg);
  }
}

.layout {
  align-items: stretch;
  display: flex;
  height: 100%;
  // navbar height
  padding-top: 48px;

  &.layout--scrolled {
    padding-top: 0;
  }

}

.layout__main {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: all;
  width: 100%;
}

.layout__side {
  flex-direction: column;
  min-width: 321px;
  width: 29%;
}

.wrapper {
  align-self: flex-end;
  position: relative;
  width: 100%;
}

.error-panel {
  border-radius: 5px 5px 0 0;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.33);
  background: #fff;
}

.error-panel__content {
  min-height: 140px;
  display: flex;
}

.actions-container {
  display: flex;
  justify-content: flex-end;
}
