<modal [cssClass]="'flows-list'" [size]="'sm'" #listModal (onClose)="onModalCloseOrDismiss()"
       (onDismiss)="onModalCloseOrDismiss()">
  <i class="flogo-icon-close flows-list__close" (click)="closeModal()"></i>
  <div class="flogo-list__header">
    <p>
      <span>Select a flow to use as a sub-flow</span>
      <input title="Filter flows" type="text" class="pull-right" [(ngModel)]="searchText"/>
    </p>
  </div>
  <div class="flogo-list__container" style="padding:1.5em 1.125em; background: #f4f4f4">
    <div *ngFor="let flow of filteredFlows" class="card row" style="display: flex;
    align-items: center;
    background: #fff;
    padding: 30px;
    height: 100px;
    margin: 0;
margin-bottom: 1em;">
      <div class="col-md-8" style="
    padding: 0;
">
        <h4 style="
    margin: 0;
    margin-right: 5px;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    color: #666;
">{{flow.name}}</h4>
        <span style="
    font-size: 0.75em;
    opacity: 0.54;
">Created {{flow.createdAt | timeFromNow}}</span>
        <p style="
    height: 30px;
    line-height: 1.25;
    font-size: 0.75em;
    margin: 12px 0 0;
    padding: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
"><span *ngIf="flow.description">
        {{ flow.description }}
      </span>
          <span *ngIf="!flow.description">
        {{ 'FLOWS:NODESCRIPTION' | translate}}
      </span></p>
      </div>
      <div class="col-md-2" style="
    padding: 0;
    font-size: 14px;
    text-align: right;
">
        <a href="/flows/{{flow.id}}" class="flogo-link" target="_blank" style="color: #0081cb;">View in new tab</a>
      </div>
      <div class="col-md-2" style="
    padding: 0;
    text-align: right;
">
        <button class="flogo-button flogo-button--secondary">
          Select
        </button>
      </div>
    </div>
  </div>
</modal>
