<modal [cssClass]="'flows-list'" [size]="'sm'" #listModal (onClose)="onModalCloseOrDismiss()"
       (onDismiss)="onModalCloseOrDismiss()">
  <i class="flogo-icon-close flows-list__close" (click)="closeModal()"></i>
  <div class="flogo-list__header">
    <span class="header-content">{{ 'SUB-FLOW:HEADER-TEXT' | translate}}</span>
    <input type="text" title="Filter flows"
           placeholder="{{ 'SUB-FLOW:FILTER-TEXT' | translate }}"
           class="form-control filter-box" [(ngModel)]="searchText"/>
  </div>
  <div class="flogo-list__container" *ngIf="filteredFlows && filteredFlows.length > 0">
    <div *ngFor="let flow of filteredFlows" class="flogo-list__card row">
      <div class="col-md-8 no-padding">
        <h4 class="card-header">{{flow.name}}</h4>
        <span class="card-date">{{ 'SUB-FLOW:CREATED' | translate }} {{flow.createdAt | timeFromNow}}</span>
        <p class="card-description no-padding">
          <span *ngIf="flow.description">
            {{ flow.description }}
          </span>
          <span *ngIf="!flow.description">
            {{ 'SUB-FLOW:NODESCRIPTION' | translate}}
          </span>
        </p>
      </div>
      <div class="col-md-2 no-padding card-link__placeholder">
        <a href="/flows/{{flow.id}}" class="flogo-link" target="_blank">{{ 'SUB-FLOW:LINK-TEXT' | translate }}</a>
      </div>
      <div class="col-md-2 no-padding card-button__placeholder">
        <button class="flogo-button flogo-button--secondary">
          {{ 'SUB-FLOW:SELECT' | translate }}
        </button>
      </div>
    </div>
  </div>
  <div class="flogo-list__container" *ngIf="filteredFlows && filteredFlows.length === 0">
    <p>{{ 'SUB-FLOW:NOFLOW' | translate }}</p>
  </div>
</modal>
