@import (reference) '../../../assets/_variables';

:host {
  display: flex;
  flex-direction: column;
}

.header {
  font-size: 1.12rem;
  font-weight: 600;
  color: @color-ink;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem 0.5rem;
  border-bottom: 1px solid @twilight-blue;
}

.toggler {
  display: block;
  transform-origin: center center;
  line-height: 1.5rem;
  position: relative;
  height: 1.5rem;
  transform: rotate(270deg);
}

.content {
  padding: 1rem;
}
