<div class="content" #content [class.is-open]="isOpen">
  <ng-content></ng-content>
</div>
<div class="debug-panel-container" [class.is-open]="isOpen">
  <button *ngIf="!isOpen" class="toggle-button" (click)="togglePanel()">
    <span>{{ 'DEBUGGER:TITLE-ACTIVITY' | translate }}</span><span class="flogo-icon flogo-icon-back toggle-button__icon"></span>
  </button>
  <flogo-flow-debug-panel-content
    *ngIf="isOpen"
    class="debug-panel__content"
    [activity]="activity$ | async"
    [fields]="fields$ | async"
    [runDisabled]="isRunDisabled$ | async"
    [@debugpanel]="isOpen"
    (@debugpanel.done)="onAnimationEnd($event)"
    (runFromHere)="run()"
    (close)="togglePanel()"></flogo-flow-debug-panel-content>
</div>
