@import '../../../assets/uxpl/dropdown';
@import (reference) './_variables';

:host {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.content {
  flex: 1;
  min-height: 0;
  overflow: auto;

  transition-duration: .4s;
  transition-timing-function: cubic-bezier(.25,.8,.25,1);
  transition-property: transform, margin-bottom;

  &.is-open {
    margin-bottom: @panel-height;
  }
}

.debug-panel-container {
  height: 0;
  width: 100%;
  position: relative;
  display: flex;
}

.debug-panel__content {
  .uxpl-dropdown-container();
  flex: 1;
  z-index: 2;
  position: absolute;
  height: @panel-height;
  width: 100%;
  bottom: 0;
  overflow-y: auto;
  transform: translate3d(0, 100%, 0);
}

.toggle-button {
  color: #fff;
  background: @lighter-blue;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  border-width: 0;
  height: 40px;
  margin-top: 0;
  margin-right: 30px;
  border-radius: 5px 5px 0 0;
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
}

.toggle-button__icon {
  display: block;
  transform: rotate(90deg);
  transform-origin: center center;
  margin: 0 0 0 1em;
  padding: 0;
  line-height: 16px;
  position: relative;
  height: 16px;
  top: 4px;
}

