<div class="main">
  <svg class="icon-svg__def" width="0" height="0" xmlns="http://www.w3.org/2000/svg">
    <defs>
      <filter
        id="flogoFlowsDetailTriggersPanelTriggerShadow"
        width="114.6%"
        height="114.6%"
        x="-7.3%"
        y="-5.2%"
        filterUnits="objectBoundingBox"
      >
        <feOffset dy="1" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
        <feGaussianBlur
          in="shadowOffsetOuter1"
          result="shadowBlurOuter1"
          stdDeviation="1"
        ></feGaussianBlur>
        <feColorMatrix
          in="shadowBlurOuter1"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.2 0"
        ></feColorMatrix>
      </filter>
    </defs>
  </svg>
  <flogo-flow-triggers-trigger-block
    *ngFor="let trigger of triggersList; trackBy: trackTriggerBy"
    [isSelected]="currentTrigger?.id === trigger.id"
    [trigger]="trigger"
    [menuDisabled]="isDeviceType"
    (menuItemSelected)="handleMenuSelection($event)"
  ></flogo-flow-triggers-trigger-block>
  <div
    class="trigger trigger--add"
    title="Add Trigger"
    *ngIf="allowMultipleTriggers"
    (click)="openAddTriggerModal()"
  >
    <svg
      class="trigger-icon-background"
      viewBox="0 0 50 50"
      xmlns="http://www.w3.org/2000/svg"
    >
      <use
        xlink:href="/assets/svg/trigger-icon.svg#addTrigger"
        class="bg-placeholder"
      ></use>
    </svg>
    <div class="trigger-content"><i class="flogo-icon-add"></i></div>
  </div>
  <flogo-flow-select-trigger
    [(isAddTriggerActivated)]="showAddTrigger"
    [appDetails]="appDetails"
    (addTriggerToAction)="addTriggerToAction($event)"
    (installDialog)="openInstallTriggerWindow()"
  >
  </flogo-flow-select-trigger>
  <flogo-flow-installer
    [profileType]="appDetails?.appProfileType"
    [installType]="'trigger'"
    [(isActivated)]="installTriggerActivated"
    (isActivatedChange)="openAddTriggerModal()"
    (installed)="onTriggerInstalledAction()"
  ></flogo-flow-installer>
  <flogo-triggers-configuration></flogo-triggers-configuration>
</div>
