{
  "presets": [
    "@babel/preset-typescript",
    [

      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-syntax-object-rest-spread",
    "@babel/plugin-proposal-class-properties"
  ]
}
