@import '_variables';

.modal__close() {
  color: @pale-gray;
  position: fixed;
  top: 20px;
  right: 20px;
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.styleguide-header2() {
  font-size: @font-size-h2;
  font-weight: 600;
}

.styleguide-body-small() {
  font-size: @font-size-body-small;
}
