// UXPL colors
@french-blue: #3f51b5;
@light-blue-grey: #c5cae9;
@pumpkin-orange: #ff7800;
@dark-orange: #cf4c00;
@light-purple: #bb74f6;
@cerulean: #0081cb;
@white: #f1f1f1;
@asparagus: #89a857;
@cerulean-55: rgba(0, 129, 203, 0.55);
@cerulean-two: #008dc6;
@cerulean-two-two: #008dc6;
@dark-blue-grey: #10203f;
@deep-lilac: #8a6fb5;
@shamrock-green: #04be5b;
@scarlet: #d0021b;
@warm-grey: #727272;
@twilight-blue: #062e79;
@tangerine: #ff9900;
@cerulean-three: #049fd9;
@grey-blue: #6b859e;
@gray-lighter: #f4f4f4;

// you can define your variables here
@color-bg: #fff;

@color-primary: #4e7ead;
@color-secondary: #79b8dc;
@color-accent: @color-secondary;
@color-accent-light: @color-secondary;
@color-accent-dark: #b74800;
@color-disabled: #676a6d;

@color-plain: #666666;

@color-success: #a2d283;
@color-info: @color-primary;
@color-warning: @color-accent-light;
@color-danger: #ff556a;



@color-run-activity-default: @color-primary;

@color-run-trigger-default: @color-accent;
@color-run-trigger-hover: @color-accent-light;
@color-run-trigger-active: @color-accent-dark;

@color-tile-selected: @color-primary;
@color-button-active: @color-primary;

@color-link: @color-plain;
@color-link-hover: @color-secondary;
@color-link-active: @color-primary;

@size-height-nav-bar: 54px;
@size-height-header: 113px;
@size-height-button: 35px;
@size-height-footer: 55px;

@size-height-right-container: ~'calc(100vh - @{size-height-nav-bar} - @{size-height-header})';

@card-bg-color: #ffffff;
@card-bg-color-hover: #ececec;
@card-width: 250px;
@card-height: 200px;
@card-gutter-vertical: 20px;
@card-gutter-horizontal: @card-gutter-vertical;

@profile-device-color: #899bcf;
@profile-microservice-color: #866aaf;

@color-app-detail-bg: #ffffff;
@color-trigger-bg-color: #b3d9ef;
@color-trigger-selected-bg-color: @color-primary;
@color-trigger-icon: #1c4874;
