@font-face {
  font-family: 'flogo-icon';
  src:  url('fonts/flogo-icon.eot?dz3w7j');
  src:  url('fonts/flogo-icon.eot?dz3w7j#iefix') format('embedded-opentype'),
  url('fonts/flogo-icon.ttf?dz3w7j') format('truetype'),
  url('fonts/flogo-icon.woff?dz3w7j') format('woff'),
  url('fonts/flogo-icon.svg?dz3w7j#flogo-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="flogo-icon-"], [class*=" flogo-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'flogo-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.flogo-icon-import:before {
  content: "\e910";
}
.flogo-icon-export:before {
  content: "\e911";
}
.flogo-icon-add:before {
  content: "\e900";
}
.flogo-icon-back:before {
  content: "\e901";
}
.flogo-icon-debug:before {
  content: "\e902";
}
.flogo-icon-delete:before {
  content: "\e903";
}
.flogo-icon-download:before {
  content: "\e904";
}
.flogo-icon-edit:before {
  content: "\e905";
}
.flogo-icon-upload:before {
  content: "\e906";
}
.flogo-icon-help:before {
  content: "\e907";
}
.flogo-icon-info-outline:before {
  content: "\e908";
}
.flogo-icon-info:before {
  content: "\e909";
}
.flogo-icon-kebabmenu:before {
  content: "\e90a";
}
.flogo-icon-link:before {
  content: "\e90b";
}
.flogo-icon-log:before {
  content: "\e90c";
}
.flogo-icon-search:before {
  content: "\e90d";
}
.flogo-icon-trigger:before {
  content: "\e90e";
}
.flogo-icon-video:before {
  content: "\e90f";
}

