/* Reset */
html,
body,
div {
  border: 0;
  margin: 0;
  padding: 0;
}

/* Box-sizing border-box */
* {
  box-sizing: border-box;
}

/* Set up a default font and some padding to provide breathing room */
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 20px;
  margin-bottom: 1em;
  margin-top: 1em;
}

ul {
  margin: 10px 0 0 0;
  padding: 0 0 0 20px;
}

li {
  font-weight: 400;
  margin-top: 4px;
}

input {
  border: 1px solid #106cc8;
  font-size: 14px;
  height: 40px;
  outline: none;
  padding: 8px;
}

button {
  background-color: #106cc8;
  border-style: none;
  color: rgba(255, 255, 255, 0.87);
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  height: 40px;
  padding: 8px 18px;
  text-decoration: none;
}

button:hover {
  background-color: #28739e;
}

button[hidden] {
  display: none;
}

/* TODO: Only for demo, need to find a way to add custom class to modal's parent */
.modal-content {
  padding: 39px 39px 60px;
}

.flogo-flows-detail-tasks-install-modal .category-list__title,
.flogo-flows-detail-triggers-install-modal .category-list__title {
  font-size: 15px;
  color: #0081cb;
}

.flogo-flows-detail-tasks-install-modal__content,
.flogo-flows-detail-triggers-install-modal__content {
  margin-top: -15px;
}

.flogo-flows-detail-tasks-install-modal .category-list__category,
.flogo-flows-detail-triggers-install-modal .category-list__category {
  margin-top: 4px;
}

.flogo-flows-detail-tasks-install-modal .activities-list,
.flogo-flows-detail-triggers-install-modal .activities-list {
  margin-top: 0;
}

.flogo-flows-detail-tasks-install-modal .activities-list__activity,
.flogo-flows-detail-triggers-install-modal .activities-list__activity {
  border-bottom: solid 1px #d8d8d8;
  margin-top: 0;
  padding: 19px 26px 17px;
}

.flogo-flows-detail-tasks-install-modal .activities-list__activity:hover,
.flogo-flows-detail-triggers-install-modal .activities-list__activity:hover {
  background-color: #d8d8d8;
  cursor: pointer;
}

.flogo-flows-detail-tasks-install-modal .activities-list__activity.installed:hover,
.flogo-flows-detail-triggers-install-modal .activities-list__activity.installed:hover {
  cursor: not-allowed;
}

.flogo-flows-detail-tasks-install-modal .activities-list__activity .install-status-icon,
.flogo-flows-detail-triggers-install-modal .activities-list__activity .install-status-icon {
  color: #79b8dc;
  font-size: 20px;
  margin-left: 10px;
}

.flogo-flows-detail-tasks-install-modal .activities-list__activity.installed .install-status-icon,
.flogo-flows-detail-triggers-install-modal .activities-list__activity.installed .install-status-icon {
  color: #d8d8d8;
}
