/* Reset */
html,
body,
div {
  border: 0;
  margin: 0;
  padding: 0;
}

html, body {
  display: flex;
  align-items: stretch;
}

html {
  min-height: 100%;
}

body {
  width: 100%;
}

/* Box-sizing border-box */
* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('fonts/SourceSansPro-Regular.eot');
  src: url('fonts/SourceSansPro-Regular.ttf')  format('truetype');
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('fonts/SourceSansPro-Bold.eot');
  src: url('fonts/SourceSansPro-Bold.ttf')  format('truetype');
  font-weight: bold;
}

/* Set up a default font and some padding to provide breathing room */
body {
  font-family: 'Source Sans Pro', sans-serif;
  /*font-family: Roboto, "Helvetica Neue", sans-serif;*/
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 20px;
  margin-bottom: 1em;
  margin-top: 1em;
}

ul {
  margin: 10px 0 0 0;
  padding: 0 0 0 20px;
}

li {
  font-weight: 400;
  margin-top: 4px;
}
/*
input {
  border: 1px solid #106cc8;
  font-size: 14px;
  height: 40px;
  outline: none;
  padding: 8px;
}

button {
  background-color: #106cc8;
  border-style: none;
  color: rgba(255, 255, 255, 0.87);
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  height: 40px;
  padding: 8px 18px;
  text-decoration: none;
}

button:hover {
  background-color: #28739e;
}
*/

button[hidden] {
  display: none;
}


label {
  color: #8493a8;
  font-size: 13px;
  font-weight: normal;
}

/* Required because of specificity when using angular components css */
[hidden] {
  display: none !important;
}

.flogo-btn-link {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3333333;
  outline: none;
  padding: 10px 36px;
}

.flogo-btn-link:hover {
  color: #79b8dc;
}

.flogo-btn-link:active {
  color: #062e79;
}

.flogo-input-search {
  border: 1px solid #106cc8;
  font-size: 14px;
  height: 40px;
  outline: none;
  padding: 8px;
}

.flogo-btn-link[disabled],
.flogo-btn-link[disabled]:hover,
.flogo-btn-link.disabled,
.flogo-btn-link.disabled:hover {
  color: #cad3df;
}

/*---------------------------*\
  TIBCO Cloud UI Pattern adjustments
\*---------------------------*/

.tc-text-areas {
  width: 100%;
}

.tc-buttons-primary-call {
  padding: 12px 24px;
}

/* ================ */

/* TODO: Only for demo, need to find a way to add custom class to modal's parent */

.modal-dialog {
  width: 90%;
}

.modal-content {
  border-radius: 4px;
  box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.3);
  padding: 39px 39px 60px;
}

.modal-backdrop {
  background-color: rgba(113, 113, 113, 0.8);
}

.flogo-transform-header {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.flogo-transform-header__title {
  flex: 1;
}

.flogo-flows-detail-tasks-install-modal .category-list__title,
.flogo-flows-detail-triggers-install-modal .category-list__title {
  font-size: 15px;
  color: #0081cb;
}

.flogo-flows-detail-tasks-install-modal__content,
.flogo-flows-detail-triggers-install-modal__content {
  margin-top: -15px;
}

.flogo-flows-detail-tasks-install-modal .category-list__category,
.flogo-flows-detail-triggers-install-modal .category-list__category {
  margin-top: 4px;
}

.flogo-flows-detail-tasks-install-modal .activities-list,
.flogo-flows-detail-triggers-install-modal .activities-list {
  margin-top: 0;
}

.flogo-flows-detail-tasks-install-modal .activities-list__activity,
.flogo-flows-detail-triggers-install-modal .activities-list__activity {
  border-bottom: solid 1px #d8d8d8;
  margin-top: 0;
  padding: 19px 26px 17px;
}

.flogo-flows-detail-tasks-install-modal .activities-list__activity:hover,
.flogo-flows-detail-triggers-install-modal .activities-list__activity:hover {
  background-color: #d8d8d8;
  cursor: pointer;
}

.flogo-flows-detail-tasks-install-modal .activities-list__activity.installed:hover,
.flogo-flows-detail-triggers-install-modal .activities-list__activity.installed:hover {
  cursor: not-allowed;
}

.flogo-flows-detail-tasks-install-modal .activities-list__activity .install-status-icon,
.flogo-flows-detail-triggers-install-modal .activities-list__activity .install-status-icon {
  color: #79b8dc;
  font-size: 20px;
  margin-left: 10px;
}

.flogo-flows-detail-tasks-install-modal .activities-list__activity.installed .install-status-icon,
.flogo-flows-detail-triggers-install-modal .activities-list__activity.installed .install-status-icon {
  color: #d8d8d8;
}

/* Edit panel */
.flogo-common-edit-panel {
  background-color: #fff;
}

.flogo-common-edit-panel__head {
  background-color: #79b8dc;
  color: #fff;
  min-height: 89px;
  max-height: 89px;
  padding: 19px 16px 24px;
  display: flex;
  flex-direction:row;
  align-items: baseline;

}

.flogo-common-edit-panel__head-wrapper {
  display: inline-block;
}

.flogo-common-edit-panel__head-title {
  font-weight: bold;
  margin: 0;
  padding: 0;
  letter-spacing: 2px;
}

.flogo-common-edit-panel__head-subtitle {

}

.flogo-common-edit-panel__head-icon {
  display: inline-block;
  margin-right: 11px;
  height: 46px;
  width: 46px;
}

.flogo-common-edit-panel__container {
  padding: 10px 19px 10px 17px;
  min-height: 70vh;
  max-height: 70vh;
  overflow-y: scroll;
}

.flogo-common-edit-panel__footer {
  background-color: #f8f8f8;
  padding: 10px 16px;
  position:absolute;
  bottom:0;
  border-top: 1px solid lightgray;
  width: 100%;
}

.flogo-common-edit-panel__btn-download {
  background: url('svg/flogo.icon.download.svg') no-repeat;
  background-position-x: 24px;
  background-position-y: 9px;
  padding: 10px 24px 10px 60px; /* Extra padding for icon */
  text-align: left;
  width: 100%;
}

.flogo-common-edit-panel__tiles-list {
  border-bottom: solid 1px #d8d8d8;
  margin: 10px 0 0 0;
  list-style: none;
  padding: 0;
}

.flogo-common-edit-panel__tiles-list-tile {
  border-top: solid 1px #d8d8d8;
  background: url('svg/flogo.flows.detail.tasks.gears.svg') no-repeat center left 20px,
    url('svg/flogo.icon.checked.circle.svg') no-repeat center right 20px;
  color: #666;
  font-weight: bold;
  margin: 0;
  padding: 15px 53px 15px 60px;
  text-transform: uppercase;
}

.flogo-common-edit-panel__tiles-list-tile:hover {
  background-color: #ececec;
  cursor: pointer;
}

.flogo-common-edit-panel__legend {
  background-color: #f4f4f4;
  border: none;
  color: #666;
  font-size: 14px;
  margin: 10px 0 0 0;
  line-height: 1.5;
  padding: 5px 16px;
  text-transform: uppercase;
}

.flogo-common-edit-panel__container .flogo-common-edit-panel__legend {
  margin: 10px -19px 10px -17px;
}

.flogo-common-edit-panel__container > .flogo-common-edit-panel__legend:first-child {
  margin-top: -10px;
}

.flogo-common-edit-panel__head + .flogo-common-edit-panel__legend {
  margin-top: -10px;
}

/* This is just for Add Flow Modal in homepage */
.modal-dialog.modal-sm {
  width: 50%;
}
