<div class="flogo-main container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="header row">
        <div class="col-md-8">
          <p class="welcome-message">{{ 'FLOWS:WELCOME-BACK' | translate }}</p>
          <p class="description-message">{{ 'FLOWS:NEW-INSTRUCTIONS' | translate }}</p>
          <a class="flogo-link header__link" href="https://www.youtube.com/watch?v=OHX4kKVdI28&amp;feature=youtu.be"
             target="_blank">
            <span><i class="flogo-icon flogo-icon-video"></i>{{ 'FLOWS:FEATURED-VIDEO-TUTORIAL' | translate }}</span>
          </a>
        </div>
        <div class="flogo-mascot col-md-4">
          <object class="flogo-flows-mascotImg" data="/assets/svg/flogo-flynn.svg" type="image/svg+xml">
            <img src="/assets/svg/flogo-flynn.svg"/>
          </object>
        </div>
      </div>
      <div class="flogo-apps-list__main row">
        <div class="col-md-9">
          <flogo-apps-list #appList (onSelectedApp)="onSelectedApp($event)"></flogo-apps-list>
        </div>
        <div class="col-xs-6 col-md-3">
          <h4 class="flogo-main__subtitle">{{ 'FLOWS:RECENTLY-MODIFIED' | translate }}</h4>
          <div class="recent-flows">
            <ul class="recent-flows__list">
              <li *ngFor="let item of recent">
                <p><a [routerLink]="['/flows', item.id]" class="recent-flows__list__flow">{{item.name}}</a></p>
                <p>in <a [routerLink]="['/apps', item.appId]" class="recent-flows__list__app">{{item.appId}}</a></p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
