.flogo-main {
  color: #666;

  .header {
    display: flex;
    background-color: #fff;
    padding: 1em 0;

    .welcome-message {
      font-size: 3em;
      font-weight: 300;
      letter-spacing: 1px;
      color: #666;
    }

    .description-message {
      color: #666;
      font-size: 14px;
      line-height: 1.1;
      margin-top: 10px;
      margin-bottom: 15px;
      word-wrap: break-word;
    }

    .flogo-mascot {
      width: 300px;
    }
  }

  .recent-flows {
    border-bottom: solid 1px #d8d8d8;
    padding: 5px;
    padding-bottom: 20px;

    .flogo-main__subtitle {
      font-size: 1.2em;
      letter-spacing: .3px;
      line-height: 1;
    }

    .recent-flows__list {
      font-size: .875em;
      list-style: none;
      letter-spacing: .2px;
      padding: 0;
      .recent-flows__list__flow {
        color: #0081cb;
      }
      .recent-flows__list__app {
        font-style: italic;
        &:hover {
          text-decoration: none;
          color: #1573ca;
        }
      }
    }
  }

  .flows {
    margin-bottom: 30px;
  }

}
