.run-flow__container {
  position: relative;
}

.run-flow__button {
  margin: 0 0.5em;
  width: 124px;
  height: 35px;
}

.main {
  position: absolute;
  min-width: 376px;
  left: -130px;
  z-index: 2;
  margin-top: -5px;
}

.tip {
  height: 30px;
  width: 30px;
  background: #FFFFFF;
  transform: rotate(135deg);
  border: solid 1px #d8d8d8;
  border-right: none;
  border-top: none;
  margin: 0 auto;
  position: relative;
  top: 15px;
  box-shadow: -2px 2px 4px -2px rgba(0, 0, 0, 0.33);
}

.content {
  padding: 2em;
  background: #FFFFFF;
  box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.33);
  border: solid 1px #d8d8d8;
}

.button__container {
  text-align: right;
}

.flogo-button {
  width: 125px;
  margin-left: 0.5em;
}
