@import '../../../assets/_variables';

@action-fore-color: #449ed8;
@apps__trigger-border-width--empty: 3px;


/*
README!!
// Group of flows
// z-indexes inside the flow-group context
// 0: default flow card
// 1: hovered flow card
// 2: new flow button/delete popover
**/

:host(.flogo-group),
.flogo-group {
  margin: 1.25rem 0;
  display: flex;
}

.flogo-group__trigger {
  position: relative;
  width: 56px;
  z-index: 2;
  margin-top: -1px;
}

.flogo-group__flows {
  min-width: 0;
  flex: 1;
  margin-left: -16px;
}

.flogo-icon-add {
  margin-right: 10px;
}

.trigger {
  width: 50px;
  height: 50px;
}

.trigger__shape {
  fill:  @color-trigger-bg-color;
}

.trigger__shape--empty {
  fill: #fff;
  stroke: @gainsboro-six;
  stroke-width: 2.4;
  stroke-linejoin: round;
  stroke-dasharray: 4;
  stroke-dashoffset: 5;
  transform: translate(-1px, 1px);
}

.flogo-icon-trigger {
  z-index: 1;
  color: @trigger-blue;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.5rem;
  margin-top: 0.8rem;
  margin-left: 0.7rem;
}

.flogo-icon-trigger--empty {
  color: @gainsboro-six;
}

