<div class="content--with-menu">
  <flogo-triggers-configuration-details-tabs
    [tabs]="details?.tabs" [currentTabType]="currentTabType"
    (selectTab)="changeTabView($event)"></flogo-triggers-configuration-details-tabs>
  <div class="content_main" [ngSwitch]="currentTabType">
    <flogo-triggers-configuration-settings *ngSwitchCase="'settings'"
                                           [settingsForm]="settingsForm"></flogo-triggers-configuration-settings>
    <!--<ng-container *ngSwitchCase="'settings'">In Settings</ng-container>
    <ng-container *ngSwitchCase="'flowInputMappings'">In Input Mappings</ng-container>
    <ng-container *ngSwitchCase="'flowOutputMappings'">In Output Mappings</ng-container>-->
  </div>
</div>
