
@padding : 10px;

.demo-app {
  display: flex;
  flex-direction: column;
}

  .demo-app__header {
    display: flex;
    justify-content: space-between;
    height: 90px;
    background-color: #0275d8;
    align-items: baseline;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
  }

  .demo-app__main {
    display:flex;
    padding: @padding;
    margin-top: 20px;
  }

  .demo-app__main__add-pet {
    flex: 1 1 40%;
    padding: @padding;
    background-color: #F1F1F1;
    border: 1px solid dimgray;
    height: 300px;
  }


  .demo-app__main__pet-list {
    flex: 1 1 60%;
    padding: @padding;
    height: 100%;
    border: 1px solid dimgray;
    margin-left: 10px;
  }


