<div [formGroup]="settingsForm">
  <input type="text" [formControl]="settingsForm.controls.name">
  <input type="text" [formControl]="settingsForm.controls.description">
  <div *ngIf="triggerSettings" [formGroup]="settingsForm.controls.triggerSettings">
    <input *ngFor="let settingName of triggerSettings"
           [formControl]="settingsForm.controls.triggerSettings.controls[settingName]"
           fgTriggersConfigAutoComplete
           [autoCompleteVariablesSource]="settingsInformation['triggerSettings.'+settingName].propsAllowed"
           [autoCompleteAllowedSource]="settingsInformation['triggerSettings.'+settingName].allowed">
  </div>
  <div *ngIf="handlerSettings" [formGroup]="settingsForm.controls.handlerSettings">
    <input *ngFor="let settingName of handlerSettings"
           [formControl]="settingsForm.controls.handlerSettings.controls[settingName]"
           fgTriggersConfigAutoComplete
           [autoCompleteVariablesSource]="settingsInformation['handlerSettings.'+settingName].propsAllowed"
           [autoCompleteAllowedSource]="settingsInformation['handlerSettings.'+settingName].allowed">
  </div>
</div>
