<div [formGroup]="settingsForm">
  <input type="text" [formControl]="settingsForm.controls.name">
  <input type="text" [formControl]="settingsForm.controls.description">
  <div *ngIf="triggerSettings" [formGroup]="settingsForm.controls.triggerSettings">
    <input *ngFor="let settingName of triggerSettings"
           formControlName="{{settingName}}">
  </div>
  <div *ngIf="handlerSettings" [formGroup]="settingsForm.controls.handlerSettings">
    <input *ngFor="let settingName of handlerSettings"
           formControlName="{{settingName}}">
  </div>
</div>
