@import '../../../../../../assets/_variables';
@import '../../../../../../assets/uxpl/form';

:host {
  flex: 1;
  overflow: auto;
  background-color: @lighter-gray;
}

.settings-form {
  color: @color-ink;
  padding: 2em 2.625em;
}

.settings-block {
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;

  .settings-label {
    display: block;
    color: @warm-grey;
    order: 1;
  }

  .settings-field {
    width: 100%;
    border-radius: 3px;
    border: solid 1px @color-medium-gray;
    order: 2;

    &.ng-invalid {
      border-color: @scarlet;
    }

    &:focus {
      outline-color: @cerulean;

      ~ .settings-label {
        color: @cerulean;
      }
    }
  }
}


.settings-block__name {
  .uxpl-form-div;
}

.settings-field__description {
  resize: none;
  padding: 10px;
}

.settings-group {
  display: flex;
  justify-content: space-between;

  .settings-label {
    font-size: 1em;
  }

  .settings-field {
    font-size: 0.875em;
    height: 40px;
    padding: 10px;
  }

  .settings-group__content {
    width: 45%;
  }

  .settings-group__header {
    margin: 1em 0;
    display: flex;
    align-items: center;

    .settings-group__icon {
      margin-right: 5px;
    }
  }
}
