:host {
  display: inline-block;
  position: relative;
  float: right;
  height: 35px;
  line-height: 35px;
  margin: 24px;

  :hover {
    color: #0081CB;
  }
}

.flogo-flows-import-input-file {
  display: none;
}

.flogo-flows-import-container{
  width: 128px;
  height: 18px;
  font-family: "Source Sans Pro";
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 1px;
  text-align: center;
  color: #0081cb;
  clear: left;
  display: inline;
}
.flogo-flows-import-label {
  cursor: pointer;
  padding-left: 23px;

  transition: color 200ms ease-in-out;

  > .fa {
    font-size: 18px;
    position: absolute;
    left: 0;
    bottom: 8px;
  }
}
