@import (reference) '../_variables';

:host {
  display: flex;
  flex-direction: row;
}

.activity__field-group {
  width: 50%;
  padding: 1rem 1rem 1rem 2rem;
}

.activity__field-group + .activity__field-group {
  padding-left: 1rem;
}
