[submodule "submodules/flogo-contrib"]
	path = submodules/flogo-contrib
	url = https://github.com/TIBCOSoftware/flogo-contrib.git
	ignore = all
[submodule "submodules/flogo-services"]
	path = submodules/flogo-services
	url = https://github.com/TIBCOSoftware/flogo-services.git
	ignore = dirty
[submodule "submodules/flogo-cli"]
	path = submodules/flogo-cli
	url = https://github.com/TIBCOSoftware/flogo-cli.git
	ignore = all
