## Intellij
.idea/
*.ipr
*.iml
*.iws

## Atom Start
atom.sh

# Build dirs
submodules/**/build/
submodules/**/out/

## OS X Resources
.DS_Store

bin/
pkg/
**/vendor/src/
**/vendor/manifest

tags

# ignore node/grunt dependency directories
node_modules/
npm-debug.log
yarn-error.log

# ignore bower depedency directories
bower_components/

# temp directories
.tmp/
.sass-cache/

# ignore files/folder in dist
**/dist

.env
.vscode/
.build-cache
submodules/
Dockerfile
docker-start.sh
