## Intellij
.idea/
*.ipr
*.iml
*.iws

## Atom Start
atom.sh

## Gradle
.gradle

# Build dirs
submodules/**/build/
submodules/**/out/

## OS X Resources
.DS_Store

bin/
pkg/
**/vendor/src/
**/vendor/manifest

## Golang

# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

tags

# ignore node/grunt dependency directories
node_modules/

# ignore bower depedency directories
bower_components/

# temp directories
.tmp/
.sass-cache/

# ignore files/folder in dist
**/dist
!gulp/tasks/dist
#src/client/**/*.js
#src/client/**/*.map

# contrib folder store developer's activity, trigger and model
contrib/
!contrib/activity/README
!contrib/trigger/README
!contrib/model/README
