## Intellij
.idea/
*.ipr
*.iml
*.iws

## Atom Start
atom.sh

# Build dirs
submodules/**/build/
submodules/**/out/

## OS X Resources
.DS_Store

bin/
pkg/
**/vendor/src/
**/vendor/manifest

tags

# ignore node/grunt dependency directories
node_modules/
npm-debug.log
yarn-error.log

# ignore bower depedency directories
bower_components/

# temp directories
.tmp/
.sass-cache/

# ignore files/folder in dist
**/dist
!gulp/tasks/dist
#src/client/**/*.js
#src/client/**/*.map

# contrib folder store developer's activity, trigger and model
contrib/
!contrib/activity/README
!contrib/trigger/README
!contrib/model/README

.env
.vscode/
.build-cache
submodules/
Dockerfile
docker-start.sh
