[submodule "submodules/flogo-internal"]
	path = submodules/flogo-internal
	url = https://github.com/TIBCOSoftware/flogo-internal.git
	ignore = all
[submodule "submodules/flogo-contrib"]
	path = submodules/flogo-contrib
	url = https://github.com/TIBCOSoftware/flogo-contrib.git
	ignore = all
[submodule "submodules/flogo"]
	path = submodules/flogo
	url = https://github.com/TIBCOSoftware/flogo.git
	ignore = all
