<input class="flogo-installer-url-installer-input" type="text" placeholder="{{'URL-INSTALLER:PASTE-URL' | translate}}"
       [ngModel]="sourceUrl"
       (ngModelChange)="onSourceUrlChange($event)"/>
<div class="flogo-installer-url__button-container">
  <button class="flogo-installer-url__button flogo-button--secondary" (click)="onCancelAction($event)">
    {{'URL-INSTALLER:CANCEL' | translate}}
  </button>
  <button class="flogo-installer-url__button flogo-button--default" (click)="onInstallAction($event)">
    {{'MODAL:INSTALL' | translate}}
  </button>
</div>
