<div>

  <div class="flogo-common-edit-panel__container">
    <h3 class="flogo-common-edit-panel__legend" [hidden]="!fields.inputs.length">{{ 'FORM-BUILDER-CONFIGURATION-TASK:INPUT' | translate }}</h3>
    <div *ngFor="let item of fields.inputs; let index = index" class="">

      <div *ngIf="getControlByType(item).control == 'FieldTextBox'">
        <flogo-form-builder-fields-textbox [info]="getTaskInfo(item, 'input','inputs')" [fieldObserver]="_fieldObserver" ></flogo-form-builder-fields-textbox>
      </div>

      <div *ngIf="getControlByType(item).control == 'FieldListBox'">
        <flogo-form-builder-fields-listbox [info]="getTaskInfo(item, 'input','inputs')" [fieldObserver]="_fieldObserver" ></flogo-form-builder-fields-listbox>
      </div>

      <div *ngIf="getControlByType(item).control == 'FieldNumber'">
        <flogo-form-builder-fields-number [info]="getTaskInfo(item, 'input','inputs')" [fieldObserver]="_fieldObserver" ></flogo-form-builder-fields-number>
      </div>

      <div *ngIf="getControlByType(item).control == 'FieldRadio'">
        <flogo-form-builder-fields-radio [info]="getTaskInfo(item, 'input','inputs')" [fieldObserver]="_fieldObserver" [index]="index" ></flogo-form-builder-fields-radio>
      </div>

      <div *ngIf="getControlByType(item).control == 'FieldTextArea'">
        <flogo-form-builder-fields-textarea [info]="getTaskInfo(item, 'input','inputs')" [fieldObserver]="_fieldObserver" ></flogo-form-builder-fields-textarea>
      </div>


      <div *ngIf="getControlByType(item).control == 'FieldObject'">
        <flogo-form-builder-fields-object [info]="getTaskInfo(item, 'input','inputs')" [fieldObserver]="_fieldObserver" ></flogo-form-builder-fields-object>
      </div>

    </div>

    <h3 class="flogo-common-edit-panel__legend" [hidden]="!fields.outputs.length">{{ 'FORM-BUILDER-CONFIGURATION-TASK:OUTPUT' | translate }}</h3>
    <div *ngFor="let item of fields.outputs" class="flogo-task-container__output">

      <div *ngIf="getControlByType(item).control == 'FieldTextBox'">
        <flogo-form-builder-fields-textbox [info]="getTaskInfo(item, 'output','outputs')" [fieldObserver]="_fieldObserver" ></flogo-form-builder-fields-textbox>
      </div>

      <div *ngIf="getControlByType(item).control == 'FieldListBox'">
        <flogo-form-builder-fields-listbox [info]="getTaskInfo(item, 'output','outputs')" [fieldObserver]="_fieldObserver" ></flogo-form-builder-fields-listbox>
      </div>

      <div *ngIf="getControlByType(item).control == 'FieldNumber'">
        <flogo-form-builder-fields-number [info]="getTaskInfo(item, 'output','outputs')" [fieldObserver]="_fieldObserver" ></flogo-form-builder-fields-number>
      </div>

      <div *ngIf="getControlByType(item).control == 'FieldRadio'">
        <flogo-form-builder-fields-radio [info]="getTaskInfo(item, 'output','outputs')" [fieldObserver]="_fieldObserver" ></flogo-form-builder-fields-radio>
      </div>

      <div *ngIf="getControlByType(item).control == 'FieldTextArea'">
        <flogo-form-builder-fields-textarea [info]="getTaskInfo(item, 'output','outputs')" [fieldObserver]="_fieldObserver"  ></flogo-form-builder-fields-textarea>
      </div>

      <div *ngIf="getControlByType(item).control == 'FieldObject'">
        <flogo-form-builder-fields-object [info]="getTaskInfo(item, 'output','outputs')" [fieldObserver]="_fieldObserver"  ></flogo-form-builder-fields-object>
      </div>

    </div>
  </div>



</div>
