@import "../../../../../../assets/_variables";

.flogo-field-object {

  padding-bottom: 20px;
  textarea {
    height: 80px;
    color: @color-disabled;
    &:focus {
      border: solid 1px @azure-blue;
      box-shadow: none;
    }
  }

  .error {
    border-color: red;
  }

  .is-disabled {
    display: none;
  }

  .is-empty {
    color: gray;
  }

}


