@import '../../../assets/_variables';
@import "../../../assets/_mixins";
@import (reference) '../../../assets/uxpl/dropdown';

@trigger-height: 47px;
@arrow-width: 8px;

.shim-trigger__modal-close {
  .modal__close;
  top: 24px;
  right: 24px;
  height: 18px;
  width: 18px;
}

.shim-trigger_content {
  position: relative;
  margin-left: 10px;
  width: 211px;
  background-color: @color-trigger-bg-color;
  height: @trigger-height;
  align-items: center;
  padding-left: 3px;
  padding-bottom: 5px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  display: flex;
  &:after {
    display: block;
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: @trigger-height/2 0 @trigger-height/2 @arrow-width;
    border-color: transparent transparent transparent @color-trigger-bg-color;
    top: 0;
    right: -8px;
  }
  .shim-trigger-item {
    max-width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    letter-spacing: 0.3px;
    color: @color-trigger-icon;
    font-weight: 600;
  }

}

.shim-trigger-container {
  display: flex;
  cursor: pointer;
  width: 346px;
  height: 68px;
  margin-left: 55px;
  &:hover {
    border-radius: 4px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    border: solid 1px @gray-lighter;
  }
}

.shim-trigger-selected {
  display: flex;
  width: 346px;
  height: 68px;
  margin-left: 55px;
}

.shim-trigger-flow-item {
  margin: 0;
}

.shim-trigger-flow_content {
  margin-left: 35px;
}

.shim-trigger-connected-flow {
  font-size: 12px;
  color: @warm-grey;
  display: inline-block;
}

.shim-trigger__modal-header {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 18px;
}

.shim-trigger-icon {
  font-size: 20px;
  margin: 6px 8px;
}

.select-environment{
  font-size: 18px;
  font-weight: 600;
  margin-top: 10px;
}

.trigger-build-options{
  border : solid 1px @light-grey;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
}

.build-environment-list-item{
  .uxpl-dropdown;
  cursor: pointer;
  letter-spacing: 0.3px;
}

.build-environment-link {
  .uxpl-dropdown__item;
  display: inline-block;
  width: 100%;
  color: @cerulean;
  text-decoration: none;
}

.shim-trigger-build-link{
  text-decoration: none;
  color: @warm-grey;
}
