:host {
  display: block;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

ul > li > div > img {
  margin-left: 10px;
  margin-right: 10px;
}

.flogo-instructions-modal-title {
  font-size: 24px;
  line-height: 43px;
  font-family: 'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;
  color: #666;
  margin: 0;
  padding: 0;
}

.flogo-instructions-button{
  width:145px;
  height: 45px;
}

.flogo-instructions-modal-close {
  position: fixed;
  top: 20px;
  right: 20px;

  height: 20px;
  width: 20px;

  background: #FFF url('/assets/svg/flogo.close.svg') no-repeat center center;
  cursor: pointer;
}

.flogo-instructions-modal-hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

.flogo-instructions-panel {
  display:flex;
  flex-direction: row;
}

.flogo-instructions-option {
  cursor: pointer;
  width: 263px;
  height: 60px;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 4.29;
  letter-spacing: 0.4px;
  color: #666666;
}

.flogo-instructions-option-selected-mixin() {
  background-color: #36bfbb;
  color: white;
}

 .flogo-instructions-option-selected /*, .flogo-instructions-option:hover*/ {
  .flogo-instructions-option-selected-mixin();
}


.flogo-instructions-screenshot {
  width: 100%;
  height: 350px;
  margin-top: 10px;
}

.flogo-instructions-description {
  margin-left: 20px;
  color: #666;
  font-size: 14px;
}

