<div class="search">
  <input class="flogo-input-search search-input" type="text"
         placeholder="{{ 'ADD:FILTER-TASKS' | translate }}"
         (keyup)="filterActivities($event.target.value)">
</div>
<div class="scrollable-content">
  <div *ngIf="filteredActivities$ | async as activities">
    <ul class="activity-list" *ngIf="activities.length > 0; else emptyCase">
      <li class="activity-list-item" *ngFor="let activity of activities" (click)="selectActivity(activity.ref)">
        {{activity.title}}
      </li>
    </ul>
    <ng-template #emptyCase>
      <p class="empty-text">{{ 'ADD:NO-TASKS' | translate }}</p>
    </ng-template>
  </div>
  <ul class="activity-list">
    <li class="activity-list-item" (click)="handleInstallerWindow(true)">
      {{ 'FLOWS-DETAILS-TASKS:INSTALL-NEW-ACTIVITY' | translate }}
    </li>
  </ul>
</div>
<flogo-flow-installer [profileType]="(options.appInfo$ | async).appProfileType"
                      [installType]="'activity'"
                      [isActivated]="isInstallOpen"
                      (isActivatedChange)="handleInstallerWindow($event)"
                      (installed)="afterActivityInstalled($event)"></flogo-flow-installer>
<flogo-flow-sub-flow *ngIf="isSubflowOpen"
                     [appId]="(options.appInfo$ | async).appId"
                     [currentFlow]="(options.appInfo$ | async).actionId"
                     (flowSelected)="handleFlowSelection($event)"></flogo-flow-sub-flow>
