@import (reference) '../../../assets/uxpl/dropdown';
@import '../../../assets/_variables';

:host {
  .uxpl-dropdown-container();
  position: relative;
  padding: 10px 10px 0;
}

.search {
  text-align: center;
}

.activity-list {
  .uxpl-dropdown();
}

.activity-list-item {
  .uxpl-dropdown__item();
}
