
:host {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  min-height: ~'calc(100% - 55px)';
}

.flogo-select-trigger {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 700px;

  hr {
    border-top: 2px solid #d8d8d8;
    width: 507px;
    margin-top: 10px;
  }

  .triggers-container__header {
    display: flex;
    margin-top: 20px;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 0 8px;
    color: #666666;
    font-size: 18px;

    button {
      width: 98px;
      font-size: 16px;
    }
  }

  h1 {
    font-size: 36px;
    font-weight: 300;
    color: #676a6d;
    line-height: 0.5;
    letter-spacing: 0.6px;
    margin-top: 47px;
  }

  .triggers-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }

  .triggers-container__trigger-types {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .triggers-container__separator {
    width: 60px;
  }

  .triggers-container__existing-triggers {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    //padding-left: 20px;

    hr {
      margin-top: 20px;
    }

  }

  .triggers-container__existing-triggers .triggers-container__header {
    padding: 0;
  }

  .trigger {
    height: 60px;
    width: 507px;
    margin: 8px;
    border-radius: 5px;
    cursor: pointer;
    filter: drop-shadow(0 1px 1px gray);
  }

  .trigger:nth-of-type(2) {
    margin-top: 0;
  }

  .trigger__content {
    font-size: 14px;
    position: relative;
    left: 15px;
    top: 15px;
    font-weight: bold;
    align-items: center;
    display: flex;

    .icon {
      border-radius: 50%;
      background-color:  #79b8dc;
      width: 30px;
      height: 30px;

      i {
        width: 100%;
        height: 100%;
        color: #fff;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .label-icon {
      margin-left: 22px;
    }

  }


  .trigger--types {
    color: #676a6d;
    background-color: #fff;
  }

  .trigger--types:hover {
    box-shadow: 0 0 5px 0 #79b8dc;
  }

  .trigger--existing {
    color: #fff;
    background-color: #79b8dc;
  }

  .arrow-div {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }

  .arrow-div li  {
    height: 60px;
    width: 497px;
    color: white;
    text-decoration: none;
    background: #79b8dc;
    position: relative;
    display: flex;
    font-weight: bold;
    font-size: 14px;
    margin: 0 0 16px 0;
    cursor: pointer;
    //border-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 15px;
    filter: drop-shadow(0 1px 1px gray);
  }

  .arrow-div .label-icon {
    margin-left: 22px;
    display: flex;
    align-items: center;
  }

  .arrow-div .icon {
    font-size: 20px;
  }

  .arrow-div li:hover {
    box-shadow: 0 0 5px 0 #79b8dc;
    filter: drop-shadow(0 1px 1px gray);
  }

  .arrow-div li::after {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-left: 15px solid #79b8dc;

    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    position: absolute;
    top: 50%;
    margin-top: -30px;
    left: 100%;
    z-index: 2;
  }

  @media screen and (max-width: 1100px) {
    .triggers-container {
      flex-direction: column;
    }

    .triggers-container__header {
      justify-content: space-around;
    }

    .triggers-container__existing-triggers {
      align-items: center;
    }
  }

}

