<div class="content" [ngSwitch]="viewState">
  <div *ngSwitchCase="'activity'" class="activity">
    <div class="activity__info-group">
      <div class="activity__name">
        <span>{{ activity.name }}</span>
        <a class="schema-homepage" *ngIf="activity.schemaHomepage" [href]="activity.schemaHomepage" target="_blank">
          <i class="flogo-icon-info"></i>
        </a>
      </div>
      <div class="activity__id">ID: {{ activity.id }}</div>
      <div class="activity__description">{{ activity.description }}</div>
      <button *ngIf="canRestart" class="flogo-button--secondary btn-run" [disabled]="runDisabled" (click)="onRun()">
        {{ 'DEBUGGER:BUTTON-RUN-FROM-TILE' | translate }}
      </button>
    </div>
    <ng-container *ngIf="executionErrors?.length > 0; then: errorDisplay; else: activityFields"></ng-container>
  </div>
  <div *ngSwitchCase="'noFlowRun'" class="empty-text">
    <div class="empty-text__lead">{{ 'DEBUGGER:NO-RUN-MESSAGE-TITLE' | translate }}</div>
    <div class="empty-text__detail">{{ 'DEBUGGER:NO-RUN-MESSAGE-DETAIL' | translate }}</div>
  </div>
  <div *ngSwitchCase="'noActivityRun'" class="empty-text">
    <div class="empty-text__lead">{{ 'DEBUGGER:NO-ACTIVITY-RUN-MESSAGE' | translate }}</div>
  </div>
  <div *ngSwitchDefault class="empty-text">
    <div class="empty-text__lead">{{ 'DEBUGGER:EMPTY-STATE-TITLE' | translate }}</div>
    <div class="empty-text__detail">{{ 'DEBUGGER:EMPTY-STATE-DESCRIPTION' | translate }}</div>
  </div>
</div>
<ng-template #errorDisplay>
  <flogo-flow-debug-panel-error class="activity__field-group" [errors]="executionErrors"></flogo-flow-debug-panel-error>
</ng-template>
<ng-template #activityFields>
  <ng-container *ngIf="!isEndOfFlow; else: endOfFlow">
    <flogo-flow-debug-panel-fields class="activity__fields" [fields]="fields"></flogo-flow-debug-panel-fields>
  </ng-container>
</ng-template>
<ng-template #endOfFlow>
  <div class="empty-text">
    <div class="empty-text__lead">{{ 'DEBUGGER:EMPTY-STATE-END-OF-FLOW' | translate }}</div>
  </div>
</ng-template>
