:host {
  display: inline-block;
  position: relative;
  float: right;
  margin: 24px 0;

  :hover {
    color: #0081CB;
  }
}

.flogo-flows-container-box-add{
  top: -5px;
  right: 0;
  height: 35px;
  width: 46px;
  padding: 0;
  overflow: hidden;
  text-indent: 43px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.9) url("/assets/svg/flogo.flows.add.btn.svg") no-repeat -2px center;
  border: solid 2px #d8d8d8;
  font-size: 12px;
  color: #727272;
  cursor: pointer;
  white-space: nowrap;
  transition: width 500ms linear, text-indent 500ms linear;
  &:hover{
    width: 112px;
    text-indent: 36px;
  }
  &:active {
    color: #fff;
    border: #79b8dc;
    background: #79b8dc url("/assets/svg/flogo.flows.add.btn.selected.svg") no-repeat -2px center;
  }
}
.flogo-flows-add-save, .flogo-flows-add-cancel{
  width: 122px;
  height: 45px;
  font-size: 16px;
}
.flogo-flows-add-cancel{
  border: solid 2px #0081cb;
  background: #fff;
  color: #0081cb;
  &:hover{
    border-radius: 4px;
  }
  &:active{
    color: #fff;
    border-radius: 4px;
    background-color: #062e79;
    border: solid 2px #062e79;;
  }
}
.flogo-flows-add-save{
  background-color: rgba(0, 129, 203, 0.5);
  border: none;
  color: #fff;
  cursor: not-allowed;
  &.allowed{
    cursor: pointer;
    opacity: 1;
    background-color: #0081cb;
    &:hover{
      border-radius: 4px;
      background-color: #0081cb;
    }
    &:active{
      color: #fff;
      border-radius: 4px;
      background-color: #062e79;
      border: solid 2px #062e79;;
    }
  }
}
