<!--<div class="flogo-flows-container-box-add btn btn-default" (click)="modal.open()">-->
<div class="flogo-common-flows-new-flow" (click)="modal.open()">
    <img class="flogo-common-flows-new-flow__icon" src="/assets/svg/flogo.flows.add.btn.svg">
    <p class="flogo-common-flows-new-flow__text">{{ 'ADD:CREATE-NEW-FLOW' | translate }} </p>
</div>

<modal [size]="'sm'" #modal>
    <modal-header>
        <h3>{{ 'ADD:CREATE-NEW-FLOW' | translate }}</h3>
    </modal-header>
    <modal-body>
        <div class="form-group">
            <label for="flowName" class="h4">{{ 'ADD:FLOW-NAME' | translate }} </label>
            <input type="text" [(ngModel)]="flowInfo.name" class="form-control" id="flowName" (keyup)="onChangeFlowName($event)" placeholder="{{ translate.get('ADD:GIVE-YOUR-FLOW-A-NAME').value }}">
            <label *ngIf="flowNameExists" for="flowName" class="flogo-flows-add-error">{{ 'ADD:FLOW-NAME-EXISTS' | translate }} </label>
        </div>
        <div class="form-group">
            <label for="flowDescription" class="h4">{{ 'ADD:FLOW-DESCRIPTION' | translate }} </label>
            <textarea class="form-control" [(ngModel)]="flowInfo.description" rows="3" id="flowDescription" placeholder="{{ translate.get('ADD:ADD-FLOW-DESCRIPTION').value }}"></textarea>
        </div>
    </modal-body>
    <modal-footer>
        <button type="button" class="flogo-flows-add-cancel" data-dismiss="modal" (click)="closeAddFlowModal()">{{ 'ADD:CANCEL' | translate }} </button>
        <button type="button" class="flogo-flows-add-save" [ngClass]="{allowed: flowInfo.name}" (click)="flowInfo.name&&sendAddFlowMsg()">{{ 'ADD:SAVE' | translate }} </button>
    </modal-footer>
</modal>
