<button class="flogo-flows-container-box-add btn btn-default" (click)="modal.open()">
    New flow
</button>

<modal [size]="'sm'" #modal>
    <modal-header><h3>Create new flow</h3></modal-header>
    <modal-body>
        <div class="form-group">
            <label for="flowName" class="h4">Flow name</label>
            <input type="text" [(ngModel)]="flowInfo.name" class="form-control" id="flowName" placeholder="Give your flow a name">
        </div>
        <div class="form-group">
            <label for="flowDescription" class="h4">Flow description</label>
            <textarea class="form-control" [(ngModel)]="flowInfo.description" rows="3" id="flowDescription" placeholder="Add a description of your flow"></textarea>
        </div>
    </modal-body>
    <modal-footer>
        <button type="button" class="flogo-flows-add-cancel" data-dismiss="modal" (click)="closeAddFlowModal()">CANCEL</button>
        <button type="button" class="flogo-flows-add-save" [ngClass]="{allowed: flowInfo.name}"
                (click)="flowInfo.name&&sendAddFlowMsg()">SAVE</button>
    </modal-footer>
</modal>
