<div class="new-flow-modal">
  <form novalidate [formGroup]="flow" (ngSubmit)="createFlow(flow)">
    <h3 class="title">{{ 'ADD:CREATE-NEW-FLOW' | translate }}</h3>
    <div class="form-group">
      <label for="flowName" class="form__label">{{ 'ADD:FLOW-NAME' | translate }} </label>
      <input type="text" autofocus class="form-control form__input" id="flowName" formControlName="name" asyncValidator placeholder="{{ 'ADD:GIVE-YOUR-FLOW-A-NAME' | translate }}">
      <label *ngIf="flow.get('name').hasError('uniqueInvalid')" for="flowName" class="form__error">{{ 'ADD:FLOW-NAME-EXISTS' | translate}}</label>
    </div>
    <div class="form-group">
      <label for="flowDescription" class="form__label">{{ 'ADD:FLOW-DESCRIPTION' | translate }} </label>
      <textarea class="form-control form__input" formControlName="description" rows="3" id="flowDescription" placeholder="{{ 'ADD:ADD-FLOW-DESCRIPTION' | translate }}"></textarea>
    </div>
    <div class="footer">
      <button type="button" class="flogo-button--secondary flogo-flows-add-cancel" data-dismiss="modal" (click)="closeAddFlowModal()">{{ 'ADD:CANCEL' | translate }}
      </button>
      <button type="submit" class="flogo-button--default flogo-flows-add-save" [disabled]="!flow.valid">
        {{ 'ADD:CREATE' | translate }}
      </button>
    </div>
  </form>
</div>
