.content--with-menu {
  display: flex;
  width: 100%;
  border: solid 1px #b6b6b6;
  flex: 1;
}

.content__menu {
  border-right: solid 2px #dedede;
  min-width: 90px;
  width: 20%;

  @media (min-width: 1250px) {
    width: 200px;
  }

}

.content__mapper {
  border: none;
  height: 100%;
  flex: 1;
}

.menu__item {
  display: block;
  width: 100%;
  font-size: 0.875em;
  line-height: 1.43;
  padding: 1.143em 1.429em;
  border: 1px solid transparent;

  &:hover {
    color: #0081cb;
    background-color: rgba(197, 202, 233, 0.2)
  }

  &.--active {
    color: #062e79;
    background-color: #cad3df
  }

  &.--disabled,
  &[disabled] {
    pointer-events: none;
    color: #bdbdbd;
  }

  &.--has-errors {
    color: #d0011b;
    border-color: #d0011b;
  }

}
