.content--with-menu {
  display: flex;
  width: 100%;
  border: solid 1px #b6b6b6;
  flex: 1;
  flex-direction: column;
}

.content__menu{
  display: flex;
  border-bottom: solid 2px #b6b6b6;
  background-color: white;
  height: 2.5em;
  flex-direction: column;

  ul li{
    display: inline;
    padding: 3em;
  }
}
.modal-wrapper {
  background-color: #fff;

  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  // todo: proper z-index
  z-index: 999;
}
.content__mapper {
  border: none;
  height: 100%;
  flex: 1;
}

.menu__item {
  width: 100%;
  line-height: 1.43;
  padding: 0.4em 1.429em;
  color: #0081cb;


  &:hover {
    color: #062e79;
  }

  &.--active {
    color: #062e79;
    border-bottom: 4px solid;
    font-weight: bold;

  }

  &.--disabled,
  &[disabled] {
    pointer-events: none;
    color: #bdbdbd;
  }

  &.--has-errors {
    color: #d0011b;
    border-color: #d0011b;
  }

}
