<bs-modal
  cssClass="walkthrough-modal"
  #instructionsModal
  (onClose)="onModalCloseOrDismiss($event)"
  (onDismiss)="onModalCloseOrDismiss($event)"
>
  <div class="walkthrough">
    <div class="walkthrough-header">
      <h3 class="walkthrough-modal-title">Getting started with Flogo</h3>
      <i class="flogo-icon-close walkthrough-modal-close" (click)="closeModal()"></i>
    </div>

    <div class="walkthrough-panel">
      <ul class="walkthrough-panel__step-list">
        <li
          *ngFor="let step of steps; let i = index"
          (click)="clickOption(step, i)"
          class="walkthrough-option"
          [ngClass]="{ 'walkthrough-option-selected': i == currentIndex }"
          data-hook="walkthrough-step"
        >
          <span class="walkthrough-option__bullet">{{ i + 1 }}</span> {{ step.title }}
        </li>
      </ul>
      <div class="walkthrough-panel__content">
        <div><img class="walkthrough-screenshot img-responsive" src="/assets/img/{{ currentStep.screenshot }}" /></div>
        <div class="walkthrough-description">{{ currentStep.description }}</div>
      </div>
    </div>

    <div class="walkthrough-footer">
      <button
        type="button"
        *ngIf="currentIndex > 0"
        id="buttonBack"
        class="walkthrough-button flogo-button--secondary"
        (click)="clickBack($event)"
      >
        {{ 'MODAL:BACK' | translate }}
      </button>
      <button
        type="button"
        *ngIf="currentIndex < STEPS_LENGTH"
        id="buttonNext"
        class="walkthrough-button flogo-button--default"
        (click)="clickNext($event)"
      >
        {{ 'MODAL:NEXT' | translate }}
      </button>
      <button
        type="button"
        *ngIf="currentIndex == STEPS_LENGTH"
        id="buttonClose"
        class="walkthrough-button flogo-button--default"
        (click)="closeModal()"
      >
        {{ 'MODAL:CLOSE' | translate }}
      </button>
    </div>
  </div>
</bs-modal>
