.subflow-content {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 20px;
}

.subflow-name {
  letter-spacing: 0.4px;
  line-height: 1.25;
  color: #212121;
}

.subflow-select-link {
  margin-left: 15px;
}

.subflow-description {
  letter-spacing: 0.4px;
  color: #4f4f4f;
  margin-top: 6px;
}

.subflow-createdAt {
  font-size: 0.75em;
  color: #666666;
  font-style: italic;
  margin: 6px 0 24px;
  letter-spacing: 0.8px;
}

.flogo-link {
  font-size: 1em;
  color: #0081cb;
  letter-spacing: 0.4px;
}

