.subflow-content{
  margin-left: 15px;
  margin-top: 20px;
}

.subflow-name {
  font-weight: bold;
}

.subflow-createdAt {
  font-size: 0.75em;
  color: #666666;
  font-style: italic;
  margin-bottom: 20px;
}

.flogo-link {
  font-size: 1em;
  color: #0081cb;
  letter-spacing: 0.4px;
}

