<div class="subflow-content">
    <div class="subflow-name">{{subFlow.name}}<a class="flogo-link subflow-select-link" (click)="selectFlow()">{{'SUBFLOW:SELECT-DIFFERENT-FLOW'
      | translate}}</a></div>
    <div class="subflow-description">{{subFlow.description}}</div>
    <div class="subflow-createdAt">{{'TASK-CONFIGURATOR:SUB-FLOW:CREATED' | translate}} {{subFlow.createdAt |
      timeFromNow}}
    </div>
    <div><a href="/flows/{{subFlow.flowPath}}" class="flogo-link" target="_blank">{{
      'TASK-CONFIGURATOR:SUB-FLOW:LINK-TEXT' | translate }}</a></div>
  </div>

