.content--with-menu {
  display: flex;
  width: 100%;
  height: 100%;
  border: solid 1px #b6b6b6;
  flex: 1;
  flex-direction: column;
}

.content__menu{
  border-bottom: solid 2px #b6b6b6;
  background-color: white;
  margin: 0;
}
.content__mapper {
  border: none;
  height: 100%;
  flex: 1;
}

.menu__item {
  display: inline;
  width: 100%;
  font-size: 0.875em;
  line-height: 2.43;
  padding: 0.5em 3.429em;
  color: #0081cb;
  border-bottom: 3px solid transparent;
  cursor: pointer;

  &:hover {
    color: #062e79;
  }

  &.--active {
    color: #062e79;
    font-weight: bold;
    border-bottom: 3px solid #062e79;

  }

  &.--disabled,
  &[disabled] {
    pointer-events: none;
    color: #bdbdbd;
  }

  &.--has-errors {
    color: #d0011b;
    border-color: #d0011b;
  }

}
