<div class="content--with-menu">
  <ul class="content__menu">
    <li class="menu__item" *ngFor="let tab of tabs$ | async; trackBy: trackTabsByFn"
        [class.--has-errors]="tab.state.isInvalid"
        [class.--disabled]="tab.state.isDisabled"
        [class.--active]="tab.id === currentTabId"
        (click)="setCurrentView(tab.id)">{{ tab.i18nKey | translate }}</li>
  </ul>
  <!--<flogo-mapper class="mapper content__mapper"-->
                <!--inputsSearchPlaceHolder="{{ currentViewStatus?.inputsLabelKey | translate }}"-->
                <!--outputsSearchPlaceHolder="{{ currentViewStatus?.outputsLabelKey | translate }}"-->
                <!--[context]="mapperContext" (mappingsChange)="onMappingsChange($event)"></flogo-mapper>-->
</div>
