@import '../../../../assets/_variables';

@color-error: @color-danger;
@color-error--selected: #a23746;

@diagram-node-height: 110px;
@diagram-placeholder-node-height: 70px;
@diagram-row-height: 140px;
@diagram-node-font-size-large: 12px;
@diagram-node-font-size: 12px;
@diagram-node-font-size-small: 10px;

:host {
  display: flex;
  width: 100%;
  position: relative;
  z-index: 0;
  height: 100%;
}

.flogo-flows-detail-diagram {
  padding: 0;
  margin: 0;
  min-width: 100%;
  transition: background-color 250ms linear;
  white-space: pre-wrap;
}

.flogo-flows-detail-diagram--hidden {
  position: absolute;
  left: -1000px;
  top: -1000px;
}

.flogo-flows-detail-diagram-row {
  border-radius: 4px;
  min-width: 100%;
  white-space: nowrap;
  display: inline-block;
  padding: 0 30px;
  margin: 0;
  position: relative;
  width: 0;
  z-index: 0;
  &:hover {
    background-color: rgba(182, 217, 237, 0.2);
  }
}

.flogo-flows-detail-diagram-node {
  position: relative;
  width: @diagram-node-height;
  height: @diagram-node-height;
  //border: solid 1px #f4f4f4;
  //background-image: linear-gradient(to right, #f4f4f4, #ffffff);
  background: #fff;
  border-radius: 10px;

  white-space: normal;
  font-size: @diagram-node-font-size-large;
  line-height: 1;
  letter-spacing: 1px;
  color: #666666;

  display: inline-block;
  margin: 20px 5px;
  text-align: center;

  transition: all 250ms linear;

  &:first-of-type {
    margin-left: 0;
  }
  &:last-of-type {
    margin-right: 0;
  }

  &[data-flogo-node-type="node_root"],
  &[data-flogo-node-type="node"] {
    background: transparent;
    border-radius: 0;
  }

  &.flogo-flows-detail-diagram-node-selected {
    transform: scale(1.1);
    z-index: 10;
    border: none;
    &[data-flogo-node-type="node_root"], &[data-flogo-node-type="node"] {
      .flogo-flows-detail-diagram-node-detail {
        color: white;
      }
    }
    &:before {
      background: @color-tile-selected;
    }

    &[data-flogo-node-type="node_add"],
    &[data-flogo-node-type="node_root_new"] {
      opacity: 1;

      .flogo-flows-detail-diagram-node-detail {
        background-color: #4e7ead;
        border: none;

        &:before {
          color: #FFF;
        }
      }
    }

    &.flogo-flows-detail-diagram-node-has-warn {
      .flogo-flows-detail-diagram-node-detail-description {
        font-weight: normal;
        font-size: @diagram-node-font-size-small;
        color: #fff;
      }
    }
  }
  &.flogo-flows-detail-diagram-node-run {
    &:before {
      background: #DEF2FE;
      border-top: solid 1.6px #8FC5E4;
      border-right: solid 1.6px #8FC5E4;
    }
  }
  &:hover {
    &[data-flogo-node-type="node"],
    &[data-flogo-node-type="node_root"] {
      z-index: 100;
    }

    &[data-flogo-node-type="node_branch"] {
      z-index: 100;

      .flogo-flows-detail-diagram-node-menu-gear {
        opacity: 1;
      }
    }

    .flogo-flows-detail-diagram-node-menu {
      width: 140px;
    }
    .flogo-flows-detail-diagram-node-menu-gear {
      //display: block;
    }

  }

  // need to use shadow piercing combinator for those elements that are not generated by angular
  @deep: ~'>>>';

  .flogo-flows-detail-diagram-node-detail-content {
    position: relative;
    height: 100%;
    width: 100%;
  }

  @{deep} {
    .flogo-flows-detail-diagram-node-detail-shape {
      display: block;
      // important to let the background receive the events and open the node menu
      pointer-events: none;
      left: -16px;
      top: -8px;
      position: absolute;
      z-index: -1;
    }

    .tile__terminal {
      display: none;
    }
  }

  &.flogo-flows-detail-diagram-node-run @{deep}  {
    .tile__bg {
      fill: url(#flogo-diagram-tile-bg-run);
    }

    .tile__stroke {
      stroke: #79b8dc;
      stroke-width: 0.8;
    }

  }

  &.flogo-flows-detail-diagram-node-selected @{deep} {
    .tile__bg {
      fill: #4e7ead;
    }

    .tile__shadow {
      filter: url(#flogo-diagram-tile-shadow-active)
    }

    .tile__stroke {
      stroke: #4e7ead;
    }

  }

  &.flogo-flows-detail-diagram-node-has-warn @{deep} {

    .tile__stroke {
      stroke: #f5a623;
      stroke-width: 2;
    }

  }

  &.flogo-flows-detail-diagram-node-last-node @{deep} {
    .tile__default {
      display: none;
    }

    .tile__terminal {
      display: block;
    }
  }

  .flogo-flows-detail-diagram-node-menu:hover {

    left: 103px;
    background-color: #79b8dc;
    width: 162px;
    transition-delay: 200ms;

    .flogo-flows-detail-diagram-node-menu-box {
      width: 118px;
      transition-delay: 200ms;
    }
  }

  &.flogo-flows-detail-diagram-node-last-node:before {
    display: none;
  }

  &[data-flogo-node-type="node_branch"] {
    .flogo-flows-detail-diagram-node-menu:hover {
      left: 115px;
      background-color: #79b8dc;
      //box-shadow: 0 2.5px 7px 0 rgba(0, 0, 0, 0.3);
      width: 142px; // TODO maybe in the future, we should make the width dynamic..

      .flogo-flows-detail-diagram-node-menu-box {
        opacity: 1;
        width: 98px;
      }
    }
  }

  &[data-flogo-node-type="node_link"] {
    background-color: #F0AD4E;
    color: #222;
  }
  &[data-flogo-node-type="node_branch"] {
    background-color: #B9C519;
    color: #222;
  }
  &[data-flogo-node-type="node_root"] {
    //background-color: #206188;
    .flogo-flows-detail-diagram-node-menu {
      display: none;
    }
  }
  &[data-flogo-node-type="node_add"],
  &[data-flogo-node-type="node_root_new"],
  &[data-flogo-node-type="node_holder"] {
    transform: scale(.63);
    overflow: hidden;
    img,
    .flogo-flows-detail-diagram-node-detail-title,
    .flogo-flows-detail-diagram-node-detail-description,
    .flogo-flows-detail-diagram-node-menu,
    .flogo-flows-detail-diagram-node-badge {
      display: none;
    }
  }

  &[data-flogo-node-type="node_holder"],
  &[data-flogo-node-type="node_padding"] {
    opacity: 0;

    &,
    .flogo-flows-detail-diagram-node-menu,
    .flogo-flows-detail-diagram-node-detail {
      cursor: default;
    }

    &:before {
      display: none;
    }
  }

  &[data-flogo-node-type="node_add"],
  &[data-flogo-node-type="node_root_new"] {
    background-color: #fff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
    opacity: 0;
    .flogo-flows-detail-diagram-node-detail:before {
      content: '+';
      font-size: 88px;
      line-height: 110px;
      color: #b6d9ed;
    }
    &:hover {
      box-shadow: 3px 3px 8px 0 rgba(0, 0, 0, 0.3);
    }
  }
  &[data-flogo-node-type="node_holder"] {
    background-color: rgba(179, 214, 233, 0.9);
    .flogo-flows-detail-diagram-node-detail {
      background-color: rgba(179, 214, 233, 0.9);
      z-index: 4;
    }
  }
  &[data-flogo-node-type="node_root_new"] {
    opacity: 1;
    cursor: pointer;
  }

  .flogo-flows-detail-diagram-node-detail {
    //background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    //box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, 0.3);
    //border-radius: 10px;
    width: 100%;
    height: 100%;
    padding: 0 5px;

    cursor: pointer;

    .flogo-flows-detail-diagram-node-detail-icon {
      margin: 14px 0 13px;
      width: 30px;

      &.--lambda {
        color: #fff;
        background-color: orange;
        border-radius: 50%;
        padding: 5px;
        height: 30px;
      }

      &.--subflow {
        width: 52px;
        height: 32px;
        margin: 30px 0 5px;
      }

    }

  }

  &[data-flogo-node-type="node_root_error_new"] {
    pointer-events: none;
    background: transparent;

    .flogo-flows-detail-diagram-node-detail-error-icon {
      color: #ee3342;
      font-size: 22px;
      // compensate for background
      margin-left: 6px;
      display: flex;
      height: 100%;
      flex-direction: column;
      align-items: center;
      text-align: center;
      justify-content: center;
      transform: rotate(180deg);
    }

    @{deep} .flogo-flows-detail-diagram-node-detail-shape {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .flogo-flows-detail-diagram-node-detail-title {
    font-weight: 600;
    padding-bottom: 10px;
    letter-spacing: .4px;
    max-width: 90%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: auto;
  }
  .flogo-flows-detail-diagram-node-detail-description {
    font-size: @diagram-node-font-size-small;
    line-height: 1.1;
    max-width: 90%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: auto;
  }
  &.flogo-flows-detail-diagram-node-has-warn {
    .flogo-flows-detail-diagram-node-detail-description {
      font-weight: 600;
      font-size: 11px;
      color: #ff9f00;
    }
  }
  .flogo-flows-detail-diagram-node-menu {
    position: absolute;
    left: 5px;
    top: 1px;
    z-index: 1;
    width: 100px;
    height: 100%;
    overflow: hidden;
    border-radius: 10px;
    background-color: rgba(179, 214, 233, 0.9);
    //box-shadow: 0 2.5px 7px 0 rgba(0, 0, 0, 0.3);
    transition: all 250ms linear;
    cursor: pointer;
  }
  .flogo-flows-detail-diagram-node-menu-box {
    float: left;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 98px;
    border-top: solid 1.3px @color-secondary;
    border-bottom: solid 1.3px @color-secondary;

    background: #fff;
    //box-shadow: 0 1px 2px 0 rgba(199, 199, 199, 0.5);
    transition: all 250ms linear;
    li {
      margin-top: 0;
      padding-left: 22px;
      line-height: 30px;
      text-align: left;
      list-style: none;
      font-size: @diagram-node-font-size;
      cursor: pointer;
      i {
        pointer-events: none;
        position: relative;
        top: 1px;
        font-size: @diagram-node-font-size + 1;
        margin-right: 3px;
      }
    }
  }
  .flogo-flows-detail-diagram-node-menu-gear {
    float: left;
    width: 42px;
    height: 100%;
    background: url("/assets/svg/flogo.flows.detail.diagram.gear.icon.svg") center 11px no-repeat;
    //display: none;
  }

  &[data-flogo-node-type="node_branch"] {
    // override generic style
    background: none;
    box-shadow: none;
    border: none;
    cursor: pointer;

    &:before {
      display: none;
    }

    .flogo-flows-detail-diagram-node-detail {

      background: none;
      box-shadow: none;
      border: none;

      height: 26px;
      padding: 0;
      margin: auto;
      bottom: 0;
      left: 25px;

      z-index: 3;

      &:before {
        display: inline-block;
        content: "==";
        position: absolute;
        z-index: 4;
        right: 30px;
        bottom: 3px;
        margin: auto;
        font-size: 20px;
        font-weight: bold;
        color: #FFF;
      }
    }

    .flogo-flows-detail-diagram-node-menu {
      height: 26px;
      margin: auto;
      bottom: 0;
      width: 140px;
      left: 22px;
      background-color: transparent;
      box-shadow: none;
    }

    .flogo-flows-detail-diagram-node-menu-box {
      opacity: 0;

      > li {
        line-height: 24px;
      }
    }

    .flogo-flows-detail-diagram-node-menu-gear {
      background-position: center center;
      background-color: @color-secondary;
      opacity: 0;
      transition: opacity 250ms linear;
    }

    .flogo-flows-detail-diagram-node-detail-branch,
    .flogo-flows-detail-diagram-node-detail-branch-selected,
    .flogo-flows-detail-diagram-node-detail-branch-hover,
    .flogo-flows-detail-diagram-node-detail-branch-run {
      position: absolute;
      margin: 0;
      bottom: -10px;
      right: 2px;
      width: 95px;

      .img-left,
      .img-right {
        position: absolute;
        bottom: 0;
      }

      .img-left {
        width: 33%;
        left: 0;
      }

      .img-right {
        width: 64%;
        height: 70px;
        right: 3px;
      }
    }

    .flogo-flows-detail-diagram-node-detail-branch {
      opacity: 1;
    }
    .flogo-flows-detail-diagram-node-detail-branch-selected,
    .flogo-flows-detail-diagram-node-detail-branch-hover,
    .flogo-flows-detail-diagram-node-detail-branch-run {
      opacity: 0;
    }

    &.flogo-flows-detail-diagram-node-run {

      .flogo-flows-detail-diagram-node-detail:before {
        color: #79B8DC;
      }

      .flogo-flows-detail-diagram-node-detail-branch-run {
        opacity: 1;
      }

      .flogo-flows-detail-diagram-node-detail-branch {
        opacity: 0;
      }

    }

    &:hover {
      .flogo-flows-detail-diagram-node-detail-branch-hover {
        opacity: 1;
      }

      // override the node-run status
      .flogo-flows-detail-diagram-node-detail:before {
        color: #FFF;
      }

      // `hover` style overrides the `run` style
      .flogo-flows-detail-diagram-node-detail-branch,
      .flogo-flows-detail-diagram-node-detail-branch-run {
        opacity: 0;
      }
    }

    &.flogo-flows-detail-diagram-node-selected {
      transform: none;

      // override the node-run status
      .flogo-flows-detail-diagram-node-detail:before {
        color: #FFF;
      }

      .flogo-flows-detail-diagram-node-detail-branch-selected {
        opacity: 1;
      }

      // `selected` style overrides the `run` and `hover` style
      .flogo-flows-detail-diagram-node-detail-branch,
      .flogo-flows-detail-diagram-node-detail-branch-run,
      .flogo-flows-detail-diagram-node-detail-branch-hover {
        opacity: 0;
      }
    }
  }
}

.flogo-flows-detail-diagram-node-menu-box li {
  &:hover {
    background: #ededed;
  }
  i {
    margin-right: 10px;
  }

}

.flogo-flows-detail-diagram-node-badge {
  display: flex;
  align-items: center;
  position: absolute;
  top: -9px;
  right: 8px;
  z-index: 4;
  color: #fff;

  .flogo-flows-detail-diagram-status-icon {
    border-radius: 50%;
    width: 18px;
    height: 18px;
    line-height: 18px;
    margin-left: 4px;
    display: inline-block;

    &.flogo-flows-detail-diagram-ic-transform {
      background-image: url('/assets/svg/flogo.flows.diagram.icon.transform.svg');
    }

    &.flogo-flows-detail-diagram-ic-error {
      background-image: url('/assets/svg/flogo.flows.diagram.icon.error.svg');
    }
    &.flogo-icon-iterator {
      background: #36bfbb;
      font-size: 14px;

    }
  }
}

.flogo-flows-detail-diagram-row.hover {
  .flogo-flows-detail-diagram-node[data-flogo-node-type="node_add"] {
    opacity: 1;
    cursor: pointer;
  }
  .flogo-flows-detail-diagram-node[data-flogo-node-type="node_holder"] {
    opacity: 1;
  }

}
