@import '../../../../../../assets/_variables';

:host {
  display: flex;
  align-items: center;
  color: @color-dark-gray;
  text-align: right;
  font-size: .88rem;
}

.buttons {
  flex: 1;
  text-align: right;
  margin-right: 0.75rem;
}

.action + .action {
  margin-left: 1.2rem;
}

.default-text {
  margin-right: 2.5rem;
}
