<div *ngIf="status && status.isDirty; else noChanges" class="buttons">
  <button class="flogo-button--secondary action"
          [disabled]="isSaving"
          (click)="discardChanges.emit()">
    {{ 'TRIGGER-CONFIGURATOR:CANCEL' | translate }}
  </button>
  <button [disabled]="!status?.isValid || status?.isPending || isSaving"
          class="flogo-button--primary action"
          (click)="save.emit()">
    {{ (isSaving ? 'TRIGGER-CONFIGURATOR:SAVING' : 'TRIGGER-CONFIGURATOR:SAVE') | translate }}
  </button>
</div>
<ng-template #noChanges>
  <span class="default-text">{{ 'TRIGGER-CONFIGURATOR:NO-PENDING-CHANGES' | translate }}</span>
</ng-template>
