<footer class="flogo-footerContainer">
  <div class="flogo-footerText">
    <p class="flogo-copyright">{{ 'FLOGO:COPYRIGHT-NOTICE' | translate }}</p>
    <div class="flogo-footerPrivacy">
      <a href="http://www.tibco.com/company/privacy-cma" target="_new" class="flogo-privacyText">{{ 'FLOGO:LINK-PRIVACY-POLICY' | translate }}</a>
      <a href="http://www.tibco.com/company/termsofuse" target="_new" class="flogo-privacyText">{{ 'FLOGO:LINK-TERMS-OF-USE' | translate }}</a>
      <a href="http://www.tibco.com/trademarks" target="_new" class="flogo-privacyText">{{ 'FLOGO:LINK-TRADEMARKS' | translate }}</a>
    </div>
  </div>
</footer>

