
.flogo-flows-flow-name-save, .flogo-flows-flow-name-cancel {
  width: 122px;
  height: 45px;
  font-size: 16px;
}

.flogo-flows-flow-name-save {
  cursor: not-allowed;
  opacity: .5;
  &.allowed {
    cursor: pointer;
    opacity: 1;
  }
}

.flogo-flows-flow-name-error {
  color: red
}
