<div class="'flogo-common-modal flogo-profile__modal'">
  <div class="flogo-profile__modal-body">
    <i class="flogo-icon-close flogo-profile__close" (click)="control.close()"></i>
    <div>
      <h4 class="flogo-profile__head">{{'PROFILE-MODAL:SELECT_PROFILE' | translate}}</h4>

      <div class="flogo-profile__container">

        <div class="flogo-profile__section-wrapper">
          <div class="flogo-profile__section" (click)="onAddProfile(FLOGO_PROFILE_TYPE.DEVICE, 'Feather M0 WIFI')">
            <div class="flogo-profile__tile flogo-profile__device--selectable">
            </div>
          </div>
          <div class="flogo-profile__section" (click)="onAddProfile(FLOGO_PROFILE_TYPE.MICRO_SERVICE)">
            <div class="flogo-profile__tile flogo-profile__microservice--selectable">
            </div>
          </div>
        </div>

        <div class="flogo-profile__section-wrapper">
          <div class="flogo-profile__labels">
            <div class="flogo-profile__label flogo-profile__device-label">{{'PROFILE-MODAL:LABEL_DEVICE' | translate}}</div>
            <div class="flogo-profile__label flogo-profile__microservice-label">{{'PROFILE-MODAL:LABEL_MICROSERVICE' | translate}}</div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
