<div class="modal-wrapper" *ngIf="isActive" [@dialog]>
  <div class="mapper-modal qa-transform-modal">
    <div class="mapper-modal__header header">
      <div class="header__title">
        <div class="header__title--configure">Configure Branch</div>
        <div class="header__title--links">
          {{ this.parentActivity }} <span *ngIf="this.childActivity" class="link-separator">to</span
          >{{ this.childActivity }}
        </div>
      </div>

      <div class="header__actions actions">
        <button class="flogo-button--secondary" (click)="cancel()">Cancel</button>
        <button class="flogo-button--primary  actions__action--save" [disabled]="this.isSaveDisabled" (click)="save()">
          {{ 'BRANCH-CONFIGURATOR:SAVE' | translate }}
        </button>
      </div>
      <button class="mapper-modal__close" (click)="cancel()">
        <span aria-hidden="true" class="sr-only">{{ 'BRANCH-CONFIGURATOR:CANCEL' | translate }}</span>
      </button>
    </div>

    <div class="mapper-modal__content">
      <flogo-mapper
        class="content"
        [controller]="inputMapperController"
        [isSingleInputMode]="true"
        outputsSearchPlaceHolder="{{ 'BRANCH-CONFIGURATOR:AVAILABLE-DATA' | translate }}"
      >
      </flogo-mapper>
    </div>
  </div>
</div>
