<div class="flogo-common-edit-panel">

  <div [hidden]="hasErrors">

    <!-- PANEL HEADER -->
    <div class="flogo-common-edit-panel__head" [class.flogo-common-edit-panel__head-branch]="_context.isBranch">
      <div class="flogo-common-edit-panel__head-wrapper">

        <!-- PANEL TITLES -->
        <div  *ngIf="_task && (_context.isTask || _context.isTrigger)" [ngClass]="{trigger:_context.isTrigger, task: _context.isTask}">
          <div class="flogo-common-edit-panel__head-titles">
            <h3 [(myContenteditable)]="_task.name" class="flogo-common-edit-panel__head-title" (myContenteditableChange)="changeTaskDetail($event, 'name')"></h3>
            <div class="flogo-common-edit-panel__head-subtitle" [(myContenteditable)]="_task.description" (myContenteditableChange)="changeTaskDetail($event, 'description')"></div>
          </div>
        </div>

        <div *ngIf="_context.isBranch" class="branch" [class.change]="_hasChanges">
          <h3 class="flogo-common-edit-panel__head-title">Configure Branch</h3>
        </div>
        <!-- PANEL BUTTONS -->
        <div *ngIf="_context.isTrigger" class="clearfix">
          <button  class="flogo-form-builder-buttons-primary-call left" [class.disabled]="!_canRunFromThisTile || _fieldsErrors.length" [disabled]="!_canRunFromThisTile || _fieldsErrors.length" [hidden]="_hasChanges" (click)="runFromThisTile($event)">
            Run from Trigger
          </button>
          <button class="flogo-form-builder-buttons-primary left" [hidden]="!_hasChanges" (click)="saveChanges($event)">Save</button>
          <button class="flogo-form-builder-buttons-secondary right" [hidden]="!_hasChanges" (click)="cancelEdit($event)">Cancel</button>
        </div>

        <div *ngIf="_context.isTask" class="clearfix">
          <button  class="flogo-form-builder-buttons-primary-call left" [class.disabled]="!_canRunFromThisTile || _fieldsErrors.length" [disabled]="!_canRunFromThisTile || _fieldsErrors.length" [hidden]="_hasChanges" (click)="runFromThisTile($event)">
            Run from Tile
          </button>
          <button class="flogo-form-builder-buttons-primary right" [hidden]="_hasChanges" (click)="runFromTrigger($event)">Run from Trigger</button>
          <button class="flogo-form-builder-buttons-primary left" [hidden]="!_hasChanges" (click)="saveChanges($event)">Save</button>
          <button class="flogo-form-builder-buttons-secondary right" [hidden]="!_hasChanges" (click)="cancelEdit($event)">Cancel</button>
        </div>

        <div *ngIf="_context.isBranch" class="clearfix">
          <button [hidden]="!_hasChanges"  class="flogo-form-builder-buttons-primary left" (click)="saveChanges($event)">
            Save
          </button>
          <button [hidden]="!_hasChanges" class="flogo-form-builder-buttons-secondary right" (click)="cancelEdit($event)">Cancel</button>
        </div>
      </div>
    </div>


    <!-- BRANCH CONFIGURATION -->
    <div *ngIf="_context.isBranch" class="flogo-common-edit-panel__container">
      <div *ngFor="#item of _branchConfigs" >
        <flogo-form-builder-fields-textarea [info]="getBranchInfo(item)" [fieldObserver]="_fieldObserver" ></flogo-form-builder-fields-textarea>
      </div>
    </div>


    <!-- TRIGGER CONFIGURATION -->
    <div *ngIf="_context.isTrigger" class="flogo-common-edit-panel__container">
      <h3 class="flogo-common-edit-panel__legend" [hidden]="!_attributesTrigger.settings.length">Settings</h3>
      <div *ngFor="#item of _attributesTrigger.settings" class="">
        <div *ngIf="getControlByType(item.type).control == 'FieldTextBox'">
          <flogo-form-builder-fields-textbox [info]="getTriggerInfo(item, 'input')"  [fieldObserver]="_fieldObserver" ></flogo-form-builder-fields-textbox>
        </div>

        <div *ngIf="getControlByType(item.type).control == 'FieldNumber'">
          <flogo-form-builder-fields-number [info]="getTriggerInfo(item, 'input')" [fieldObserver]="_fieldObserver" ></flogo-form-builder-fields-number>
        </div>
      </div>

      <h3 class="flogo-common-edit-panel__legend" [hidden]="!_attributesTrigger.endpointSettings.length">End point</h3>
      <div *ngFor="#item of _attributesTrigger.endpointSettings" class="">
        <div *ngIf="getControlByType(item.type).control == 'FieldTextBox'">
          <flogo-form-builder-fields-textbox [info]="getTriggerInfo(item, 'input')" [fieldObserver]="_fieldObserver" ></flogo-form-builder-fields-textbox>
        </div>

        <div *ngIf="getControlByType(item.type).control == 'FieldNumber'">
          <flogo-form-builder-fields-number [info]="getTriggerInfo(item, 'input')" [fieldObserver]="_fieldObserver" ></flogo-form-builder-fields-number>
        </div>
      </div>

      <h3 class="flogo-common-edit-panel__legend" [hidden]="!_attributesTrigger.outputs.length">Outputs</h3>
      <div *ngFor="#item of _attributesTrigger.outputs" class="">
        <div *ngIf="getControlByType(item.type).control == 'FieldTextBox'">
          <flogo-form-builder-fields-textbox [info]="getTriggerInfo(item, 'output')" [fieldObserver]="_fieldObserver" ></flogo-form-builder-fields-textbox>
        </div>

        <div *ngIf="getControlByType(item.type).control == 'FieldNumber'">
          <flogo-form-builder-fields-number [info]="getTriggerInfo(item, 'output')" [fieldObserver]="_fieldObserver" ></flogo-form-builder-fields-number>
        </div>

        <div *ngIf="getControlByType(item.type).control == 'FieldTextArea'">
          <flogo-form-builder-fields-textarea [info]="getTriggerInfo(item, 'output')" [fieldObserver]="_fieldObserver" ></flogo-form-builder-fields-textarea>
        </div>

        <div *ngIf="getControlByType(item.type).control == 'FieldParams'">
          <flogo-form-builder-fields-params [info]="getTriggerInfo(item, 'output')" [fieldObserver]="_fieldObserver" ></flogo-form-builder-fields-params>
        </div>

      </div>

    </div>

    <!-- TASK CONFIGURATION -->
    <div *ngIf="_context.isTask" class="flogo-common-edit-panel__container">
      <h3 class="flogo-common-edit-panel__legend" [hidden]="!_attributes.inputs.length">Input Parameters</h3>
      <div *ngFor="#item of _attributes.inputs" class="">
        <div *ngIf="getControlByType(item.type).control == 'FieldTextBox'">
          <flogo-form-builder-fields-textbox [info]="getTaskInfo(item, 'input')" [fieldObserver]="_fieldObserver" ></flogo-form-builder-fields-textbox>
        </div>

        <div *ngIf="getControlByType(item.type).control == 'FieldNumber'">
          <flogo-form-builder-fields-number [info]="getTaskInfo(item, 'input')" [fieldObserver]="_fieldObserver" ></flogo-form-builder-fields-number>
        </div>

        <div *ngIf="getControlByType(item.type).control == 'FieldRadio'">
          <flogo-form-builder-fields-radio [info]="getTaskInfo(item, 'input')" [fieldObserver]="_fieldObserver" ></flogo-form-builder-fields-radio>
        </div>

        <div *ngIf="getControlByType(item.type).control == 'FieldTextArea'">
          <flogo-form-builder-fields-textarea [info]="getTaskInfo(item, 'input')" [fieldObserver]="_fieldObserver" ></flogo-form-builder-fields-textarea>
        </div>

        <div *ngIf="getControlByType(item.type).control == 'FieldParams'">
          <flogo-form-builder-fields-params [info]="getTaskInfo(item, 'input')" [fieldObserver]="_fieldObserver" ></flogo-form-builder-fields-params>
        </div>

      </div>

      <h3 class="flogo-common-edit-panel__legend" [hidden]="!_attributes.outputs.length">Output Parameters</h3>
      <div *ngFor="#item of _attributes.outputs" class="flogo-task-container__output">

        <div *ngIf="getControlByType(item.type).control == 'FieldTextBox'">
          <flogo-form-builder-fields-textbox [info]="getTaskInfo(item, 'output')" [fieldObserver]="_fieldObserver" ></flogo-form-builder-fields-textbox>
        </div>

        <div *ngIf="getControlByType(item.type).control == 'FieldNumber'">
          <flogo-form-builder-fields-number [info]="getTaskInfo(item, 'output')" [fieldObserver]="_fieldObserver" ></flogo-form-builder-fields-number>
        </div>

        <div *ngIf="getControlByType(item.type).control == 'FieldRadio'">
          <flogo-form-builder-fields-radio [info]="getTaskInfo(item, 'output')" [fieldObserver]="_fieldObserver" ></flogo-form-builder-fields-radio>
        </div>

        <div *ngIf="getControlByType(item.type).control == 'FieldTextArea'">
          <flogo-form-builder-fields-textarea [info]="getTaskInfo(item, 'output')" [fieldObserver]="_fieldObserver"  ></flogo-form-builder-fields-textarea>
        </div>

        <div *ngIf="getControlByType(item.type).control == 'FieldParams'">
          <flogo-form-builder-fields-params [info]="getTaskInfo(item, 'output')" [fieldObserver]="_fieldObserver"  ></flogo-form-builder-fields-params>
        </div>

      </div>
    </div>

  </div>

</div>
