<div class="flogo-common-edit-panel">

  <div [hidden]="hasErrors">

    <!-- PANEL HEADER -->
    <div class="flogo-common-edit-panel__head" [class.flogo-common-edit-panel__head-branch]="_context.isBranch">
      <div class="flogo-common-edit-panel__head-wrapper">

        <!-- PANEL TITLES -->
        <div  *ngIf="_task && (_context.isTask || _context.isTrigger)" [ngClass]="{trigger:_context.isTrigger, task: _context.isTask}">
          <div class="flogo-common-edit-panel__head-read">
            <a  class="flogo-common-edit-panel__head-read-icon" [href]="_task.homepage? _task.homepage : 'javascript:;'" target="_blank">
              <i class="flogo-icon-info"></i>
            </a>
            <div class="flogo-common-edit-panel__head-read-detail-wrapper">
              <div  class="flogo-common-edit-panel__head-read-detail">
                <!--<i class="fa fa-times flogo-common-edit-panel__head-read-detail-close" aria-hidden="true"></i>-->
                <div class="flogo-common-edit-panel__head-read-titles">
                  <h3 [textContent]="_task.name"  class="flogo-common-edit-panel__head-read-title" [class.up]="_task.creator"></h3>
                  <span *ngIf="_task.creator" [textContent]="'Created by ' + _task.creator"  class="flogo-common-edit-panel__head-read-creator"></span>
                </div>
                <p [textContent]="_task.readMe || _task.description"  class="flogo-common-edit-panel__head-read-text"></p>
              </div>
            </div>
          </div>
          <div class="flogo-common-edit-panel__head-titles">
            <h3 [(myContenteditable)]="_task.name" class="flogo-common-edit-panel__head-title" (myContenteditableChange)="changeTaskDetail($event, 'name')"></h3>
            <div class="flogo-common-edit-panel__head-subtitle" [(myContenteditable)]="_task.description" (myContenteditableChange)="changeTaskDetail($event, 'description')"></div>
          </div>
        </div>

        <div *ngIf="_context.isBranch" class="branch" [class.change]="_hasChanges">
          <i class="flogo-icon-add"></i>
          <h3 class="flogo-common-edit-panel__head-title">{{ 'FORM-BUILDER:CONFIGURE-BRANCH' | translate }}</h3>
          <div class="flogo-common-edit-panel__head-subtitle">{{ 'FORM-BUILDER:HINT-CONFIGURE-BRANCH' | translate }}</div>
        </div>
        <!-- PANEL BUTTONS -->
        <div *ngIf="_context.isTrigger && _context.profileType !== PROFILE_TYPES.DEVICE" class="clearfix">
          <button  class="flogo-button--accent left"
                   [class.disabled]="!_canRunFromThisTile || _fieldsErrors.length"
                   [disabled]="!_canRunFromThisTile || _fieldsErrors.length"
                   [hidden]="_hasChanges" (click)="runFromThisTile($event)">
            {{ 'FORM-BUILDER:RUN-FROM-TRIGGER' | translate }}
          </button>
        </div>

        <div *ngIf="_context.isTask && _context.profileType !== PROFILE_TYPES.DEVICE" class="clearfix">
          <button  class="flogo-button--default left" [class.disabled]="!_canRunFromThisTile || _fieldsErrors.length"
                   [disabled]="!_canRunFromThisTile || _fieldsErrors.length"  (click)="runFromThisTile($event)">
            {{ 'FORM-BUILDER:RUN-FROM-TILE' | translate }}
          </button>
          <button class="flogo-button--accent right"
                  (click)="runFromTrigger($event)">{{ 'FORM-BUILDER:RUN-FROM-TRIGGER' | translate }}</button>
        </div>

      </div>
    </div>


    <div *ngIf="_context.isTrigger">
      <flogo-form-builder-trigger-configuration  [context]="_context" [attributes]="_attributes"  [fieldObserver]="_fieldObserver" (onTriggerAction)="onAction($event)"></flogo-form-builder-trigger-configuration>
    </div>

    <div *ngIf="_context.isTask">
      <flogo-form-builder-task-configuration     [attributes]="_attributes"  [fieldObserver]="_fieldObserver" [task]="_task"></flogo-form-builder-task-configuration>
    </div>

    <div *ngIf="_context.isBranch">
      <flogo-form-builder-branch-configuration     [attributes]="_branchConfigs"  [fieldObserver]="_fieldObserver"    ></flogo-form-builder-branch-configuration>
    </div>

  </div>

</div>
