@header-footer-background: #f8f8f8;

.flogo-task-container {
  display: flex;
  flex-direction: column;


  .flogo-task-container__fields-header {
  }

  .flogo-task-container__fields-set {
  }

  .flogo-task-container__input,
  .flogo-task-container__output {
    padding-left: 15px;
    padding-right: 15px;
  }

  .flogo-task-container__footer {
    background-color: #f8f8f8;
    border-top: 1px solid #b5b5b5;
    color: #666;
    margin-top: 10px;
    min-height: 83px;
    padding: 19px 16px;
    position: absolute;
    bottom: 0;
    width: 100%;
  }

}
