.flogo-form-builder {
  display: flex;
  flex-direction: column;
  background-color: #fff;
}
.flogo-task-container {
  display: flex;
  flex-direction: column;
}
.flogo-task-container .flogo-task-container__input,
.flogo-task-container .flogo-task-container__output {
  padding-left: 15px;
  padding-right: 15px;
}
.flogo-task-container .flogo-task-container__footer {
  background-color: #f8f8f8;
  border-top: 1px solid #b5b5b5;
  color: #666;
  margin-top: 10px;
  min-height: 83px;
  padding: 19px 16px;
  width: 100%;
}
.flogo-common-edit-panel__head.flogo-common-edit-panel__head-branch {
  background: #8a90ae;
}
.flogo-common-edit-panel__head-wrapper .trigger:before,
.flogo-common-edit-panel__head-wrapper .task:before,
.flogo-common-edit-panel__head-wrapper .branch:before {
  float: left;
  margin-right: 15px;
  content: "";
}
.flogo-common-edit-panel__head-wrapper .trigger {
  padding-top: 21px;
  padding-bottom: 6px;
}
.flogo-common-edit-panel__head-wrapper .trigger:before {
  background: url("/assets/svg/flogo.flows.detail.diagram.trigger.icon.svg") no-repeat left bottom / 46px 46px;
  width: 46px;
  height: 54px;
}
.flogo-common-edit-panel__head-wrapper .trigger .flogo-common-edit-panel__head-read-detail:before {
  background: url("/assets/svg/flogo.flows.detail.diagram.trigger.icon.svg") no-repeat center / 46px;
}
.flogo-common-edit-panel__head-wrapper .task {
  padding-top: 21px;
  padding-bottom: 6px;
}
.flogo-common-edit-panel__head-wrapper .task:before {
  background: url("/assets/svg/flogo.icon.gears.circle.svg") no-repeat left bottom / 40px 40px;
  width: 40px;
  height: 50px;
}
.flogo-common-edit-panel__head-wrapper .task .flogo-common-edit-panel__head-read-detail:before {
  background: url("/assets/svg/flogo.icon.gears.circle.svg") no-repeat center / 46px 46px;
}
.flogo-common-edit-panel__head-wrapper .branch {
  padding-top: 33px;
}
.flogo-common-edit-panel__head-wrapper .branch:before {
  background: #fff url("/assets/svg/flogo.flows.detail.add.cross.gray.icon.svg") no-repeat center / 50%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.flogo-common-edit-panel__head-wrapper .branch.change {
  padding-top: 30px;
  padding-bottom: 10px;
}
.flogo-common-edit-panel__head-wrapper .flogo-common-edit-panel__head-title,
.flogo-common-edit-panel__head-wrapper .flogo-common-edit-panel__head-subtitle {
  margin-right: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.flogo-common-edit-panel__head-wrapper .flogo-common-edit-panel__head-titles {
  margin-left: 60px;
}
.flogo-common-edit-panel__head-wrapper .flogo-common-edit-panel__head-subtitle {
  margin-top: -3px;
  font-size: 15px;
  letter-spacing: 0.3px;
}
.flogo-common-edit-panel__head-wrapper button {
  width: 140px;
  height: 45px;
  color: #fff;
  margin-top: 14px;
  margin-bottom: 14px;
  outline: none;
}
.flogo-common-edit-panel__head-wrapper button.disabled {
  cursor: not-allowed;
}
.flogo-common-edit-panel__head-wrapper .flogo-form-builder-buttons-primary-call {
  background: #fe883b;
  border: 1px solid #fff;
}
.flogo-common-edit-panel__head-wrapper .flogo-form-builder-buttons-primary-call:hover {
  border-radius: 4px;
}
.flogo-common-edit-panel__head-wrapper .flogo-form-builder-buttons-primary-call:active {
  border-radius: 4px;
  background: #fff;
  color: #fe883b;
}
.flogo-common-edit-panel__head-wrapper .flogo-form-builder-buttons-primary-call.disabled {
  background: #ffc49d;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.flogo-common-edit-panel__head-wrapper .flogo-form-builder-buttons-primary-call.center {
  display: block;
  margin: 14px auto;
}
.flogo-common-edit-panel__head-wrapper .left {
  float: left;
}
.flogo-common-edit-panel__head-wrapper .right {
  float: right;
}
.flogo-common-edit-panel__head-wrapper .flogo-form-builder-buttons-primary {
  background: #138ace;
  border: 1px solid #fff;
}
.flogo-common-edit-panel__head-wrapper .flogo-form-builder-buttons-primary:hover {
  border-radius: 4px;
}
.flogo-common-edit-panel__head-wrapper .flogo-form-builder-buttons-primary:active {
  border-radius: 4px;
  background: #fff;
  color: #138ace;
}
.flogo-common-edit-panel__head-wrapper .flogo-form-builder-buttons-primary.disabled {
  opacity: 0.4;
}
.flogo-common-edit-panel__head-wrapper .flogo-form-builder-buttons-secondary {
  background: transparent;
  border: 1px solid #fff;
}
.flogo-common-edit-panel__head-wrapper .flogo-form-builder-buttons-secondary:hover {
  border-radius: 4px;
}
.flogo-common-edit-panel__head-wrapper .flogo-form-builder-buttons-secondary:active {
  border-radius: 4px;
  background: #fff;
  color: #79b8dc;
}
.flogo-common-edit-panel__head-wrapper .flogo-form-builder-buttons-secondary.disabled {
  background-color: rgba(255, 255, 255, 0.4);
  border: solid 1px rgba(255, 255, 255, 0.5);
}
.flogo-common-edit-panel__head-wrapper .flogo-common-edit-panel__head-read {
  position: absolute;
  top: 25px;
  right: 14px;
  width: 17px;
  height: 17px;
}
.flogo-common-edit-panel__head-wrapper .flogo-common-edit-panel__head-read:hover .flogo-common-edit-panel__head-read-detail-wrapper {
  width: 390px;
  opacity: 1;
}
.flogo-common-edit-panel__head-wrapper .flogo-common-edit-panel__head-read-icon {
  display: block;
  height: 100%;
  width: 100%;
  background: url("/assets/svg/flogo.form-builder.info.icon.svg") no-repeat;
}
.flogo-common-edit-panel__head-wrapper .flogo-common-edit-panel__head-read-detail-wrapper {
  position: absolute;
  top: 0;
  right: 27px;
  z-index: 10;
  width: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 300ms linear;
}
.flogo-common-edit-panel__head-wrapper .flogo-common-edit-panel__head-read-detail {
  padding: 0 20px 20px;
  width: 100%;
  border-radius: 2px;
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(199, 199, 199, 0.5);
  border: solid 1px #727272;
  color: #666;
}
.flogo-common-edit-panel__head-wrapper .flogo-common-edit-panel__head-read-detail:before {
  content: '';
  float: left;
  width: 46px;
  height: 46px;
  margin-top: 20px;
  background-size: 46px;
}
.flogo-common-edit-panel__head-wrapper .flogo-common-edit-panel__head-read-detail-close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #b5b5b5;
  cursor: pointer;
}
.flogo-common-edit-panel__head-wrapper .flogo-common-edit-panel__head-read-detail-close:hover {
  color: #666;
}
.flogo-common-edit-panel__head-wrapper .flogo-common-edit-panel__head-read-titles {
  padding-left: 71px;
}
.flogo-common-edit-panel__head-wrapper .flogo-common-edit-panel__head-read-titles .flogo-common-edit-panel__head-read-title,
.flogo-common-edit-panel__head-wrapper .flogo-common-edit-panel__head-read-titles .flogo-common-edit-panel__head-read-creator {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.flogo-common-edit-panel__head-wrapper .flogo-common-edit-panel__head-read-titles .flogo-common-edit-panel__head-read-title {
  letter-spacing: 0.4px;
  margin-top: 30px;
}
.flogo-common-edit-panel__head-wrapper .flogo-common-edit-panel__head-read-titles .flogo-common-edit-panel__head-read-title.up {
  margin-top: 20px;
  margin-bottom: 7px;
}
.flogo-common-edit-panel__head-wrapper .flogo-common-edit-panel__head-read-titles .flogo-common-edit-panel__head-read-creator {
  display: inline-block;
  max-width: 277px;
  font-size: 10px;
  letter-spacing: 0.6px;
  color: #666666;
}
.flogo-common-edit-panel__head-wrapper .flogo-common-edit-panel__head-read-titles .flogo-common-edit-panel__head-read-text {
  font-size: 14px;
}
