.flogo-form-builder {
  display: flex;
  flex-direction: column;
  background-color: #fff;
}
.flogo-task-container {
  display: flex;
  flex-direction: column;
}
.flogo-task-container .flogo-task-container__input,
.flogo-task-container .flogo-task-container__output {
  padding-left: 15px;
  padding-right: 15px;
}
.flogo-task-container .flogo-task-container__footer {
  background-color: #f8f8f8;
  border-top: 1px solid #b5b5b5;
  color: #666;
  margin-top: 10px;
  min-height: 83px;
  padding: 19px 16px;
  width: 100%;
}
.flogo-common-edit-panel__head.flogo-common-edit-panel__head-branch {
  background: #8a90ae;
}
.flogo-common-edit-panel__head-wrapper .trigger,
.flogo-common-edit-panel__head-wrapper .task,
.flogo-common-edit-panel__head-wrapper .branch {
  padding-top: 26px;
  padding-bottom: 2px;
}
.flogo-common-edit-panel__head-wrapper .trigger:before,
.flogo-common-edit-panel__head-wrapper .task:before,
.flogo-common-edit-panel__head-wrapper .branch:before {
  margin-right: 15px;
  vertical-align: middle;
  display: inline-block;
  content: "";
  border-radius: 50%;
}
.flogo-common-edit-panel__head-wrapper .trigger:before {
  background: url("/assets/svg/flogo.flows.detail.diagram.trigger.icon.svg") no-repeat left center / 46px 46px;
  width: 46px;
  height: 46px;
}
.flogo-common-edit-panel__head-wrapper .task:before {
  background: url("/assets/svg/flogo.icon.gears.circle.svg") no-repeat left center / 40px 40px;
  width: 40px;
  height: 40px;
}
.flogo-common-edit-panel__head-wrapper .branch:before {
  background: #fff url("/assets/svg/flogo.flows.detail.add.cross.gray.icon.svg") no-repeat center / 50%;
  width: 40px;
  height: 40px;
}
.flogo-common-edit-panel__head-wrapper .flogo-common-edit-panel__head-titles {
  display: inline-block;
  vertical-align: middle;
}
.flogo-common-edit-panel__head-wrapper .flogo-common-edit-panel__head-subtitle {
  margin-top: -5px;
  font-size: 15px;
  letter-spacing: 0.3px;
}
.flogo-common-edit-panel__head-wrapper button {
  width: 140px;
  height: 45px;
  color: #fff;
  margin-top: 14px;
  margin-bottom: 14px;
}
.flogo-common-edit-panel__head-wrapper button.disabled {
  cursor: not-allowed;
}
.flogo-common-edit-panel__head-wrapper .flogo-form-builder-buttons-primary-call {
  background: #fe883b;
  border: 1px solid #fff;
}
.flogo-common-edit-panel__head-wrapper .flogo-form-builder-buttons-primary-call:hover {
  border-radius: 4px;
}
.flogo-common-edit-panel__head-wrapper .flogo-form-builder-buttons-primary-call:active {
  border-radius: 4px;
  background: #fff;
  color: #fe883b;
}
.flogo-common-edit-panel__head-wrapper .flogo-form-builder-buttons-primary-call.disabled {
  background: #ffc49d;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.flogo-common-edit-panel__head-wrapper .left {
  float: left;
}
.flogo-common-edit-panel__head-wrapper .right {
  float: right;
}
.flogo-common-edit-panel__head-wrapper .flogo-form-builder-buttons-primary {
  background: #138ace;
  border: 1px solid #fff;
}
.flogo-common-edit-panel__head-wrapper .flogo-form-builder-buttons-primary:hover {
  border-radius: 4px;
}
.flogo-common-edit-panel__head-wrapper .flogo-form-builder-buttons-primary:active {
  border-radius: 4px;
  background: #fff;
  color: #138ace;
}
.flogo-common-edit-panel__head-wrapper .flogo-form-builder-buttons-primary.disabled {
  opacity: 0.4;
}
.flogo-common-edit-panel__head-wrapper .flogo-form-builder-buttons-secondary {
  background: transparent;
  border: 1px solid #fff;
}
.flogo-common-edit-panel__head-wrapper .flogo-form-builder-buttons-secondary:hover {
  border-radius: 4px;
}
.flogo-common-edit-panel__head-wrapper .flogo-form-builder-buttons-secondary:active {
  border-radius: 4px;
  background: #fff;
  color: #79b8dc;
}
.flogo-common-edit-panel__head-wrapper .flogo-form-builder-buttons-secondary.disabled {
  background-color: rgba(255, 255, 255, 0.4);
  border: solid 1px rgba(255, 255, 255, 0.5);
}
