<div class="flogo-common-edit-panel">

  <div [hidden]="hasErrors">

    <!-- PANEL HEADER -->
    <div class="flogo-common-edit-panel__head" [class.flogo-common-edit-panel__head-branch]="_context.isBranch">
      <div class="flogo-common-edit-panel__head-wrapper">

        <!-- PANEL TITLES -->
        <div  *ngIf="_task && (_context.isTask || _context.isTrigger)" [ngClass]="{trigger:_context.isTrigger, task: _context.isTask}">
          <div class="flogo-common-edit-panel__head-read">
            <a  class="flogo-common-edit-panel__head-read-icon" [href]="_task.homepage? _task.homepage : 'javascript:;'" target="_blank"></a>
            <div class="flogo-common-edit-panel__head-read-detail-wrapper">
              <div  class="flogo-common-edit-panel__head-read-detail">
                <!--<i class="fa fa-times flogo-common-edit-panel__head-read-detail-close" aria-hidden="true"></i>-->
                <hgroup class="flogo-common-edit-panel__head-read-titles">
                  <!-- TODO: replace [innerHTML] with [textContent] https://github.com/angular/angular/issues/8413 -->
                  <h3 [innerHTML]="_task.name"  class="flogo-common-edit-panel__head-read-title" [class.up]="_task.creator"></h3>
                  <span *ngIf="_task.creator" [innerHTML]="'Created by ' + _task.creator"  class="flogo-common-edit-panel__head-read-creator"></span>
                </hgroup>
                <!-- TODO: replace [innerHTML] with [textContent] https://github.com/angular/angular/issues/8413 -->
                <p [innerHTML]="_task.readMe || _task.description"  class="flogo-common-edit-panel__head-read-text"></p>
              </div>
            </div>
          </div>
          <div class="flogo-common-edit-panel__head-titles">
            <h3 [(myContenteditable)]="_task.name" class="flogo-common-edit-panel__head-title" (myContenteditableChange)="changeTaskDetail($event, 'name')"></h3>
            <div class="flogo-common-edit-panel__head-subtitle" [(myContenteditable)]="_task.description" (myContenteditableChange)="changeTaskDetail($event, 'description')"></div>
          </div>
        </div>

        <div *ngIf="_context.isBranch" class="branch" [class.change]="_hasChanges">
          <h3 class="flogo-common-edit-panel__head-title">{{ 'FORM-BUILDER:CONFIGURE_BRANCH' | translate }}</h3>
        </div>
        <!-- PANEL BUTTONS -->
        <div *ngIf="_context.isTrigger" class="clearfix">
          <button  class="flogo-form-builder-buttons-primary-call flogo-btn-run-from-trigger left" [class.disabled]="!_canRunFromThisTile || _fieldsErrors.length" [disabled]="!_canRunFromThisTile || _fieldsErrors.length" [hidden]="_hasChanges" (click)="runFromThisTile($event)">
            {{ 'FORM-BUILDER:RUN_FROM_TRIGGER' | translate }}
          </button>
          <button class="flogo-form-builder-buttons-primary flogo-form-builder-buttons-save left" [hidden]="!_hasChanges" (click)="saveChanges($event)">{{ 'FORM-BUILDER:SAVE' | translate }}</button>
          <button class="flogo-form-builder-buttons-secondary right" [hidden]="!_hasChanges" (click)="cancelEdit($event)">{{ 'FORM-BUILDER:CANCEL' | translate }}</button>
        </div>

        <div *ngIf="_context.isTask" class="clearfix">
          <button  class="flogo-form-builder-buttons-primary-call left" [class.disabled]="!_canRunFromThisTile || _fieldsErrors.length" [disabled]="!_canRunFromThisTile || _fieldsErrors.length" [hidden]="_hasChanges" (click)="runFromThisTile($event)">
            {{ 'FORM-BUILDER:RUN_FROM_TILE' | translate }}
          </button>
          <button class="flogo-form-builder-buttons-primary flogo-btn-run-from-trigger right" [hidden]="_hasChanges" (click)="runFromTrigger($event)">{{ 'FORM-BUILDER:RUN_FROM_TRIGGER' | translate }}</button>
          <button class="flogo-form-builder-buttons-primary flogo-form-builder-buttons-save left" [hidden]="!_hasChanges" (click)="saveChanges($event)">{{ 'FORM-BUILDER:SAVE' | translate }}</button>
          <button class="flogo-form-builder-buttons-secondary right" [hidden]="!_hasChanges" (click)="cancelEdit($event)">{{ 'FORM-BUILDER:CANCEL' | translate }}</button>
        </div>

        <div *ngIf="_context.isBranch" class="clearfix">
          <button [hidden]="!_hasChanges"  class="flogo-form-builder-buttons-primary flogo-form-builder-buttons-save left" (click)="saveChanges($event)">
            {{ 'FORM-BUILDER:SAVE' | translate }}
          </button>
          <button [hidden]="!_hasChanges" class="flogo-form-builder-buttons-secondary right" (click)="cancelEdit($event)">{{ 'FORM-BUILDER:CANCEL' | translate }}</button>
        </div>
      </div>
    </div>


    <div *ngIf="_context.isTrigger">
      <flogo-form-builder-trigger-configuration  [attributes]="_attributes"  [fieldObserver]="_fieldObserver"></flogo-form-builder-trigger-configuration>
    </div>

    <div *ngIf="_context.isTask">
      <flogo-form-builder-task-configuration     [attributes]="_attributes"  [fieldObserver]="_fieldObserver" [task]="_task"></flogo-form-builder-task-configuration>
    </div>

    <div *ngIf="_context.isBranch">
      <flogo-form-builder-branch-configuration     [attributes]="_branchConfigs"  [fieldObserver]="_fieldObserver"></flogo-form-builder-branch-configuration>
    </div>

  </div>

</div>
