:host {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 100%;
}

@flogo-installer-search-primary-color: #0081CB;
@flogo-installer-search-icon-color: #FFF;
@flogo-installer-search-height: 43px;

.flogo-installer-search-input {
  display: inline-block;
  vertical-align: top;

  padding: 10px 22px;
  height: @flogo-installer-search-height;
  width: ~"-moz-calc(100% - @{flogo-installer-search-height})";
  width: ~"-webkit-calc(100% - @{flogo-installer-search-height})";
  width: ~"calc(100% - @{flogo-installer-search-height})";

  font-family: 'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;
  font-size: 15px;

  border: solid 1px @flogo-installer-search-primary-color;

  &:focus {
    outline: none;
  }
}

.flogo-installer-search-icon {
  display: inline-block;
  vertical-align: top;

  background: @flogo-installer-search-primary-color url('/assets/svg/flogo.icon.search.svg') no-repeat center center ;
  color: @flogo-installer-search-icon-color;

  height: @flogo-installer-search-height;
  width: @flogo-installer-search-height;
}
