@import '../_styles';

:host {
  height: 140px;
  padding: 16px 30px 14px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  background-color: transparent;
  transition: background-color 0.15s ease;
}

.tile {
  .tile-container();
}

.tile--slot {
  opacity: 0;
  transition: opacity 0.25s ease-out;
  &.is-selected {
    opacity: 1;
  }

}

.tile--placeholder {
  &::before {
    background-color: rgba(170, 208, 232, 0.4);
    display: block;
    content: '';
    .tile-placeholder();
  }
}

.tile--task {
  z-index: 1;
}

.tile--branch {
  z-index: 2;
}

:host:not(.is-readonly) {
  .is-selected {
    z-index: 3;
  }

  &:hover {
    background-color: rgba(182, 217, 237, 0.2);
    .tile--slot {
      opacity: 1;
    }

    .interactive-tile {
      &:hover,
      &.is-hovered {
        z-index: 4;
      }
    }
  }

}
