:host {
  height: 140px;
  padding-top: 16px;
  padding-bottom: 14px;
  display: flex;
  flex-direction: row;
  background-color: transparent;
  transition: background-color 0.15s ease;
}

.tile--placeholder {
  opacity: 0;
  transition: opacity 0.25s ease-out;
  &.is-selected {
    opacity: 1;
  }
}

:host:hover {
  background-color: rgba(182, 217, 237, 0.2);
  .tile--placeholder {
    opacity: 1;
  }
}
