<form
  novalidate
  [formGroup]="resource"
  (ngSubmit)="createFlow(resource)"
  cdkTrapFocus
  cdkTrapFocusAutoCapture="true"
>
  <h3 class="title">{{ 'ADD:CREATE-NEW-RESOURCE' | translate }}</h3>
  <fieldset class="form-group resource-types">
    <legend class="form__label">{{ 'ADD:SELECT-RESOURCE-TYPE' | translate }}</legend>
    <ng-container *ngFor="let resourceTypeInfo of resourceTypes">
      <input
        type="radio"
        formControlName="type"
        id="resource-type-{{ resourceTypeInfo.type }}"
        [value]="resourceTypeInfo.type"
      />
      <label class="resource-type" for="resource-type-{{ resourceTypeInfo.type }}">
        <flogo-apps-resource-badge
          [color]="resourceTypeInfo.color"
          [type]="resourceTypeInfo.label"
        ></flogo-apps-resource-badge>
        <span class="resource-type__label">{{ resourceTypeInfo.label }}</span>
        <!-- prettier-ignore -->
        <svg class="resource-type__checkmark" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 24 24">
          <path fill="currentColor" d="M21.582 7.472L10.629 18.576a1.414 1.414 0 0 1-2.02 0L2.418 12.3A1.458 1.458 0 0 1 2 11.276c0-.8.64-1.448 1.429-1.448.393 0 .751.162 1.01.424l5.18 5.252 9.942-10.08A1.417 1.417 0 0 1 20.571 5 1.44 1.44 0 0 1 22 6.448c0 .4-.16.762-.418 1.024"/>
        </svg>
      </label>
    </ng-container>
  </fieldset>
  <div class="form-group">
    <label for="resourceName" class="form__label"
      >{{ 'ADD:FLOW-NAME' | translate }}
    </label>
    <input
      cdkFocusInitial
      type="text"
      class="form-control form__input"
      id="resourceName"
      formControlName="name"
      asyncValidator
      placeholder="{{ 'ADD:GIVE-YOUR-FLOW-A-NAME' | translate }}"
    />
    <label
      *ngIf="resource.get('name').hasError('uniqueInvalid')"
      for="resourceName"
      class="form__error"
      >{{ 'ADD:FLOW-NAME-EXISTS' | translate }}</label
    >
  </div>
  <div class="form-group">
    <label for="resourceDescription" class="form__label"
      >{{ 'ADD:FLOW-DESCRIPTION' | translate }}
    </label>
    <textarea
      class="form-control form__input"
      formControlName="description"
      rows="3"
      id="resourceDescription"
      placeholder="{{ 'ADD:ADD-FLOW-DESCRIPTION' | translate }}"
    ></textarea>
  </div>
  <div class="footer">
    <button
      type="button"
      class="flogo-button--secondary flogo-flows-add-cancel"
      data-dismiss="modal"
      (click)="closeAddFlowModal()"
    >
      {{ 'ADD:CANCEL' | translate }}
    </button>
    <button
      type="submit"
      class="flogo-button--default flogo-flows-add-save"
      [disabled]="!resource.valid"
    >
      {{ 'ADD:CREATE' | translate }}
    </button>
  </div>
</form>
