<div class="flogo-task-field">
  <label class="control-label">{{schema.title}}</label>

  <div class="flogo-task-field__boolean">
    <div>
      <input type="radio" name="booleanValue" value=true  id="trueValue"
             (change)="value=$event.target.value;onChangeField()"
             class="flogo-task-field__boolean_input" [attr.checked]="value === true ? '' : null "> True

      <input type="radio" name="booleanValue" value=false id="falseValue"
             (change)="value=$event.target.value;onChangeField()"
             class="flogo-task-field__boolean_input" [attr.checked]="value === false ? '' : null "> False
    </div>

  </div>

</div>
