.flogo-task-field {
  padding: 5px 0;
}

.flogo-task-field__object {
  width: 100%;
}

.flogo-task-field__boolean__label-text {
  padding-left: 8px;
  padding-top: 3px;
}

.flogo-task-field__boolean-radio {
 margin-top: 5px;
}
