@import '../_variables';

.uxpl-button-primary {
  height: @size-height-button;
  width: 78px;
  border-radius: 3px;
  color: @color-bg;
  background-color: @primary-blue;
  border: solid 1px @primary-blue;

  &:hover {
    background-color: @color-link-hover;
    border: solid 1px @color-link-hover;
  }
  &:active {
    box-shadow: inset 0 0 0 2px @color-link-hover;
    border: solid 1px @color-link-hover;
  }
  &:disabled {
    opacity: .5;
  }
}

.uxpl-button-secondary {
  width: 78px;
  height: @size-height-button;
  background-color: @color-bg;
  color: @primary-blue;
  border-radius: 3px;
  border: solid 1px @primary-blue;

  &:hover {
    border: solid 1px @color-link-hover;
    color: @color-link-hover;
    font-weight: 600;
  }
  &:active {
    box-shadow: inset 0 0 0 2px @color-link-hover;
    border: solid 1px @color-link-hover;
    color: @color-link-hover;
    font-weight: 600;
  }

  &:disabled {
    opacity: .5;
  }

}
