.flogo-app-details {
  color: #bbbcbe;
  margin-left: 20px;

  a {
    color: #269ed8;
  }

  input {
    font-size: 2em;
    width: 60%;
  }

  .build  {
    float: right;
    margin-right: 20px;
  }

  .created {
  }

  .description {
    margin-top: 10px;
  }

}