<div class="flogo-app-details">
    <div>
        <input *ngIf="editingName" type="text" #appName
               [(ngModel)]="application.name"
               (ngModelChange)="onInputNameChange($event)"
               (blur)="onInputNameBlur($event)"
               (keyup)="onKeyUpName($event)"
               id="appName" />
        <label class="applicationLabel"
               *ngIf="!editingName"
               (click)="onClickLabelName($event)">{{application.name}}</label>
        <button class="btn btn-primary btn-lg build">Build</button>
    </div>
    <label for="appName" class="created">{{ 'FLOWS:CREATED' | translate:{value:''} }}<span>{{createdAtFormatted}}</span> </label>
    <div class="description">
        <a *ngIf="!application.description && editingDescription == false" (click)="onClickAddDescription($event)" >Add description</a>
        <input *ngIf="editingDescription" type="text" #appDescription
               (blur)="onInputDescriptionBlur($event)"
               placeholder="Description"
               (keyup)="onKeyUpDescription($event)"
               [(ngModel)]="application.description" />
        <label class="descriptionLabel"
               *ngIf="!editingDescription && application.description"
               (click)="onClickLabelDescription($event)"><span>Description: </span>{{application.description}}</label>
    </div>
</div>