<div class="flogo-app-details">
    <div>
        <input type="text" #appName [(ngModel)]="application.name" id="appName" />
        <button class="btn btn-primary btn-lg build">Build</button>
    </div>
    <label for="appName" class="created">Created {{createdAtFormatted}}</label>

    <div class="description">
        <a *ngIf="!enableDescription" (click)="activateDescription($event)" >Add description</a>

        <input *ngIf="enableDescription" #appDescription (blur)="onDescriptionBlur($event)"
               type="text" placeholder="Description" [(ngModel)]="application.description" />
    </div>


</div>