:host {
  display: flex;
  align-items: stretch;
  width: 100%;
  flex-grow: 2;

  > div {
    display: flex;
    align-items: stretch;
    width: 100%;
  }
}

.canvas-flow {
  display: flex;
  width: 77.5%;
  flex-direction: column;
  overflow: auto;
}

.canvas-right-container {
  display: flex;
  width: 22.5%;
  min-width: 321px;
  flex-direction: column;
  border-left: solid 1px #B5B5B5;
}

.flogo-flow-detail {
  background-color: #FAFAFA;
}

.flogo-flow-detail-header {
  padding: 47px 30px;
}

.flogo-flow-detail-name {
  font-size: 24px;
  color: #666666;
  margin: 0;
}

.flogo-flow-detail-description {
  font-size: 15px;
  line-height: 1.2;
  color: rgba(102, 102, 102, 0.7);
  margin-bottom: 0;
}
