<div *ngIf="!_mockLoading">
    <div class="canvas-flow">
        <!--<flogo-canvas-flow id="211"></flogo-canvas-flow>-->
        <flogo-canvas-flow-diagram [tasks]="tasks" [diagram]="diagram"></flogo-canvas-flow-diagram>

        <!-- the mock section below should be removed later-->
      <section class="container-fluid">
        <section class="row">
          <header>
            <h3>Mock Area in Canvas component</h3>
            <button type="button" class="btn btn-default" (click)="MOCK=!MOCK">Display</button>
          </header>
        </section>

        <section class="row" [hidden]="!MOCK">
          <div class="col-xs-12">
            <header><h4>Actions</h4></header>
          </div>

          <div class="col-xs-12">
            <button type="button" class="btn btn-warning" (click)="uploadProcess()"
                    [disabled]="_uploadingProcess">Upload process
            </button>
            <button type="button" class="btn btn-default" (click)="mockStartProcess()"
                    [disabled]="_mockStartingProcess" [hidden]="!_hasUploadedProcess">Start process
            </button>
            <button type="button" class="btn btn-default" (click)="mockGetSteps()"
                    [disabled]="_mockGettingStepsProcess" [hidden]="!_hasUploadedProcess">Get steps
            </button>
          </div>

          <div class="col-xs-12" [hidden]="!_mockSteps">
            <form>
              <div class="form-group">
                <label>Step to restart from</label>
                <select class="form-control" [(ngModel)]="stepToRestart">
                  <option *ngFor="#s of _mockSteps; trackBy:trackBySteps " [value]="s.id">{{s.id}}</option>
                </select>
              </div>

              <div class="form-group">
                <label>Mock data to restart</label>
                <textarea class="form-control" [(ngModel)]="_mockDataToRestart" rows="5"></textarea>
              </div>

              <div class="form-group">
                <button type="button" class="btn btn-default" (click)="mockRestartFrom(stepToRestart)"
                        [disabled]="_mockStartingProcess" [hidden]="!_hasUploadedProcess">Restart From
                </button>
              </div>
            </form>
          </div>
        </section>

        <section class="row" [hidden]="!MOCK || !_mockSteps">

          <div class="col-xs-12">
            <header>
              <h4>Steps</h4>
            </header>
          </div>

          <div class="col-xs-12">
            <pre><code [textContent]="_mockSteps | json"></code></pre>
          </div>

        </section>

        <section class="row" [hidden]="!MOCK">

          <div class="col-xs-12">
            <header>
              <h4>Process.json</h4>
            </header>
          </div>

          <div class="col-xs-12">
            <pre><code [textContent]="_mockProcess | json"></code></pre>
          </div>

        </section>
      </section>
    </div>
    <div class="canvas-right-container">
        <router-outlet></router-outlet>
    </div>
</div>

<div *ngIf="_mockLoading">Loading...</div>
