<div [hidden]="_mockLoading">

  <div class="canvas-flow" *ngIf="flow">

    <section class="flogo-flow-detail">

      <header class="flogo-flow-detail-header col-sm-9">
        <h3 class="flogo-flow-detail-name" [(myContenteditable)]="flow.name" (myContenteditableChange)="changeFlowDetail($event, 'name')"></h3>
        <p class="flogo-flow-detail-description" [(myContenteditable)]="flow.description"
           placeholder="{{ translate.instant('CANVAS:ADD-FLOW-DESCRIPTION') }}"
           (myContenteditableChange)="changeFlowDetail($event, 'descrption')"></p>
      </header>


      <div class="col-sm-3 flogo-flow-detail-menu-container">
        <div class="flogo-flow-detail-menu">
          <div class="flogo-flow-detail-menu-list-wrapper">
            <ul class="flogo-flow-detail-menu-list">
              <li class="flogo-flow-detail-menu-item"><i class="fa fa-pencil fa-fw"></i>
                <a [href]="downloadLink" download>{{ 'CANVAS:BUILD' | translate }}</a>
                <ul class="flogo-flow-detail-menu-item-choices">
                  <li class="flogo-flow-detail-menu-item-choice"><a [href]="downloadLink+'?os=linux&arch=386'"><label class="flogo-flow-detail-menu-item-choice-text"><span>{{ 'CANVAS:X86-LINUX' | translate }} </span></label></a></li>
                  <li class="flogo-flow-detail-menu-item-choice"><a [href]="downloadLink+'?os=linux&arch=arm'"><label class="flogo-flow-detail-menu-item-choice-text"><span>{{ 'CANVAS:ARM-LINUX' | translate }}</span></label></a></li>
                  <li class="flogo-flow-detail-menu-item-choice"><a [href]="downloadLink+'?os=darwin&arch=amd64'"><label class="flogo-flow-detail-menu-item-choice-text"><span>{{ 'CANVAS:DARWIN-OSX' | translate }}</span></label></a></li>
                </ul>
              </li>
              <li class="flogo-flow-detail-menu-item"><i class="fa fa-clone fa-fw"></i><a disabled href="javascript:void(0);">{{ 'CANVAS:COPY' | translate }}</a></li>
              <li class="flogo-flow-detail-menu-item"><a [jsonDownloader]="exportTriggerAndFlow()"><i class="fa fa-cloud-download fa-fw"></i> {{ 'CANVAS:EXPORT-FOR-CLI' | translate }}</a></li>
              <li class="flogo-flow-detail-menu-item"><a [href]="exportLink" download><i class="fa fa-cloud-download fa-fw"></i>{{ 'CANVAS:EXPORT-FOR-WEB-UI' | translate }}</a></li>
              <li class="flogo-flow-detail-menu-item"><i class="fa fa-trash fa-fw"></i><a href="javascript:void(0);">{{ 'CANVAS:DELETE' | translate }}</a></li>
            </ul>
          </div>
        </div>

        <div class="flogo-flow-detail-log-button-container">
          <button class="btn flogo-flow-detail-log-button"
                  [ngClass]="{'flogo-flow-detail-log-button-selected': isSelectedLogs}"
                  (click)="showLogs(!isSelectedLogs)" title="Show logs">
            <i class="flogo-icon-debug"></i>
          </button>
        </div>

      </div>

    </section>

    <div class="flogo-flow-container">
      <flogo-canvas-flow-diagram *ngIf="mainHandler" [tasks]="mainHandler.tasks" [diagram]="mainHandler.diagram"
                                 [id]="'root'"
                                 data-flogo-diagram-id="root">
      </flogo-canvas-flow-diagram>

      <flogo-footer class="footer-wrapper"></flogo-footer>
    </div>

    <flogo-transform [flowId]="'root'"  data-flogo-for-diagram-id="root"></flogo-transform>
    <flogo-transform [flowId]="'errorHandler'" data-flogo-for-diagram-id="errorHandler"></flogo-transform>

    <flogo-instructions [isActivated]="isInstructionsActivated" (flogoOnClosedModal)="onClosedInstructions($event)"></flogo-instructions>

    <flogo-flows-detail-error-panel>
      <flogo-canvas-flow-diagram *ngIf="errorHandler" [tasks]="errorHandler.tasks" [diagram]="errorHandler.diagram"
                                 [id]="'errorHandler'"
                                 data-flogo-diagram-id="root"></flogo-canvas-flow-diagram>
    </flogo-flows-detail-error-panel>

  </div>
  <div class="canvas-right-container">
    <router-outlet></router-outlet>
  </div>

</div>

