<modal [size]="'lg'" #modal cssClass="flow-input-params-modal">
  <form [formGroup]="paramsForm" novalidate (ngSubmit)="saveParams(paramsForm)">
    <div class="flow-input-params-footer">
      <button type="cancel" class="flogo-button--secondary flow-input-params-cancel" data-dismiss="modal">{{
        'INPUT-PARAMS:CANCEL' | translate }}
      </button>
      <button type="submit" class="flogo-button--default flow-input-params-save" data-dismiss="modal"
              [disabled]="!paramsForm.valid" (click)="saveParams(paramsForm)">
        {{ 'INPUT-PARAMS:SAVE' | translate }}
      </button>
    </div>
    <div class="flow-input-params-header">{{ 'INPUT-PARAMS:DEFINE' | translate }}
    </div>
    <div class="flow-input-params-container">
      <div class="flow-input-params-categories">
        <ul>
          <li class="flow-input-params__category"
              [ngClass]="{'flow-input-params__category-selected': displayInputParams}"
              (click)="showInputParams()">Input
          </li>
          <li class="flow-input-params__category"
              [ngClass]="{'flow-input-params__category-selected': !displayInputParams}" (click)="showOutputParams()">
            Output
          </li>
        </ul>
      </div>
      <div class="flow-input-params-pane" formArrayName="input" *ngIf="displayInputParams">
        <div *ngFor="let inputParam of paramsForm.controls.input.controls; let i=index" class="flow-input-params-field">
          <div [formGroupName]="i" class="flow-params-new-field">
            <flogo-flow-input (onRemoveParam)="removeParam(i, 'input')"
                              (onModifyParamType)="modifyParamType($event,i,'input')"
                              (onAddParams)="addParams('input')"
                              [totalCount]="paramsForm.controls.input.controls.length"
                              [dropdownOptions]="selectTypes"
                              [paramGroup]="paramsForm.controls.input.controls[i]"
                              [inputIndex]="i"></flogo-flow-input>
          </div>
        </div>


      </div>
      <div class="flow-input-params-pane" formArrayName="output" *ngIf="!displayInputParams">
        <div *ngFor="let outputParam of paramsForm.controls.output.controls; let i=index" class="flow-input-params-field">
          <div [formGroupName]="i" class="flow-params-new-field">
            <flogo-flow-input (onRemoveParam)="removeParam(i, 'output')"
                              (onModifyParamType)="modifyParamType($event,i,'output')"
                              (onAddParams)="addParams('output')"
                              [totalCount]="paramsForm.controls.output.controls.length"
                              [dropdownOptions]="selectTypes"
                              [paramGroup]="paramsForm.controls.output.controls[i]"
                              [inputIndex]="i"></flogo-flow-input>
          </div>
        </div>

      </div>
    </div>
  </form>
</modal>

