
.flow-input-params-field {
  display: flex;
  margin: 30px;
  width: 93%;
}

.flow-params-new-field {
  width: 100%;
}

.flow-input-params-pane {
  background-color: #f4f4f4;
  width: 75%;
  max-height: 422px;
  overflow-y: auto;
}

.flow-input-params-header {
  display: flex;
  position: relative;
  bottom: 15px;
  font-size: 20px;
  color: #b5b5b5;
}

.flow-input-params-close {
  color: #b5b5b5;
  position: fixed;
  top: 24px;
  right: 24px;
  height: 18px;
  width: 18px;
  cursor: pointer;
}

.flow-input-params-footer {
  text-align: right;
}

.flow-input-params-save, .flow-input-params-cancel {
  width: 124px;
  height: 40px;
  font-size: 16px;
}

.btn-input-output-params {
  color: #4e7ead;
  background-color: #fff;
  border-color: #4e7ead;
}

.btn-input-output-params.active {
  color: #fff;
  background-color: #4e7ead;
  border-color: #4e7ead;
}

.flow-input-params-container {
  display: flex;
  border: 1px solid #0081cb;
  height: 422px;
}

.flow-input-params-categories {
  width: 25%;
  border-right: 1px solid #e0e0e0;
  ul {
    display: block;
    margin: 0;
    padding: 0;
  }
}

.flow-input-params__category {
  width: 200px;
  height: 45px;
  padding-left: 30px;
  margin: 0;
  list-style-type: none;
  text-transform: capitalize;
  line-height: 1.43;
  display: flex;
  align-items: center;
  color: #727272;
  cursor: pointer;
  &:hover {
    color: #0081cb;
    background: rgba(197, 202, 233, 0.2);
    cursor: pointer;
  }
}

.flow-input-params__category-selected {
  background-color: #cad3df;
  color: #062e79;
}


