.flogo-field-number {
  .error {
    border-color: red;
  }
  .is-disabled {
    border: 0;
    background: transparent;
    border-color: transparent;
    outline: none;
    box-shadow: none;
    color: #000;
    font-weight: bold;
    resize: none;
  }
}


