.flogo-field-number {
  .error {
    border-color: red;
  }
  .is-disabled {
    //border: 0;
    //border-color: transparent;
    background: transparent;
    outline: none;
    box-shadow: none;
    color: #000;
    font-weight: bold;
    resize: none;
  }

  .is-disabled-settings {
    border: 0;
  }
}


