.flogo-field-listbox {

  .list-caret {
    margin-right: 5px;
  }

  .list-label {
    color: #8493a8;
  }

  .list-label:active, .list-label:focus, .list-label:hover, .list-label:visited {
    background-color: transparent;
  }

}


