.flogo-field-listbox {

  .error {
    border-color: red;
  }

  .is-disabled {
    border: 0;
    background: transparent;
    border-color: transparent;
    outline: none;
    box-shadow: none;
    color: #000;
    font-weight: bold;
    resize: none;
  }

  .list-caret {
    margin-right: 5px;
  }

  .list-label {
    color: #8493a8;
  }

  .list-label:active, .list-label:focus, .list-label:hover, .list-label:visited {
    background-color: transparent;
  }

  .dropdown-toggle {
    height: 45px;

    .caret {
      margin-top: -1px;
    }

    &:hover {
      color: #54657e;
      border-color: #8493a8;
    }

    &:focus {
      color: #3d4d65;
      border-color: #0082d5;
    }

  }

}


