<div class="flogo-field-listbox">

  <div class="flogo-fields-header-field">
    <label class="control-label">{{_info.title}}</label>
    <label class="control-label" [hidden]="_info.required || _info.direction == 'output' " >{{ 'FIELDS:OPTIONAL' | translate }}</label>
  </div>


  <div class="dropdown" style="width: 100%">

    <button style="width: 100%; text-align: left;"
            class="btn btn-default dropdown-toggle list-label"
            [disabled]="!_info.isEditable"
            [class.is-disabled]="!_info.isEditable"
            [class.is-disabled-settings]="!_info.isEditable && _info.structure === 'settings'"
            type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      <span
        *ngIf="_info.isEditable"
        class="caret list-caret"></span>
      <span class="">{{_info.value}}</span>
    </button>

    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" [id]="_info.name">
      <li *ngFor="let option of options" (click)="onChangeField(option)" style="cursor:pointer;" class="list-label"><a>{{option ? option : "&nbsp;"}}</a></li>
    </ul>
  </div>

  <label *ngIf="!_info.isEditable" for="" [class.is-empty]="!_info.value">{{_info.value ? _info.value : '(empty)' }}</label>
  <div *ngIf="_hasError && _errorMessage" class="control-group error">
    <label class="flogo-fields-base__error">{{_errorMessage}}</label>
  </div>

</div>
