.filter-box {
  margin: 19px 21px;
}
.filter-box__input {
  width: 100%;
}
.flogo-common-edit-panel__head {
  background-color: #F5BE23;
  padding-top: 33px;
}
.flogo-common-edit-panel__head-title:before {
  content: "";
  background: #fff url("/assets/svg/flogo.flows.detail.add.cross.icon.svg") center center / 50% no-repeat;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 15px;
  text-align: center;
  vertical-align: middle;
}
