<div class="flogo-common-edit-panel">

  <div class="flogo-common-edit-panel__head">
    <div class="flogo-common-edit-panel__head-wrapper">
      <h3 class="flogo-common-edit-panel__head-title">Add Activity</h3>
      <div class="flogo-common-edit-panel__head-subtitle"></div>
    </div>
  </div>

  <div class="filter-box">
    <input class="flogo-input-search filter-box__input" type="text" [(ngModel)]="filterQuery" placeholder="Filter tasks">
  </div>

  <flogo-flows-detail-tasks-install></flogo-flows-detail-tasks-install>

  <ul class="flogo-common-edit-panel__tiles-list">
    <li class="flogo-common-edit-panel__tiles-list-tile" *ngFor="let task of filteredTasks"
        (click)="sendAddTaskMsg(task)">{{task.name}}
    </li>
  </ul>
</div>
