<div class="flogo-common-edit-panel">

  <div class="flogo-common-edit-panel__head">
    <div class="flogo-common-edit-panel__head-wrapper">
      <i class="flogo-icon-add"></i>
      <h3 class="flogo-common-edit-panel__head-title"> {{ 'TASKS:ADD-ACTIVITY' | translate }} </h3>
      <div class="flogo-common-edit-panel__head-subtitle">
        {{'TASKS:HINT-ADD-ACTIVITY' | translate}}
      </div>
    </div>
    <flogo-flows-detail-tasks-install
      (flogoOnInstalled)="onInstalledAction($event)"></flogo-flows-detail-tasks-install>
  </div>

  <div class="filter-box">
    <input class="flogo-input-search filter-box__input" type="text" [(ngModel)]="filterQuery" placeholder="{{ translate.get('ADD:FILTER-TASKS').value }}">
  </div>


  <ul class="flogo-common-edit-panel__tiles-list">
    <li class="flogo-common-edit-panel__tiles-list-tile" *ngFor="let task of filteredTasks"
        (click)="sendAddTaskMsg(task)">{{task.name}}
    </li>
  </ul>
</div>
