<div class="flogo-common-edit-panel">

  <div class="flogo-common-edit-panel__head">
    <div class="flogo-common-edit-panel__head-wrapper">
      <h3 class="flogo-common-edit-panel__head-title">Add Task</h3>
      <div class="flogo-common-edit-panel__head-subtitle"></div>
    </div>
  </div>

  <div class="filter-box">
    <input class="filter-box__input" type="text" [(ngModel)]="filterQuery" placeholder="Filter tasks" >
  </div>
  <flogo-flows-detail-tasks-install></flogo-flows-detail-tasks-install>
  <ul class="task-list list-unstyled">
    <li class="task-list__task" *ngFor="#task of filteredTasks" (click)="sendAddTaskMsg(task)">
      <i class="fa fa-gears"></i> {{task.name}}
    </li>
  </ul>
</div>
