.flogo-task-container {
  display: flex;
  flex-direction: column;
}
/*
.flogo-task-container .flogo-task-container__header {
  background-color: #0081CB;
  color: white;
  padding: 10px;
  min-height: 50px;
}
*/
.flogo-task-container .flogo-task-container__fields-header {
}
.flogo-task-container .flogo-task-container__fields-set {
}
.flogo-task-container .flogo-task-container__footer {
  background-color: #f8f8f8;
  border-top: 1px solid #b5b5b5;
  color: #666;
  margin-top: 10px;
  min-height: 83px;
  padding: 19px 16px;
}
