.flogo-task-container {
  display: flex;
  flex-direction: column;
  background-color: #F9FAFB;

  .flogo-task-container__header {
    background-color: #0081CB;
    color: white;
    padding: 10px;
    min-height: 50px;
  }


  .flogo-task-container__fields-header {
    color: #B0B1B3;
    padding-left: 10px;
  }

  .flogo-task-container__footer {
    background-color: #0081CB;
    color: white;
    padding: 10px;
    min-height: 50px;
  }

}
