<div class="flogo-task-container">
  <div class="flogo-task-container__header"> <h3> {{schema.title}} </h3></div>

  <h3 class="flogo-task-container__fields-header">Input Parameters</h3>
  <div #inputFields></div>

  <h3 class="flogo-task-container__fields-header">Output Parameters</h3>
  <div #outputFields></div>

  <div class="flogo-task-container__footer">
    <button class="btn btn-primary" (click)="getModifiedStateTask()">Run</button>
    <button class="btn btn-default">Cancel</button>
  </div>
</div>
