<div class="flogo-common-edit-panel flogo-task-container">

  <div [hidden]="hasErrors">

    <div class="flogo-common-edit-panel__head">

      <div class="flogo-common-edit-panel__head-icon">
        <img src="/assets/svg/flogo.icon.gears.circle.svg" alt="">
      </div>

      <div class="flogo-common-edit-panel__head-wrapper flogo-task-container__header">
        <h3 class="flogo-common-edit-panel__head-title">{{ data.name || data.id }}</h3>
        <div class="flogo-common-edit-panel__head-subtitle"></div>
      </div>
    </div>

    <!--<div class="flogo-task-container__header"> <h3> {{data.name|| data.id}} </h3></div>-->

    <div class="flogo-common-edit-panel__container">
      <h3 class="flogo-common-edit-panel__legend flogo-task-container__fields-header" [hidden]="!data?.attributes?.inputs?.length">Input Parameters</h3>
      <div #inputFields class="flogo-task-container__fields-set"></div>

      <h3 class=" flogo-common-edit-panel__legend flogo-task-container__fields-header" [hidden]="!data?.attributes?.outputs?.length">Output Parameters</h3>
      <div #outputFields class="flogo-task-container__fields-set"></div>

    </div>

    <div class="flogo-task-container__footer">
      <button class="tc-buttons tc-buttons-primary-call" [disabled]="!canRunFromThisTile" (click)="runFromThisTile($event)">
        Run from this tile
      </button>
      <button class="flogo-btn-link" [disabled]="!hasChanges" (click)="cancelEdit($event)">Cancel</button>
    </div>

  </div>

  <!--<h3 [hidden]="!hasErrors">Error parsing JSON</h3>-->
</div>
