.flogo-task-container {
  display: flex;
  flex-direction: column;

  .flogo-task-container__header {
    background-color: #0081CB;
    color: white;
    padding: 10px;
    min-height: 50px;
  }

  .flogo-task-container__footer {
    background-color: #0081CB;
    color: white;
    padding: 10px;
    min-height: 50px;
  }

}
