:host {
  display: block;
  margin: 0;
  padding: 0;
}

.flogo-installer-modal-title {
  font-size: 24px;
  line-height: 43px;
  font-family: 'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;

  color: #8E9AA8;

  margin: 0;
  padding: 0;
}

.flogo-installer-modal-close {
  position: fixed;
  top: 20px;
  right: 20px;

  height: 20px;
  width: 20px;

  background: #FFF url('/assets/svg/flogo.close.svg') no-repeat center center;
  cursor: pointer;
}

.flogo-installer-modal-hr {
  margin-top: 10px;
  margin-bottom: 10px;
}
