<modal [size]="'lg'" #installerModal (onClose)="onModalCloseOrDismiss($event)"
       (onDismiss)="onModalCloseOrDismiss($event)">
  <modal-body>
    <i class="flogo-installer-modal-close" (click)="closeModal()"></i>
    <header class="container-fluid">
      <div class="row">
        <div class="col-md-8">
          <h3 class="flogo-installer-modal-title" [innerHtml]="_title"></h3>
        </div>
        <div class="col-md-4">
          <flogo-installer-search [(flogoSearchQuery)]="query"></flogo-installer-search>
        </div>
      </div>
      <hr class="flogo-installer-modal-hr"/>
    </header>

    <section class="container-fluid">
      <flogo-installer-activity *ngIf="_installType=='activity'" [flogoSearchQuery]="query"></flogo-installer-activity>
      <flogo-installer-trigger *ngIf="_installType=='trigger'" [flogoSearchQuery]="query"></flogo-installer-trigger>
    </section>

    <!--<div class="row flogo-flows-detail-tasks-install-modal flogo-flows-detail-tasks-install-modal__content">-->
      <!--<div class="col-md-4">-->
        <!--<h4 class="category-list__title">Category</h4>-->
        <!--<ul class="list-unstyled category-list">-->
          <!--<li class="category-list__category">Requests</li>-->
          <!--<li class="category-list__category">Optimizations</li>-->
          <!--<li class="category-list__category">Connect to Devices</li>-->
          <!--<li class="category-list__category">Framework Adaptors</li>-->
          <!--<li class="category-list__category">Web Adaptors</li>-->
        <!--</ul>-->
      <!--</div>-->
      <!--<div class="col-md-8">-->
        <!--<ul class="list-unstyled activities-list">-->
          <!--<li *ngFor="let activity of activities"-->
              <!--class="activities-list__activity" [ngClass]="{installed: activity.isInstalled}"-->
              <!--(click)="!activity.isInstalled && install(activity)">-->

            <!--<div class="row">-->
              <!--<div class="col-md-2"><i class="fa fa-gears"></i></div>-->
              <!--<div class="col-md-7">{{activity.name}}</div>-->
              <!--<div class="col-md-2">-->
                <!--<i class="fa fa-check-circle-o install-status-icon" *ngIf="activity.isInstalled"></i>-->
                <!--<i class="fa fa-download install-status-icon" *ngIf="!activity.isInstalled"></i>-->
              <!--</div>-->
            <!--</div>-->
          <!--</li>-->
        <!--</ul>-->
      <!--</div>-->
    <!--</div>-->
  </modal-body>
</modal>


<!--<modal [size]="'lg'" #modal>-->
  <!--<modal-header [show-close]="true">-->
    <!--<div class="row flogo-flows-detail-triggers-install-modal">-->
      <!--<div class="col-md-7">-->
        <!--<h3 class="modal-title">Download triggers</h3>-->
      <!--</div>-->
      <!--<div class="col-md-4">-->
        <!--<input class="flogo-input-search" type="text" placeholder="Search">-->
      <!--</div>-->
    <!--</div>-->
  <!--</modal-header>-->
  <!--<modal-body>-->
    <!--<div class="row flogo-flows-detail-triggers-install-modal flogo-flows-detail-triggers-install-modal__content">-->
      <!--<div class="col-md-4">-->
        <!--<h4 class="category-list__title">Category</h4>-->
        <!--<ul class="list-unstyled category-list">-->
          <!--<li class="category-list__category">Requests</li>-->
          <!--<li class="category-list__category">Optimizations</li>-->
          <!--<li class="category-list__category">Connect to devices</li>-->
          <!--<li class="category-list__category">Framework adapters</li>-->
          <!--<li class="category-list__category">Web adapters</li>-->
        <!--</ul>-->
      <!--</div>-->
      <!--<div class="col-md-8">-->
        <!--&lt;!&ndash; TODO: change ngClass[isInstalled?true] to ngClass[isInstalled?trigger.isInstalled] &ndash;&gt;-->
        <!--&lt;!&ndash; TODO: add click handling (click)="!trigger.isInstalled && install(trigger)"  &ndash;&gt;-->
        <!--<ul class="list-unstyled activities-list">-->
          <!--<li *ngFor="let trigger of triggers"-->
              <!--class="activities-list__activity" [ngClass]="{installed: true}">-->

            <!--<div class="row">-->
              <!--<div class="col-sm-2"><i class="fa fa-gears"></i></div>-->
              <!--<div class="col-sm-8">{{trigger.name}}</div>-->
              <!--<div class="col-sm-2">-->
                <!--<i class="fa fa-check-circle-o install-status-icon" *ngIf="trigger.isInstalled"></i>-->
                <!--<i class="fa fa-download install-status-icon" *ngIf="!trigger.isInstalled"></i>-->
              <!--</div>-->
            <!--</div>-->
          <!--</li>-->
        <!--</ul>-->
      <!--</div>-->
    <!--</div>-->
  <!--</modal-body>-->
<!--</modal>-->
