<!-- class .flogo-group set in host element -->
<div class="flogo-group__trigger">
  <div class="flogo-trigger__container flogo-flow-trigger__container">
    <svg class="trigger" viewBox="0 0 50 52" xmlns="http://www.w3.org/2000/svg">
      <ng-container *ngIf="trigger">
        <use xlink:href="/assets/svg/trigger-icon.svg#defaultTrigger" class="trigger__shape"></use>
      </ng-container>
      <ng-container *ngIf="!trigger">
        <use xlink:href="/assets/svg/trigger-icon.svg#addTrigger" class="trigger__shape trigger__shape--empty"></use>
      </ng-container>
    </svg>
  </div>
  <i class="flogo-icon-trigger" [class.flogo-icon-trigger--empty]="!trigger"></i>
</div>
<flogo-apps-flows
  class="flogo-group__flows"
  [flows]="flows"
  (flowSelected)="onSelect($event)"
  (deleteFlow)="onDeleteFlow($event)"
></flogo-apps-flows>
<div class="add-flow-container">
  <button class="add-flow flogo-button--flat" *ngIf="trigger" (click)="onAddFlow()">
    <i class="flogo-icon-add"></i>{{ 'DETAILS:NEW-FLOW' | translate }}
  </button>
</div>
