<div class="header">
  <h3 class="title">{{ 'APP-LIST:MY-APPS' | translate }}</h3>
  <button class="flogo-button--secondary" (click)="importInput.click()">
    {{ 'DETAILS:IMPORT' | translate }}
    <input
      #importInput
      type="file"
      accept="application/json"
      class="app-list__app-import-input"
      (change)="onImportFileSelected($event)"
    />
  </button>
  <button class="flogo-button--default" (click)="addNewApp()">
    {{ 'APP-LIST:NEW' | translate }}
  </button>
</div>
<div class="content">
  <article
    *ngFor="let app of applications"
    class="app qa-app flogo-profile__thumbnail--microservice"
    (click)="onSelectApp($event, deleteBox, app)"
  >
    <div class="app__content">
      <h4 class="app__name qa-app-name">{{ app.name }}</h4>
      <div class="app__description">
        {{ app.description ? app.description : '&nbsp;' }}
      </div>
      <footer class="app__created-at">
        {{ 'FLOWS:CREATED' | translate: { value: '' } }}{{ app.createdAt | timeFromNow }}
      </footer>
      <flogo-delete-popover
        #deleteBox
        class="app__delete qa-app-delete"
        i18nMessage="APP-LIST-POPUP:CONFIRM-MESSAGE-DELETE"
        (confirmDel)="remove($event)"
        [deleteContent]="app"
      >
      </flogo-delete-popover>
    </div>
  </article>
  <div *ngIf="!applications.length" class="app-list-empty">
    <div class="app-list-empty__image"></div>
    <div class="app-list-empty__legend">{{ 'APP-LIST:EMPTY' | translate }}</div>
  </div>
</div>
