<div class="flogo-field-textbox">

  <div class="flogo-fields-header-field">
    <label class="control-label">{{_info.title}}</label>
    <label class="control-label" [hidden]="_info.required || _info.direction == 'output' " >{{ 'FIELDS:OPTIONAL' | translate }}</label>
  </div>

  <input type="text" class="form-control tc-inputs" [class.error]="_hasError" [(ngModel)]="_info.value"
         [placeholder]="_info.placeholder"
         (keyup)="onKeyUp($event)"
         (focus)="onFocus($event)"
         (change)="onValidate($event)"
         [readonly]="isReadOnly()">
  <div *ngIf="_hasError && _errorMessage" class="control-group error">
    <label class="flogo-fields-base__error">{{_errorMessage}}</label>
  </div>
</div>
