<section class="container">

  <header class="page-header">
    <h3>Flogo Configuration</h3>
    <p>Configurations of Server Information</p>
  </header>

  <form class="form-horizontal" (ngSubmit)="onSave()">
    <div class="form-group">
      <div class="col-xs-11 col-xs-offset-1">
        <button type="submit" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-default" (click)="onCancel()">Cancel</button>
        <button type="button" class="btn btn-default" (click)="onResetDefault()">Reset to default</button>
      </div>
    </div>

    <!-- log link -->
    <div class="form-group">
      <div class="col-xs-11 col-xs-offset-1">
        <a href="/test-engine.log" target="_blank">View Test Engine Log</a>
      </div>
      <div class="col-xs-11 col-xs-offset-1">
        <a href="/build-engine.log" target="_blank">View Build Engine Log</a>
      </div>
      <div class="col-xs-11 col-xs-offset-1">
        <a href="/web.log" target="_blank">View Flogo Web Server Log</a>
      </div>
      <div class="col-xs-11 col-xs-offset-1">
        <button class="col-lg-2 col-md-2 col-sm-3" type="button" class="btn btn-default" (click)="onRestartBuild()">Restart Build engine</button>
      </div>
    </div>


    <!-- server configuration -->

    <div class="form-group" *ngIf="_servers">
      <label class="col-md-2 col-sm-3">Servers</label>
    </div>


    <div class="form-group" *ngFor="let server of _servers">
      <!-- TODO: replace [innerHTML] with [textContent] https://github.com/angular/angular/issues/8413 -->
      <label class="col-lg-2 col-md-2 col-sm-3" [innerHTML]="server._label"></label>
      <div class="col-lg-8 col-md-8 col-sm-12">
        <div class="input-group">
          <input type="text" name="server-protocol" class="form-control" placeholder="{{location.protocol.replace( ':', '' )}}" [(ngModel)]="server.config.protocol">
          <div class="input-group-addon">://</div>
          <input type="text" name="server-host" class="form-control" placeholder="{{location.hostname}}" [(ngModel)]="server.config.host" >
          <div class="input-group-addon">:</div>
          <input type="text" name="server-port" class="form-control" placeholder="port" [(ngModel)]="server.config.port">
          <div class="input-group-addon">
            <flogo-config-service-status-indicator [urlConfig]="server.config"></flogo-config-service-status-indicator>
          </div>
        </div>
      </div>
      <button class="col-lg-2 col-md-2 col-sm-3" [ngClass]="{'flogo-display': server._display, 'flogo-hide': !server._display}" style="float:left;" type="button" class="btn btn-default" (click)="onRestart(server)">Restart</button>
    </div>

    <!-- DB configuration -->

    <div class="form-group" *ngIf="_appDB || _dbs">
      <hr class="col-md-offset-2 col-md-8" *ngIf="_servers"/>
      <label class="col-md-2 col-sm-3">Databases</label>
    </div>

    <div class="form-group" *ngFor="let db of _dbs">
      <!-- TODO: replace [innerHTML] with [textContent] https://github.com/angular/angular/issues/8413 -->
      <label class="col-md-2 col-sm-3" [innerHTML]="db.config.label"></label>
      <div class="col-lg-9 col-md-10 col-sm-12">
        <div class="input-group">
          <input type="text" class="form-control" name="db-protocol" placeholder="{{location.protocol.replace( ':', '' )}}" [(ngModel)]="db.config.protocol">
          <div class="input-group-addon">://</div>
          <input type="text" class="form-control" name="db-host" placeholder="{{location.hostname}}" [(ngModel)]="db.config.host">
          <div class="input-group-addon">:</div>
          <input type="text" class="form-control" name="db-port" placeholder="port" [(ngModel)]="db.config.port">
          <div class="input-group-addon">/</div>
          <input type="text" class="form-control" name="db-name" placeholder="dbname" [(ngModel)]="db.config.testPath">
          <div class="input-group-addon">
            <flogo-config-service-status-indicator [urlConfig]="db.config"></flogo-config-service-status-indicator>
          </div>
        </div>
      </div>
    </div>
  </form>


</section>
