<div class="flogo-common-edit-panel">

  <div [hidden]="hasErrors">

    <!-- PANEL HEADER -->
    <div class="flogo-common-edit-panel__head" [class.flogo-common-edit-panel__head-branch]="_context.isBranch">
      <div class="flogo-common-edit-panel__head-wrapper">

        <!-- PANEL TITLES -->
        <div  *ngIf="_task && (_context.isTask || _context.isTrigger)" [ngClass]="{trigger:_context.isTrigger, task: _context.isTask}">
          <div class="flogo-common-edit-panel__head-read">
            <a class="flogo-common-edit-panel__head-read-icon" *ngIf="_task.homepage" [href]="_task.homepage" target="_blank">
              <i class="flogo-icon-info"></i>
            </a>
            <div  class="flogo-common-edit-panel__head-read-icon" *ngIf="!_task.homepage">
              <i class="flogo-icon-info"></i>
            </div>
            <div class="flogo-common-edit-panel__head-read-detail-wrapper">
              <div  class="flogo-common-edit-panel__head-read-detail">
                <!--<i class="fa fa-times flogo-common-edit-panel__head-read-detail-close" aria-hidden="true"></i>-->
                <div class="flogo-common-edit-panel__head-read-titles">
                  <h3 [textContent]="_task.name"  class="flogo-common-edit-panel__head-read-title" [class.up]="_task.creator"></h3>
                  <span *ngIf="_task.creator" [textContent]="'Created by ' + _task.creator"  class="flogo-common-edit-panel__head-read-creator"></span>
                </div>
                <p [textContent]="_task.readMe || _task.description"  class="flogo-common-edit-panel__head-read-text"></p>
              </div>
            </div>
          </div>
          <div class="flogo-common-edit-panel__head-titles">
            <h3 [(fgContentEditable)]="_task.name" class="flogo-common-edit-panel__head-title" (fgContentEditableChange)="changeTaskDetail($event, 'name')"></h3>
            <div class="flogo-common-edit-panel__head-subtitle" [(fgContentEditable)]="_task.description" (fgContentEditableChange)="changeTaskDetail($event, 'description')"></div>
            <div *ngIf="_context.isTask" class="flogo-common-edit-panel__head-subtitle --not-editable">ID: {{ getTaskId() }}</div>
          </div>
        </div>

        <div *ngIf="_context.isBranch" class="branch" [class.change]="_hasChanges">
          <i class="flogo-icon-add"></i>
          <h3 class="flogo-common-edit-panel__head-title">{{ 'FORM-BUILDER:CONFIGURE-BRANCH' | translate }}</h3>
          <div class="flogo-common-edit-panel__head-subtitle">{{ 'FORM-BUILDER:HINT-CONFIGURE-BRANCH' | translate }}</div>
        </div>
      </div>
    </div>

    <div *ngIf="!_context.shouldSkipTaskConfigure">
      <div *ngIf="_context.isTrigger">
        <flogo-flow-configuration-trigger [context]="_context" [attributes]="_attributes" [fieldObserver]="_fieldObserver"
                                          (triggerAction)="onAction($event)"></flogo-flow-configuration-trigger>
      </div>

      <div *ngIf="_context.isTask">
        <flogo-flow-configuration-task [attributes]="_attributes" [fieldObserver]="_fieldObserver" [task]="_task"></flogo-flow-configuration-task>
      </div>

    </div>
    <div *ngIf="_context.shouldSkipTaskConfigure" class="flogo-task-container--no-configure">
      <div class="tile"></div>
      <div class="title"><i class="flogo-icon-settings"></i> {{ 'FORM-BUILDER:CONFIGURE-FROM-MENU' | translate }}</div>
    </div>

  </div>

</div>
