:host {
  display: block;
  margin: 0;
  padding: 0;
}

.flogo-instructions {
  margin: -30px;
  padding: 60px 60px 40px;
}

.flogo-instructions-header {
  padding-bottom: 43px;
}

.flogo-instructions-panel {
  display:flex;
  flex-direction: row;
  margin-left: -60px;
}

.flogo-instructions-footer {
  padding-top: 32px;
  text-align: right;
  .flogo-button--default{
    margin-left: 20px;
  }
}

.flogo-instructions-panel__step-list {
  margin: 0;
  list-style-type: none;
  padding: 0;

}

.flogo-instructions-panel__content {
  flex: 2;
}

.tc-buttons-primary {
  min-width: 112px;
}

.flogo-instructions-modal-title {
  font-size: 24px;
  color: #666;
  margin: 0;
  padding: 0;
}

.flogo-instructions-modal-close {
  position: fixed;
  top: 44px;
  right: 44px;

  height: 18px;
  width: 18px;

  background: #fff url('/assets/svg/flogo.close.svg') no-repeat center center;
  cursor: pointer;
}

.flogo-instructions-button {
  width: 124px;
  height: 40px;
}

.flogo-instructions-option {
  color: #666666;
  cursor: pointer;
  font-size: 14px;
  min-height: 60px;
  line-height: 4.3;
  margin: 0;
  padding-left: 62px;
  padding-right: 24px;
  width: 100%;

  &__bullet {
    border: 2px solid #36bfbb;
    border-radius: 50%;
    color: #36bfbb;
    display: inline-block;
    line-height: 26px;
    margin-right: 1em;
    text-align: center;
    height: 30px;
    width: 30px;
  }

  &-selected .flogo-instructions-option__bullet,
  &:hover .flogo-instructions-option__bullet {
    border-color: #fff;
    color: #fff;
  }

}

.flogo-instructions-screenshot {
  margin: -3px;
}

.flogo-instructions-option-selected-mixin() {
  background-color: #36bfbb;
  color: white;
}

.flogo-instructions-option-selected,
.flogo-instructions-option:hover {
  .flogo-instructions-option-selected-mixin();
}

.flogo-instructions-description {
  margin-left: 20px;
  color: #666;
  font-size: 14px;
}

