<modal [size]="'lg'" #instructionsModal (onClose)="onModalCloseOrDismiss($event)" (onDismiss)="onModalCloseOrDismiss($event)">
    <modal-body>
        <modal-header>
            <h3 class="flogo-instructions-modal-title">Getting started with Flogo</h3>
            <i class="flogo-instructions-modal-close" (click)="closeModal()"></i>
        </modal-header>

        <modal-body>
            <div class="flogo-instructions-panel">
                <div>
                    <ul>
                        <li *ngFor="let step of steps; let i = index;" (click)="clickOption(step, i)" [ngClass]="{'flogo-instructions-option-selected': i == currentIndex}" class="flogo-instructions-option">

                            <div *ngIf="i !== currentIndex"><img src="{{step.icon + '.svg'}}" />{{step.title}}</div>
                            <div *ngIf="i == currentIndex"><img src="{{step.icon + '-selected.svg'}}" />{{step.title}}</div>
                        </li>
                    </ul>

                </div>
                <div style="width: 100%">
                    <div><img src="{{currentStep.screenshot}}" class="flogo-instructions-screenshot" /></div>
                    <div class="flogo-instructions-description">{{currentStep.description}}</div>
                </div>
            </div>
        </modal-body>

        <modal-footer [show-default-buttons]="false">
            <button type="button" *ngIf="currentIndex > 0" class="btn  btn-lg btn-primary" (click)="clickBack($event)">BACK</button>
            <button type="button" *ngIf="currentIndex < STEPS_LENGTH " class="btn  btn-lg btn-primary" (click)="clickNext($event)">NEXT</button>
            <button type="button" *ngIf="currentIndex == STEPS_LENGTH" class="btn btn-lg btn-primary" (click)="closeModal()">CLOSE</button>
        </modal-footer>

    </modal-body>
</modal>