<modal [size]="'lg'" #instructionsModal (onClose)="onModalCloseOrDismiss($event)"
       (onDismiss)="onModalCloseOrDismiss($event)">
  <div class="flogo-instructions">
    <div class="flogo-instructions-header">
      <h3 class="flogo-instructions-modal-title">Getting started with Flogo</h3>
      <i class="flogo-instructions-modal-close" (click)="closeModal()"></i>
    </div>

    <div class="flogo-instructions-panel">
      <ul class="flogo-instructions-panel__step-list">
        <li *ngFor="let step of steps; let i = index;" (click)="clickOption(step, i)"
            [ngClass]="{'flogo-instructions-option-selected': i == currentIndex}"
            class="flogo-instructions-option">
          <span class="flogo-instructions-option__bullet">{{ i + 1 }}</span> {{ step.title }}
        </li>
      </ul>
      <div class="flogo-instructions-panel__content">
        <div><img class="flogo-instructions-screenshot img-responsive" src="/assets/img/{{currentStep.screenshot}}"/></div>
        <div class="flogo-instructions-description">{{currentStep.description}}</div>
      </div>
    </div>

    <div class="flogo-instructions-footer">
      <button type="button" *ngIf="currentIndex > 0" id="buttonBack" class="tc-buttons-primary"
              (click)="clickBack($event)">BACK
      </button>
      <button type="button" *ngIf="currentIndex < STEPS_LENGTH " id="buttonNext" class="tc-buttons-primary"
              (click)="clickNext($event)">NEXT
      </button>
      <button type="button" *ngIf="currentIndex == STEPS_LENGTH" id="buttonClose" class="tc-buttons-primary"
              (click)="closeModal()">CLOSE
      </button>
    </div>
  </div>

</modal>
