<div class="flogo-field-radio">
  <!--<label class="control-label">{{_info.title}}</label>-->
  <div class="flogo-fields-header-field">
    <label class="control-label">{{_info.title}}</label>
    <label class="control-label" [hidden]="_info.required || _info.direction == 'output' " >Optional</label>
  </div>

    <div class="flogo-field-radio__option tc-radio-buttons tc-radio-button">
      <input type="radio" name="booleanValue" value=true id="trueValue"
             (change)="onChangeField($event)"
             class="flogo-task-field__boolean_input" [attr.checked]="( _info.value === true || _info.value == 'true' )? true : null ">
      <label for="trueValue"><span class="flogo-task-field__boolean__label-text">True</span></label>
    </div>

    <div class="flogo-field-radio__option tc-radio-buttons tc-radio-button">
      <input type="radio" name="booleanValue" value=false id="falseValue"
             (change)="onChangeField($event)"
             class="flogo-task-field__boolean_input" [attr.checked]="( _info.value === false || _info.value == 'false' )? true : null ">
      <label for="falseValue"><span class="flogo-task-field__boolean__label-text">False</span></label>

    </div>

</div>
