:host {
}

.app-list {
  height: 75vh;
  overflow: scroll;
  color: #fff;
  margin: 0 auto;
  //width: 220px;

  .selected {
    background-color: white;
    color: #000;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;

    li {
      padding-left: 20px;
      line-height: 2.3em;
      margin-top:0;
    }

    li:hover {
      color: #fff;
      background-color: #c8cacc;
      padding-left: 20px;
      cursor: pointer;
    }

  }



}
