@import '../../../assets/_variables';
@import '../../../assets/uxpl/modal';

:host {
  .uxpl-modal-confirmation;
  display: inline-block;
}

::ng-deep {
  .new-flow-modal {
    min-width: 617px;
  }
  .modal-content {
    padding: 40px;
  }
}

.form-group {
  margin-bottom: 20px;
}

.form__label {
  font-size: 14px;
  color: @warm-grey;
}

.form__input {
  min-height: 40px;
}

.form__error {
  color: red
}

.title {
  margin-top: 0;
}

.footer {
  padding-top: 40px;
  text-align: right;
}

