:host {
  display: flex;
  flex: auto;
}
.flogo-flows-container {
  background: #eeeded;
  width: 100%;
}
.flogo-flows-container-title {
  display: inline-block;
  line-height: 35px;
  color: #666;
}
.flogo-flows-container-header {
  height: 136px;
  padding-top: 30px;
  background: #fafafa;
}
.flogo-flows-container-header-detail {
  position: relative;
  margin: 0 auto;
  width: 560px;
}
.flogo-flows-container-lists {
  margin: 0 auto;
  padding: 30px 0 0;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.flogo-flows-container-lists .flogo-flows-container-list {
  display: flex;
  margin: 20px 20px;
  border-radius: 4px;
  list-style: none;
  background-color: #ffffff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
  width: 250px;
  height: 140px;
  position: relative;
}
.flogo-flows-container-lists .flogo-flows-container-list:hover {
  background-color: #ececec;
}
.flogo-flows-container-lists .flogo-flows-container-list:hover .flogo-flows-container-list-detail-trash {
  opacity: 1;
}
.flogo-flows-container-lists .flogo-flows-container-list:hover .flogo-flows-container-list-detail-description:before {
  background: #ececec;
}
.flogo-flows-container-lists .flogo-flows-container-list-detail {
  flex: auto;
  color: #666;
  width: 100%;
  padding: 18px;
  display: block;
  text-decoration: none;
}
.flogo-flows-container-lists .flogo-flows-container-list-detail-trash {
  display: inline-block;
  opacity: 0;
  width: 30px;
  height: 30px;
  cursor: pointer;
  line-height: 100%;
  background: url("/assets/svg/flogo.flows.trash.icon.svg") center no-repeat;
  background-size: 16px;
  position: absolute;
  top: 10px;
  right: 10px;
}
.flogo-flows-container-lists .flogo-flows-container-list-detail-trash:hover {
  background: url("/assets/svg/flogo.flows.trash.hover.icon.svg") center no-repeat;
  background-size: 16px;
}
.flogo-flows-container-lists .flogo-flows-container-list-detail-name {
  display: block;
  margin-bottom: 3px;
  font-size: 18px;
  letter-spacing: 0.4px;
  line-height: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 25px;
}
.flogo-flows-container-lists .flogo-flows-container-list-detail-info {
  display: block;
  line-height: 13px;
  font-size: 10px;
  letter-spacing: 0.6px;
}
.flogo-flows-container-lists .flogo-flows-container-list-detail-creatTime {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  text-align: right;
  position: absolute;
  bottom: 15px;
  right: 15px;
}
.flogo-flows-container-lists .flogo-flows-container-list-detail-description {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.2;
  max-height: 4.8em;
  overflow: hidden;
  position: relative;
}
.flogo-flows-container-lists .flogo-flows-container-list-detail-description:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 1.2em;
  top: 3.6em;
  left: 0;
  background: #ffffff;
}
.flogo-flows-container-lists .flogo-flows-container-list-detail-description:after {
  content: '...';
  display: inline-block;
  width: 3em;
  height: 1.2em;
  position: absolute;
  top: 3.6em;
  left: 0;
}
@media all and (min-width:  290px ) {
  .flogo-flows-container-lists {
    width: 290px;
  }
}
@media all and (min-width:  580px ) {
  .flogo-flows-container-lists {
    width: 580px;
  }
}
@media all and (min-width:  870px ) {
  .flogo-flows-container-lists {
    width: 870px;
  }
}
@media all and (min-width:  1160px ) {
  .flogo-flows-container-lists {
    width: 1160px;
  }
}
@media all and (min-width:  1450px ) {
  .flogo-flows-container-lists {
    width: 1450px;
  }
}
