:host {
  display: flex;
  flex: auto;
}

.flogo-flows-container{
  background: #eeeded;
  width: 100%;
}
.flogo-flows-container-title{
  color: #666;
}
.flogo-flows-container-header{
  height: 136px;
  padding-top: 46px;
  background: #fafafa;
}
.flogo-flows-container-header-detail{
  position: relative;
  margin: 0 auto;
  width: 560px;
}
.flogo-flows-container-lists{
  margin: 0 auto;
  padding: 34px 0 0;
  width: 560px;
  .flogo-flows-container-list{
    display: flex;
    margin: 0 0 21px;
    min-height: 69px;
    object-fit: contain;
    border-radius: 4px;
    list-style: none;
    background-color: #ffffff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
    &:hover{
      background-color: #ececec;
      .flogo-flows-container-list-detail-trash{
        opacity: 1;
      }
    }
  }
  .flogo-flows-container-list-detail{
    flex: auto;
    color: #666;
    width: 500px;
    padding: 18px 0 16px 28px;
    display: block;
    text-decoration: none;
  }
  .flogo-flows-container-list-detail-trash{
    flex: auto;
    opacity: 0;
    width: 60px;
    cursor: pointer;
    line-height: 100%;
    background: url("/assets/svg/flogo.flows.trash.icon.svg") center no-repeat;
    background-size: 16px;
    &:hover{
      background: url("/assets/svg/flogo.flows.trash.hover.icon.svg") center no-repeat;
      background-size: 16px;
    }
  }
  .flogo-flows-container-list-detail-name{
    display: block;
    margin-bottom: 3px;
    font-size: 14px;
    letter-spacing: 0.4px;
    line-height: 18px;
  }
  .flogo-flows-container-list-detail-info{
    display: block;
    line-height: 13px;
    font-size: 10px;
    letter-spacing: 0.6px;
  }
  .flogo-flows-container-list-detail-creatTime{
    display: inline-block;
    vertical-align: middle;
    width: 29%;
    text-align: right;
  }
  .flogo-flows-container-list-detail-description{
    display: inline-block;
    vertical-align: middle;
    width: 70%;
  }
}
