<div class="flogo-flows-container">
  <div id="flogo-flows-container-box" class="flogo-flows-container-box">
    <div class="flogo-flows-container-title">My Flows</div>
    <button class="flogo-flows-container-box-add" (click)="addFlow()">
      <i class="fa fa-plus"></i><span>Create New</span>
    </button>
    <ul id="flogo-flows-container-lists" class="flogo-flows-container-lists">
      <li *ngFor="#flow of flows" class="flogo-flows-container-list">
        <span class="flogo-flows-container-list-detail-trash" (click)="deleteFlow(flow._id, flow._rev)"></span>
        <a class="flogo-flows-container-list-detail" [routerLink]="['FlogoFlowDetail', {id:flogoIDEncode(flow._id)}]">
          <span class="flogo-flows-container-list-detail-name">{{flow.name}}</span>
          <span class="flogo-flows-container-list-detail-creatTime">{{flow.created_at}}</span>
        </a>
      </li>
    </ul>
  </div>
</div>
