<div class="flogo-flows-container">
  <div class="flogo-flows-container-header">
    <div class="flogo-flows-container-header-detail">
      <h3 class="flogo-flows-container-title">My Flows
        <flogo-flows-import
          (importSuccess)="onFlowImportSuccess($event)"
          (importError)="onFlowImportError($event)"></flogo-flows-import>
      </h3>
      <flogo-flows-add></flogo-flows-add>
    </div>

  </div>
  <div class="flogo-flows-container-body">
    <ul class="flogo-flows-container-lists">
      <li *ngFor="#flow of flows" class="flogo-flows-container-list">
        <a class="flogo-flows-container-list-detail" [routerLink]="['FlogoFlowDetail', {id:flogoIDEncode(flow._id)}]">
          <span class="flogo-flows-container-list-detail-name">{{flow.name}}</span>
          <span class="clearfix flogo-flows-container-list-detail-info">
            <span class="flogo-flows-container-list-detail-description">{{flow.description}}</span>
            <i class="flogo-flows-container-list-detail-creatTime">Created {{flow.created_at}}</i>
          </span>
        </a>
        <span class="flogo-flows-container-list-detail-trash" (click)="deleteFlow(flow)"></span>
      </li>
    </ul>
  </div>
</div>
