<div class="flogo-flows-container">
    <flogo-instructions [isActivated]="isInstructionsActivated" (flogoOnClosedModal)="onClosedInstructions($event)"></flogo-instructions>
    <div class="flogo-flows-welcomeContainer clearfix">
        <div class="flogo-welcome-msg">

            <p class="flogo-welcomeMsg-header">{{ 'FLOWS:WELCOME-BACK' | translate }}</p>
            <p class="flogo-welcomeMsg-description">{{ 'FLOWS:NEW-INSTRUCTIONS' | translate }}</p>
            <a href="https://www.youtube.com/watch?v=OHX4kKVdI28&feature=youtu.be" target="_blank"><img src="/assets/svg/flogo.video.icon.svg"> {{ 'FLOWS:FEATURED-VIDEO-TUTORIAL' | translate }} </a>
        </div>
        <div class="flogo-mascot">
            <img src="/assets/svg/flogo-flynn.png" class="flogo-flows-mascotImg">
        </div>
    </div>

    <div class="flogo-flows-container-header">
        <div class="container-fluid">
            <div class="flogo-flows-container-header-container">
                <h3 class="flogo-flows-container-title">{{ 'FLOWS:MY-FLOWS' | translate }}</h3>
            </div>
        </div>
    </div>


    <div class="flogo-flows-container-body container-fluid">
        <ul class="flogo-flows-container-lists row">
            <li class="flogo-flows-container-list-col">
                <div class="flogo-flows-container-new">
                    <flogo-flows-add class="flogo-flows-container-new__option"></flogo-flows-add>
                    <flogo-flows-import class="flogo-flows-container-new__option" (importSuccess)="onFlowImportSuccess($event)" (importError)="onFlowImportError($event)"></flogo-flows-import>
                </div>
            </li>
            <li *ngFor="let flow of flows" class="flogo-flows-container-list-col">
                <div class="flogo-flows-container-list">
                    <a class="flogo-flows-container-list-detail" href="javascript:void(0);" (click)="openFlow(flow._id, $event)">
                        <header class="flogo-flows-container-list-detail-name" [title]="flow.name">{{flow.name}}</header>
                        <section class="flogo-flows-container-list-detail-info">
                            <p class="flogo-flows-container-list-detail-description" [title]="flow.description">{{flow.description}}</p>
                            <i class="flogo-flows-container-list-detail-creatTime"> {{ 'FLOWS:CREATED' | translate:{value:flow.created_at} }} </i>
                        </section>
                    </a>
                    <span class="flogo-flows-container-list-detail-trash" (click)="deleteFlow(flow, $event)"></span>
                </div>
            </li>
        </ul>
    </div>




</div>
