<div class="modal-wrapper" *ngIf="isActive" [@dialog]>
  <div class="mapper-modal qa-transform-modal">
    <div class="mapper-modal__header header">
      <h2 class="header__title" [ngClass]="{'header__title--subflow': isSubflowType}">{{ title }}</h2>
      <div class="header__actions actions">
        <button class="flogo-button--secondary actions__action" (click)="cancel()">
          Cancel
        </button>
        <button class="flogo-button--primary  actions__action actions__action--save"
                [class.disabled]="!this.tabs.areDirty() || !this.tabs.areValid()"
                [disabled]="!this.tabs.areDirty() || !this.tabs.areValid()"
                (click)="save()">{{ 'TASK-CONFIGURATOR:SAVE' | translate }}
        </button>
      </div>
      <button class="mapper-modal__close" (click)="cancel()">
        <span aria-hidden="true" class="sr-only">{{ 'TASK-CONFIGURATOR:CLOSE' | translate }}</span>
      </button>
    </div>

    <div class="mapper-modal__content">
      <div class="tab-panel">
        <ul class="tabs">
          <li class="tabs__tab"
              *ngFor="let tabData of tabs; trackBy: trackTabsByFn"
              (click)="selectTab(tabData[0])"
              [ngClass]='{
                "tabs__tab--selected": tabData[1].isSelected,
                "tabs__tab--has-errors": !tabData[1].isValid
               }'>
            {{ tabData[1].labelKey | translate }}
          </li>
        </ul>
      </div>
      <flogo-flow-task-configurator-input-mapper
        *ngIf="this.tabs.get('inputMappings').isSelected"
        class="content"
        [mappings]="currentMappings"
        [initialConfig]="inputMappingsConfig"
        [isIterableScope]="iteratorModeOn"
        (mappingsChange)="onMappingsChange($event)"
        inputsSearchPlaceholder="{{ inputsSearchPlaceholderKey | translate }}"
        outputsSearchPlaceholder="{{ 'TASK-CONFIGURATOR:AVAILABLE-DATA' | translate }}"></flogo-flow-task-configurator-input-mapper>
      <flogo-flow-task-configurator-iterator *ngIf="!isReturnActivity && this.tabs.get('iterator').isSelected"
        class="content"
        [iteratorModeOn]="iteratorModeOn"
        [initialConfig]="{ inputScope: inputScope, iterableValue: iterableValue }"
        (changeIteratorMode)="onChangeIteratorMode()"
        (iteratorValueChange)="onIteratorValueChange($event)"></flogo-flow-task-configurator-iterator>
      <flogo-flow-task-configurator-subflow *ngIf="isSubflowType && this.tabs.get('subFlow').isSelected && !showSubflowList" [subFlow]="subFlowConfig"
                                           (selectDifferentFlow)="selectSubFlow($event)" class="content"></flogo-flow-task-configurator-subflow>
      <flogo-flow-flows-list class="content subflow-list__content" *ngIf="showSubflowList" (flowSelected)="subFlowChanged($event)"
                             (flowSelectionCancel) = "flowSelectionCancel($event)" [list]="subflowList"></flogo-flow-flows-list>
    </div>
  </div>
</div>
