<i class="flogo-installer-list-item-icon pull-left"></i>

<section class="flogo-installer-list-item-info pull-left">
  <div class="flogo-installer-list-item-display-name" [innerText]="_item.displayName"></div>
  <div class="flogo-installer-list-item-description" [innerText]="_item.description"></div>
</section>

<i class="flogo-installer-list-item-status-icon-not-installed pull-right" *ngIf="!_item.isInstalled"
   (click)="onInstall()" title="Install"></i>
<i class="flogo-installer-list-item-status-icon-installed pull-right" *ngIf="_item.isInstalled" (click)="onUninstall()"
   title="Installed."></i>

<section class="flogo-installer-list-item-detail pull-right">
  <div class="flogo-installer-list-item-author"> {{ 'LIST-VIEW-ITEM:CREATED-BY' | translate:{value:_item.author} }} </div>
  <div class="flogo-installer-list-item-create-time" [innerText]="_item.createTime"></div>
</section>

<span class="clearfix"></span>
