extends ./layout.jade

block user-info
    label.demo-header__user__loginName #{login}
    img.demo-header__user__avatar(src='#{avatar_url}' , height='30', width='30')
    a.button.btn.btn-success.btn-sm(type='submit',href='/logout') Logout

block angular-app
    demo-app Loading...
    script(src='lib/github.bundle.min.js')
    script(src='lib/moment.min.js')
    script(src='lib/es6-shim.min.js')
    script(src='lib/angular2-polyfills.js')
    script(src='lib/traceur-runtime.js')
    script(src='lib/system-csp-production.src.js')
    script(src='lib/Reflect.js')
    script.
      System.config({defaultJSExtensions: true});
      System.set('github-api', System.newModule({
        'default': window.Github
      }));
      System.set('moment', System.newModule({
        'default': window.moment
      }));
    script(src='lib/angular2.js')
    script(src='lib/router.dev.js')
    script(src='lib/http.dev.js')
    script(src='lib/Rx.js')
    script.
      System.import('boot').catch(console.log.bind(console));

