extends ./layout.jade

block login
  div(style='height:100%;margin-top:20%;margin-bottom:20%')
    a.btn.btn-lg.btn-social.btn-github(href='/github/auth')
      span.fa.fa-github
      |   Sign in with GitHub
