<div class="settings-block">
  <label class="settings-label">
    <span>{{settingInformation.name}}</span>
    <i *ngIf="!settingInformation.required" class="settings-label__optional">Optional</i>
    <i *ngIf="settingControl.disabled" class="flogo-icon-edit settings-icon__edit" (click)="enableField()"></i>
  </label>
  <ng-container [ngSwitch]="settingInformation.type">
    <monaco-editor *ngSwitchCase="VALUE_TYPES.Any"
                   [formValueChangeTransformerFn]="editorOut(settingInformation.type)"
                   [formValueWriteTransformerFn]="editorIn"
                   [formControl]="settingControl">
    </monaco-editor>
    <input *ngSwitchDefault class="settings-field" fgTriggersConfigAutoComplete
           [fgTriggerSettingsField]="settingInformation.type"
           [formControl]="settingControl"
           [autoCompleteVariablesSource]="settingInformation.propsAllowed"
           [autoCompleteAllowedSource]="settingInformation.allowed">
  </ng-container>
  <flogo-configuration-settings-field-error *ngIf="settingControl?.errors"
                                            [validationErrors]="settingControl?.errors">
  </flogo-configuration-settings-field-error>
</div>
