<div class="ft-json">

    <div class="ft-json__header">

        <div *ngIf="isInput" class="ft-json__header--input">
            <div [ngClass]="{'ft-json__header--collapsed':isCollapsed,'ft-json__header--not-collapsed':!isCollapsed}">
                <div class="ft-json__header__label">Input</div>
                <div class="ft-json__header__icon" (click)="togglePanel()" *ngIf="isCollapsed"><img src="/assets/svg/arrow-left.svg" alt=""></div>
                <div class="ft-json__header__icon" (click)="togglePanel()" *ngIf="!isCollapsed"><img src="/assets/svg/arrow-right.svg" alt=""></div>
            </div>
        </div>

         <div *ngIf="!isInput" class="ft-json__header--output">
            <div [ngClass]="{'ft-json__header--collapsed':isCollapsed,'ft-json__header--not-collapsed':!isCollapsed}">
                <div class="ft-json__header__label">Output</div>
                <div class="ft-json__header__icon" (click)="togglePanel()" *ngIf="isCollapsed"><img src="/assets/svg/arrow-right.svg" alt=""></div>
                <div class="ft-json__header__icon" (click)="togglePanel()" *ngIf="!isCollapsed"><img src="/assets/svg/arrow-left.svg" alt=""></div>
            </div>
        </div>

    </div>

    <pre *ngIf="!isCollapsed" class="ft-json__code">{{ schema | json }}</pre>
</div>
