<div class="flogo-visual-mapper">

    <div class="shape" [ngClass]="{'shape-connected':selectedValue, 'shape-connected-over':selectedValue && overInput}">

        <div class="output">
            <div [ngClass]="{'connected':selectedValue, 'not-connected':!selectedValue}">

                <img src="/assets/svg/flogo.transform.closeicon.svg"
                     class="flogo-visual-mapper__item__remove" (click)="clickRemove($event)"
                     aria-hidden="true" [hidden]="!selectedValue" alt="Remove connection">

                <input type="text"  [(ngModel)]="selectedValue"
                       (click)="onFocusText(tile.name)"
                       (keyup)="onKeyPress($event)"
                       (keyup)="onKeyUp($event.target.value)"
                       [attr.data-flogo-output-for]="tile.name"
                       class="output-text">
            </div>
        </div>

        <div class="input-shape"
             (mouseover)="onMouseOver('',tile.name, 'input')"
             (mouseleave)="onMouseLeave('','')"
             [style.color]="hasError ? 'red': 'black'">
            <div [ngClass]="{'connected':selectedValue, 'not-connected':!selectedValue}"
                 [attr.data-flogo-input-for]="tile.name">{{tile.name}}</div>
        </div>
    </div>

    <div class="flogo-visual-mapper__item__list" [ngClass]="{'flogo-visual-mapper__item_list--active':showList}">
        <div *ngFor="let item of tiles" [hidden]="!showList"  class="flogo-visual-mapper__item__list__item" >

            <span class="glyphicon flogo-visual-mapper__item__action"
                  [ngClass]="{'glyphicon-triangle-right': !selectedTile, 'glyphicon-triangle-bottom':selectedTile == item.name}"></span>

            <div class="flogo-visual-mapper__item__name" (click)="setSelectedTile(item.name)">{{item.name}}</div>
                <div class="flogo-visual-mapper__item__list__field"
                    [hidden]="selectedTile != item.name"
                    *ngFor="let field of item.fields"
                    (click)="clickField(item, field)">

                    <div class="flogo-visual-mapper__item__field"
                         (mouseleave)="emittItemOver('','')"
                         (mouseover)="onMouseOver(item.name, field.name, 'output')">{{field.name}}</div>

                </div>
        </div>
    </div>


</div>
