<div class="flogo-transform-modal-wrapper" [ngClass]="{'in':active && !out}">
  <div *ngIf="active" class="flogo-transform-modal">
    <div class="flogo-transform-modal__header" [class.is-delete-open]="showDeleteConfirmation">
      <div class="flogo-transform-header">
        <div class="flogo-transform-header__title">
          <h2 class="flogo-transform-modal__header-title">Transformation</h2>
        </div>
        <div class="flogo-transform-header__main-actions">
          <button class="flogo-btn-link flogo-transform-delete-btn" (click)="openDeleteConfirmation($event)">
            Delete
          </button>
          <button class="tc-buttons tc-buttons-primary"
                  [class.disabled]="!isValid || !isDirty" [disabled]="!isValid || !isDirty"
                  (click)="saveTransform()">Save
          </button>
          <div class="flogo-transform-confirm-delete" #deleteContainer>
            <span class="text">Are you sure?</span>
            <button class="delete-btn" (click)="deleteTransform()">Yes</button>
            <button class="delete-btn" (click)="cancelDeleteConfirmation()">No</button>
          </div>
        </div>
        <button class="flogo-transform-modal__close" (click)="cancel()">
          <span aria-hidden="true" class="sr-only">Close</span>
        </button>
      </div>
    </div>
    <div class="flogo-transform-modal__content">
      <div class="col">
        <div class="flogo-transform-modal__col-header">
          <div class="flogo-transform-modal__col-header-subtitle">Previous tiles</div>
          <div class="flogo-transform-modal__col-header-title">Output data</div>
        </div>
        <pre class="flogo-transform-modal__col-content flogo-transform-modal__schema-display">{{ data.precedingTilesOutputs | json }}</pre>
      </div>
      <div class="col editor-col" [class.has-error]="!isValid">
        <div class="flogo-transform-modal__col-header">
          <div class="flogo-transform-modal__col-header-title">
            Transformation <flogo-transform-help></flogo-transform-help>
          </div>
        </div>
        <div class="flogo-transform-modal__col-content">
          <!--
          <div class="flogo-transform-modal__editor-container">
            <flogo-transform-map-editor [mappings]="data.mappings"
                                        [tileInputInfo]="data.tileInputInfo"
                                        [precedingTilesOutputs]="data.precedingTilesOutputs"
                                        (mappingChange)="onMappingsChange($event)"></flogo-transform-map-editor>
          </div>
          -->
          <div class="flogo-transform-modal__error-container" [hidden]="!errors">
            <flogo-transform-error-display [errors]="errors"></flogo-transform-error-display>
          </div>
          <div>
            <flogo-transform-visual-mapper [mappings]="data.mappings"
                                           [tileInputInfo]="data.tileInputInfo"
                                           [precedingTilesOutputs]="data.precedingTilesOutputs"
                                           (mappingChange)="onMappingsChange($event)"  ></flogo-transform-visual-mapper>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="flogo-transform-modal__col-header">
          <div class="flogo-transform-modal__col-header-subtitle">Transformation for {{ data.tile?.name }}</div>
          <div class="flogo-transform-modal__col-header-title">Input data</div>
        </div>
        <pre class="flogo-transform-modal__col-content flogo-transform-modal__schema-display">{{ data.tileInputInfo | json }}</pre>
      </div>
    </div>
  </div>


</div>
