<div class="flogo-transform-modal-wrapper" [ngClass]="{'in':active && !out}">
  <div *ngIf="active" class="flogo-transform-modal">
    <div class="flogo-transform-modal__header" [class.is-delete-open]="showDeleteConfirmation">
      <div class="flogo-transform-header">
        <div class="flogo-transform-header__title">
          <h2 class="flogo-transform-modal__header-title">{{ 'TRANSFORM:TRANSFORMATION' | translate }}</h2>
        </div>
        <div class="flogo-transform-header__main-actions">
          <button class="flogo-btn-link flogo-transform-delete-btn" (click)="openDeleteConfirmation($event)">
            Delete
          </button>
          <button class="tc-buttons tc-buttons-primary flogo-transform-save-btn"
                  [class.disabled]="!isValid || !isDirty" [disabled]="!isValid || !isDirty"
                  (click)="saveTransform()">{{ 'TRANSFORM:SAVE' | translate }}
          </button>
          <div class="flogo-transform-confirm-delete" #deleteContainer>
            <span class="text">{{ 'TRANSFORM:ARE_YOU_SURE' | translate }} </span>
            <button class="delete-btn" (click)="deleteTransform()"> {{ 'TRANSFORM:YES' | translate }} </button>
            <button class="delete-btn" (click)="cancelDeleteConfirmation()">{{ 'TRANSFORM:NO' | translate }}</button>
          </div>
        </div>
        <button class="flogo-transform-modal__close" (click)="cancel()">
          <span aria-hidden="true" class="sr-only">{{ 'TRANSFORM:CLOSE' | translate }}</span>
        </button>
      </div>
    </div>

    <div class="flogo-transform-modal__content">

      <div class="col" [ngClass]="{'collapsed':isCollapsedOutput, 'not-collapsed':!isCollapsedOutput}"   >
        <flogo-transform-json-panel
                class="flogo-transform-modal__content-json-panel"
                [schema]="data.precedingTilesOutputs"
                [currentFieldSelected]="currentFieldSelected"
                (toggled)="onToggledSchema($event)"
                [isInput]="false"></flogo-transform-json-panel>
      </div>

      <div class="mappings-container" [class.has-error]="!isValid">
        <div class="mappings-container__main">
            <flogo-transform-mapper [mappings]="data.mappings"
                                    [tileInputInfo]="data.tileInputInfo"
                                    [precedingTilesOutputs]="data.precedingTilesOutputs"
                                    (selectedItem)="onSelectedItem($event)"
                                    (mappingChange)="onMappingsChange($event)"></flogo-transform-mapper>
        </div>
        <div class="mappings-container__error" [hidden]="!errors">
          <flogo-transform-error-display [errors]="errors"></flogo-transform-error-display>
        </div>
      </div>


      <div class="col" [ngClass]="{'collapsed':isCollapsedInput, 'not-collapsed':!isCollapsedInput}"  >
        <flogo-transform-json-panel [schema]="data.tileInputInfo"
                          class="flogo-transform-modal__content-json-panel"
                          [isInput]="true"
                          [currentFieldSelected]="currentFieldSelected"
                          (toggled)="onToggledSchema($event)"
                          [name]="data.tile?.name"></flogo-transform-json-panel>
      </div>



    </div>
  </div>



</div>
