<div class="">
    Hello
    <div *ngFor="let input of tileInfo.attributes">
        <flogo-transform-mapper-field></flogo-transform-mapper-field>
        <!--
        <flogo-transform-visual-mapper  [mappings]="data.mappings"
                                        [tileInputInfo]="input"
                                        [precedingTilesOutputs]="data.precedingTilesOutputs"
                                        (mappingChange)="onMappingsChange($event)"  ></flogo-transform-visual-mapper>
                                        -->
    </div>
</div>
