<div class="flogo-visual-mapper" (mouseleave)="onMouseLeave($event)">

    <div class="flogo-visual-mapper__item">
        <div class="flogo-visual-mapper__item__output" [class.flogo-visual-mapper__item__output--connected]="selectedValue">
            <div>
                <span class="glyphicon glyphicon-remove" (click)="clickRemove($event)"
                      style="left:-10px;color:dimgray;cursor:pointer"
                      aria-hidden="true" [hidden]="!selectedValue" (click)="clickRemove($event)"></span>


                <input type="text"  [(ngModel)]="selectedValue"
                       (click)="onFocusText(tile.name)"
                       (keyup)="onKeyPress($event)"
                       (keyup)="onKeyUp($event.target.value)"
                       class="flogo-visual-mapper__item__output__text">
            </div>
        </div>

        <div class="flogo-visual-mapper__item__input"
             [style.color]="hasError ? 'red': 'black'">{{tile.name}}</div>
    </div>


    <div class="flogo-visual-mapper__item__list" [style.border]="showList ? '1px solid gray' : none">
        <ul *ngFor="let item of tiles" [hidden]="!showList" style="margin-top: 0; padding-top: 0;">
            <span class="glyphicon"
                  [ngClass]="{'glyphicon-triangle-right':!selectedTitle, 'glyphicon-triangle-bottom':selectedTile == item.name}"
                  style="color:dimgray;font-size: 0.8em"></span>
            <li style="margin-left: 5px; margin-top: 0;list-style-type: none;display: inline" (click)="setSelectedTile(item.name)">{{item.name}}</li>
            <ul>
                <li style="list-style-type: none; margin-left: 10px"
                    [hidden]="selectedTile != item.name"
                    *ngFor="let field of item.fields"
                    (click)="clickField(item, field)">{{item.name}}.{{field.name}} </li>
            </ul>
        </ul>
    </div>


</div>