<div class="flogo-transformation-json">
    <div class="flogo-transformation-json__header">

        <div *ngIf="isInput" class="flogo-transformation-json__header--input">
            <div [ngClass]="{'flogo-transformation-json__header--collapsed':isCollapsed,'flogo-transformation-json__header--not-collapsed':!isCollapsed}">
                <div class="flogo-transformation-json__header__label">{{ 'TRANSFORM-JSON-PANEL:INPUT' | translate }}</div>
                <div class="flogo-transformation-json__header__icon" (click)="togglePanel()" *ngIf="isCollapsed"><img src="/assets/svg/arrow-left.svg" alt=""></div>
                <div class="flogo-transformation-json__header__icon" (click)="togglePanel()" *ngIf="!isCollapsed"><img src="/assets/svg/arrow-right.svg" alt=""></div>
            </div>


        </div>

         <div *ngIf="!isInput" class="flogo-transformation-json__header--output">
            <div [ngClass]="{'flogo-transformation-json__header--collapsed':isCollapsed,'flogo-transformation-json__header--not-collapsed':!isCollapsed}">
                <div class="flogo-transformation-json__header__label">{{ 'TRANSFORM-JSON-PANEL:OUTPUT' | translate }}</div>
                <div class="flogo-transformation-json__header__icon" (click)="togglePanel()" *ngIf="isCollapsed"><img src="/assets/svg/arrow-right.svg" alt=""></div>
                <div class="flogo-transformation-json__header__icon" (click)="togglePanel()" *ngIf="!isCollapsed"><img src="/assets/svg/arrow-left.svg" alt=""></div>
            </div>
        </div>

    </div>

    <div *ngIf="!isCollapsed">
        <hr />

        <div  *ngIf="!isInput">
            <div class="flogo-transformation-json__header__subtitle">{{ 'TRANSFORM-JSON-PANEL:PREVIOUS-TILES' | translate }}</div>
        </div>

        <div  *ngIf="isInput">
            <div class="flogo-transformation-json__header__subtitle"> {{ 'TRANSFORM-JSON-PANEL:TRANSFORMATION-FOR-NAME' | translate:{value:name} }} </div>
        </div>

    </div>

    <div *ngIf="!isCollapsed" [innerHTML]="currentSchema" class="flogo-transformation-json__code"></div>
</div>
