<div class="">
    <div *ngFor="let tile of tileInputInfo">
        <flogo-transform-mapper-field [tile]="tile" [preceding]="precedingTilesOutputs"></flogo-transform-mapper-field>
        <!--
        <flogo-transform-visual-mapper  [mappings]="data.mappings"
                                        [tileInputInfo]="input"
                                        [precedingTilesOutputs]="data.precedingTilesOutputs"
                                        (mappingChange)="onMappingsChange($event)"  ></flogo-transform-visual-mapper>
                                        -->
    </div>
</div>
