<div class="flogo-visual-mapper">

    <!--<div class="alert alert-danger" role="alert" [hidden]="!hasError">{{messageError}}</div>-->

    <div class="flogo-visual-mapper__item">
        <div class="flogo-visual-mapper__item__remove" title="Remove transformation" [hidden]="!selectedValue"><span class="glyphicon glyphicon-remove" (click)="clickRemove($event)" aria-hidden="true"></span></div>
        <div class="flogo-visual-mapper__item__output" [class.flogo-visual-mapper__item__output--connected]="selectedValue">
            <div>
                <span   (click)="toggleList()"
                        [hidden]="showList"
                        class="glyphicon glyphicon-triangle-bottom flogo-visual-mapper__item__output__list__selector"></span>

                 <span   (click)="toggleList()"
                        [hidden]="!showList"
                        class="glyphicon glyphicon-triangle-top flogo-visual-mapper__item__output__list__selector"></span>


                <input type="text"  [(ngModel)]="selectedValue"
                       (keyup)="onKeyPress($event)"
                       (keyup)="onKeyUp($event.target.value)"
                       class="flogo-visual-mapper__item__output__text">
            </div>
        </div>

        <div class="flogo-visual-mapper__item__input"
             [class.flogo-visual-mapper__item__input--connected]="selectedValue != ''"
             [style.color]="hasError ? 'red': 'black'">{{tile.name}}</div>
    </div>
    <div class="flogo-visual-mapper__item__list" [class.flogo-visual-mapper__item__list--selectedvalue]="selectedValue">
        <ul *ngFor="let tile of tiles" [hidden]="!showList">
            <li class="">{{tile.name}}</li>
            <ul>
                <li class=""
                    *ngFor="let field of tile.fields"
                    (click)="clickField(tile, field)">{{tile.name}}.{{field.name}} </li>
            </ul>
        </ul>
    </div>


</div>