.flogo-visual-mapper-output {

  .flogo-visual-mapper-output__list {
    border: 1px solid black;
    width: 90%;
  }

  .flogo-visual-mapper-output__text {
    width: 90%;
  }

  .flogo-visual-mapper-output__tile-name {
  }

  .flogo-visual-mapper-output__tile-path {
    cursor: pointer;
  }

  .flogo-visual-mapper-output__tile-path:last-child {
    margin-bottom: 10px;
  }

  .flogo-visual-mapper-output__tile-path:hover {
    font-weight: bold;
  }

  ul li {
    list-style-type: none;
  }


}

