.flogo-visual-mapper {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;

  .flogo-visual-mapper__output {
    flex: 0 0 60%;
  }

  .flogo-visual-mapper__input {
    flex: 0 0 40%
  }

}