.flogo-visual-mapper-input {
  display: flex;
  flex-direction: row;
  width: 100%;

  .flogo-visual-mapper-input__name {
    flex: 0 0 70%;
  }

  .flogo-visual-mapper-input__type {
    color: darkgray;
    font-style: italic;
    flex: 0 0 30%;
  }

}

