@import '../../assets/_variables';

@common-bg-color: #FAFAFA;

:host {
  display: flex;
  align-items: stretch;
  width: 100%;
  flex-grow: 2;
  height: calc(100vh - @size-height-nav-bar);
}

.canvas-flow {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;

  transition: width .5s;
  background-size: 260px 255px;
  background: no-repeat -61px -53px;

  &.flogo-flow-detail--microservice {
    background: url(/assets/svg/bg-microservice.svg) no-repeat -61px -53px;
    background-size: 260px 255px;
  }
  &.flogo-flow-detail--device {
    background-image: url(/assets/svg/bg-device.svg);
  }

}

.diagram-container {
  display: flex;
  flex-direction: row;
  flex: 1;
  overflow: hidden;
}

.diagram {
  flex: 1;
  background-color: @gainsboro-nine;
  overflow: auto;
}

.debug-panel-container {
  flex: 1;
  overflow: hidden;
}

.flogo-flow-detail {
  height: 113px;
  display: flex;
  align-items: center;
}

.flogo-flow-detail-name {
  font-size: 18px;
  color: @color-ink;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.3px;
  margin: 0 0 1px;
  display: inline-block;
}

.flogo-flow-detail-description {
  color: @warm-grey;
  margin-top: 3px;
  margin-bottom: 0;
  word-wrap: break-word;
  word-break: break-all;

}

.flogo-flow-detail-menu-container {
  padding-left: 0;
  display: flex;
  justify-content: flex-end;
}

.flogo-flow-detail-menu-container:hover {
  z-index: 2;
}

.flogo-flow-detail-log-button-container {
  margin: 0 1em;
}

.flogo-flow-detail-menu {
  margin-right: 0.5em;
  border: none;
}

.flow-detail-name-description {
  font-size: 12px;
  margin: 0 0 7px;
  color: @warm-grey;
}

.flogo-flow-detail-header {

  .flogo-flow-detail-header-back {
    display: flex;
    flex-direction: row;
    align-items: center;

    .flogo-flow-detail-header-back-icon {
      cursor: pointer;
      margin-top: 10px;
      margin-right: 28px;

      .flogo-icon-back {
        font-size: 1.2em;
        padding: 0 10px;
        color: @warm-grey;
        font-weight: bold;
      }
    }

    .flogo-flow-detail-header-back-app-name {
      color: @primary-blue;
      cursor: pointer;
      margin-left: 4px;
    }

    &.--hover {
      .flogo-flow-detail-header-back-app-name {
        color: @color-link-hover;
        text-decoration: underline;
      }
      .flogo-flow-detail-header-back-icon .flogo-icon {
        color: @color-link-hover;
      }
    }
  }
}
