@import '../../assets/_variables';

@common-bg-color: #FAFAFA;

:host {
  display: flex;
  align-items: stretch;
  width: 100%;
  flex-grow: 2;
  height: calc(100vh - 54px);

  > div {
    display: flex;
    align-items: stretch;
    width: 100%;
  }
}

.footer-wrapper {
  width: 100%;
}

.canvas-flow {
  display: flex;
  width: 77.5%;
  flex-direction: column;
  //z-index: 1;

  -webkit-transition: width .5s; /* Safari */
  transition: width .5s;
  background-position: -61px -53px;
  background-size: 260px 255px;
  background-repeat: no-repeat;

  &.flogo-flow-detail__microservice {
    background: url(/assets/svg/bg-microservice.svg) no-repeat;
    background-position: -61px -53px;
    background-size: 260px 255px;
  }
  &.flogo-flow-detail__device {
    background-image: url(/assets/svg/bg-device.svg);
  }

}

.flogo-flow-container {
  flex: 1;
  overflow: auto;
}

.flogo-flows-main {
  min-height: 100%;
  display: flex;
  flex-direction: row;

  .flogo-flows-flow-schema-container {
    z-index: 1;
  }

  .flogo-flows-diagram-container {
    background-color: @gainsboro-nine;
    flex: 1;
  }
}

.canvas-right-container {
  display: flex;
  width: 22.5%;
  min-width: 321px;
  flex-direction: column;
  box-shadow: -2px -2px 4px 0 rgba(0, 0, 0, 0.1);
  background: @color-bg;
  position: relative;
  z-index: 1;
  -webkit-transition: width .5s; /* Safari */
  transition: width .5s;
}

.canvas-right-container--minimized {
  width: 0;
  min-width: 0;

}

.flogo-flow-detail {
  height: 113px;
  display: flex;
  align-items: center;

}

.flogo-flow-detail-name {
  font-size: 18px;
  color: @color-ink;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.3px;
  margin: 0 0 1px;
  display: inline-block;
}

.flogo-flow-detail-description {
  color: @warm-grey;
  margin-top: 3px;
  margin-bottom: 0;
  word-wrap: break-word;
  word-break: break-all;

}

.flogo-flow-instructions {
  margin-top: 46px;
  color: gray;
}

.flogo-flow-instructions-icon {
  cursor: pointer;
}

.flogo-flow-detail-menu-container {
  padding-left: 0;
  display: flex;
  justify-content: flex-end;
}

.flogo-flow-detail-menu-container:hover {
  z-index: 2;
}

.flogo-flow-detail-log-button-container {
  margin: 0 1em;
}

.flogo-flow-detail-menu {
  margin-right: 0.5em;
  border: none;
}

.flogo-flow-detail-header {

  .flogo-flow-detail-header-back {
    display: flex;
    flex-direction: row;
    align-items: center;

    .flogo-flow-detail-header-back-icon {
      cursor: pointer;
      margin-top: 10px;
      margin-right: 28px;

      .flogo-icon-back {
        font-size: 1.2em;
        padding: 0 10px;
        color: @warm-grey;
        font-weight: bold;
      }
    }

    .flogo-flow-detail-header-back-app-name {
      color: @color-primary;
      cursor: pointer;
      margin-left: 4px;
    }

    &.--hover {
      .flogo-flow-detail-header-back-app-name {
        color: @color-primary;
        font-weight: bold;
      }
      .flogo-flow-detail-header-back-icon .flogo-icon {
        color: @color-primary
      }
    }
  }
}

.flow-detail-name-description {
  font-size: 12px;
  margin: 0 0 7px;
  color: @warm-grey;
}

@error-panel-icon__width: 46px;
@error-panel-height: 142px;
.error-panel {
  display: flex;
  width: 100%;
  ::ng-deep flogo-diagram-row {
    padding-left: @error-panel-icon__width * 2;
  }
}

.error-panel__icon-container {
  width: @error-panel-icon__width;
  height: 140px;
  position: absolute;
  margin-left: @error-panel-icon__width;
  z-index: 2;
}

.error-panel__icon-bg {
  width: 48px;
  height: @error-panel-height;
}

.error-panel__icon {
  display: block;
  width: 100%;
  height: @error-panel-height;
  position: absolute;
  z-index: 1;
  line-height: @error-panel-height;
  color: @color-error;
  font-size: 22px;
  text-align: center;
  padding-left: 1px;
  transform: rotate(180deg);
}

.error-panel__diagram {
  flex: 1;
}
