<div [hidden]="loading">

  <div class="canvas-flow" *ngIf="flowState && !loading" [ngClass]="{'flogo-flow-detail__device': profileType === PROFILE_TYPES.DEVICE,
                         'flogo-flow-detail__microservice': profileType === PROFILE_TYPES.MICRO_SERVICE}">

    <section class="flogo-flow-detail">

      <header class="flogo-flow-detail-header col-sm-9">
        <div class="flogo-flow-detail-header-back"
             [ngClass]="{'--hover':backToAppHover}">
          <div class="flogo-flow-detail-header-back-icon"
               (click)="navigateToApp()"
               (mouseover)="onMouseOverBackControl()"
               (mouseout)="onMouseOutBackControl()">
            <i class="flogo-icon flogo-icon-back"></i>
          </div>
          <div class="flogo-profile__tile flogo-profile-detail__thumb"
               [ngClass]="{'flogo-profile__device': profileType === PROFILE_TYPES.DEVICE,
                           'flogo-profile__microservice': profileType === PROFILE_TYPES.MICRO_SERVICE}"></div>
          <div>
            <div class="clearfix">
              <h3 class="flogo-flow-detail-name" [(fgContentEditable)]="flowState.name"
                  (fgContentEditableChange)="changeFlowDetailName($event, 'name')"></h3>
              <span *ngIf="profileType === PROFILE_TYPES.DEVICE" class="flogo-profile__device-type">{{flowState.app.device.deviceType}}</span>
            </div>
            <div>
              <span>in</span> <span (click)="navigateToApp()"
                                    class="flogo-flow-detail-header-back-app-name"
                                    (mouseover)="onMouseOverBackControl()"
                                    (mouseout)="onMouseOutBackControl()">{{flowState?.app?.name}}</span>
              <p class="flogo-flow-detail-description" [(fgContentEditable)]="flowState.description"
                 placeholder="{{ 'CANVAS:ADD-FLOW-DESCRIPTION' | translate }}"
                 (fgContentEditableChange)="changeFlowDetail($event, 'descrption')"></p>
            </div>
          </div>
        </div>
      </header>


      <div class="col-sm-3 flogo-flow-detail-menu-container">
        <flogo-run-flow *ngIf="profileType === PROFILE_TYPES.MICRO_SERVICE"
                        [disableRun]="runnableInfo?.disabled"
                        disableReason="{{ runnableInfo?.disableReason | translate }}"
                        [flowInputs]="flowState?.metadata?.input"
                        (submit)="onRunFlow($event)"></flogo-run-flow>
        <div class="flogo-flow-detail-log-button-container">
          <flogo-logs></flogo-logs>
        </div>
        <div class="flogo-flow-detail-menu">
          <i class="flogo-icon-kebabmenu"></i>
          <div class="flogo-flow-detail-menu-list-wrapper">
            <ul class="flogo-flow-detail-menu-list">
              <!--<li class="flogo-flow-detail-menu-item"><a disabled href="javascript:void(0);"><i class="fa fa-clone fa-fw"></i>{{ 'CANVAS:COPY' | translate }}</a></li>-->
              <li class="flogo-flow-detail-menu-item">
                <a (click)="deleteFlow()" href="javascript:void(0);" class="flogo-flow-detail-menu-anchor">
                  <i class="flogo-icon flogo-icon-delete"></i>{{ 'CANVAS:DELETE' | translate }}
                </a>
              </li>
            </ul>
          </div>
        </div>

      </div>

    </section>

    <div class="flogo-flow-container">
      <div class="clearfix flogo-flows-main">
        <div class="flogo-flows-triggers-container">
          <flogo-flow-triggers
            [triggers]="triggersList"
            [actionId]="flowId"
            [appDetails]="{appId: flowState?.app?.id, appProfileType: profileType, metadata: flowState?.metadata}"></flogo-flow-triggers>
        </div>

        <div class="flogo-flows-flow-schema-container" *ngIf="profileType === PROFILE_TYPES.MICRO_SERVICE">
          <flogo-flow-params-schema-button role="button"
                                           [flowMetadata]="flowState?.metadata"
                                           (click)="openInputSchemaModal()">
          </flogo-flow-params-schema-button>
        </div>

        <div class="flogo-flows-diagram-container">
          <flogo-diagram
            [diagramId]="handlerTypes.Main"
            [flow]="flowState?.mainGraph"
            [selection]="flowState?.currentSelection"
            (action)="onMainDiagramAction($event)">
          </flogo-diagram>
        </div>
      </div>
    </div>

    <flogo-flow-task-configurator [flowId]="handlerTypes.Main"></flogo-flow-task-configurator>
    <flogo-flow-task-configurator [flowId]="handlerTypes.Error"></flogo-flow-task-configurator>

    <flogo-flow-error-panel *ngIf="hasTask">
      <div class="error-panel">
        <div class="error-panel__icon-container">
          <i class="flogo-icon flogo-icon-info error-panel__icon"></i>
          <svg class="error-panel__icon-bg" xmlns="http://www.w3.org/2000/svg"
               xmlns:xlink="http://www.w3.org/1999/xlink" width="52" height="52" viewBox="0 0 52 52">
            <defs>
              <path id="flogo-diagram-error-shape" d="M40 .12V0H2.4A2.4 2.4 0 0 0 0 2.4v43.2A2.4 2.4 0 0 0 2.4 48H40v-.12L48 24 40 .12z"/>
              <filter id="flogo-diagram-error-bg" width="114.6%" height="114.6%" x="-7.3%" y="-5.2%" filterUnits="objectBoundingBox">
                <feOffset dy="1" in="SourceAlpha" result="shadowOffsetOuter1"/>
                <feGaussianBlur in="shadowOffsetOuter1" result="shadowBlurOuter1" stdDeviation="1"/>
                <feComposite in="shadowBlurOuter1" in2="SourceAlpha" operator="out" result="shadowBlurOuter1"/>
                <feColorMatrix in="shadowBlurOuter1" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.325888813 0"/>
              </filter>
            </defs>
            <g fill="none" fill-rule="evenodd" transform="translate(2 1)">
              <use fill="#000" filter="url(#flogo-diagram-error-bg)"
                   xlink:href="#flogo-diagram-error-shape"/>
              <use fill="#FBCDD1" xlink:href="#flogo-diagram-error-shape"/>
              <path stroke="#EE3342" stroke-width=".8" d="M39.672.4H2.4a2 2 0 0 0-2 2v43.2a2 2 0 0 0 2 2h37.272L47.578 24 39.672.4z"/>
            </g>
          </svg>
        </div>
        <flogo-diagram class="error-panel__diagram"
                       [diagramId]="handlerTypes.Error"
                       [flow]="flowState?.errorGraph"
                       [selection]="flowState?.currentSelection"
                       (action)="onErrorDiagramAction($event)">
        </flogo-diagram>
      </div>
    </flogo-flow-error-panel>

  </div>
  <div class="canvas-right-container">
    <router-outlet></router-outlet>
  </div>
  <flogo-flow-params-schema #inputSchemaModal [flow]="flowState" (save)="onFlowSchemaSave($event)"></flogo-flow-params-schema>

</div>

