<section class="container">

  <header class="page-header">
    <h3>Flogo Configuration</h3>
    <p>Configurations of Server Information</p>
  </header>

  <form class="form-horizontal" (ngSubmit)="onSave()">
    <div class="form-group">
      <div class="col-xs-11 col-xs-offset-1">
        <button type="submit" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-default" (click)="onCancel()">Cancel</button>
        <button type="button" class="btn btn-default" (click)="onResetDefault()">Reset to default</button>
      </div>
    </div>

    <!-- log link -->
    <div class="form-group">
      <div class="col-xs-11 col-xs-offset-1">
        <a href="/engine.log" target="_blank">View Test Engine Log</a>
        <!-- <a href="/log.log" target="_blank">View Flogo Web Server Log</a> -->
      </div>
    </div>


    <!-- server configuration -->

    <div class="form-group" *ngIf="_servers">
      <label class="col-md-2 col-sm-3">Servers</label>
    </div>

    <div class="form-group" *ngFor="#server of _servers">
      <label class="col-lg-2 col-md-2 col-sm-3" [textContent]="server._label"></label>
      <div class="col-lg-8 col-md-8 col-sm-12">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="{{location.protocol.replace( ':', '' )}}" [(ngModel)]="server.config.protocol">
          <div class="input-group-addon">://</div>
          <input type="text" class="form-control" placeholder="{{location.hostname}}" [(ngModel)]="server.config.host">
          <div class="input-group-addon">:</div>
          <input type="text" class="form-control" placeholder="port" [(ngModel)]="server.config.port">
          <div class="input-group-addon">
            <flogo-_config-service-status-indicator [urlConfig]="server.config"></flogo-_config-service-status-indicator>
          </div>
        </div>
      </div>
      <button class="col-lg-2 col-md-2 col-sm-3" [ngClass]="{'flogo-display': server._display, 'flogo-hide': !server._display}" style="float:left;" type="button" class="btn btn-default" (click)="onRestart(server)">Restart</button>
    </div>

    <!-- DB configuration -->

    <div class="form-group" *ngIf="_appDB || _dbs">
      <hr class="col-md-offset-2 col-md-8" *ngIf="_servers"/>
      <label class="col-md-2 col-sm-3">Databases</label>
    </div>

    <div class="form-group" *ngIf="_appDB">
      <label class="col-md-2 col-sm-3">Application Database</label>
      <div class="col-lg-9 col-md-10 col-sm-12">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="{{location.protocol.replace( ':', '' )}}" [(ngModel)]="_appDB.protocol">
          <div class="input-group-addon">://</div>
          <input type="text" class="form-control" placeholder="{{location.hostname}}" [(ngModel)]="_appDB.host">
          <div class="input-group-addon">:</div>
          <input type="text" class="form-control" placeholder="port" [(ngModel)]="_appDB.port">
          <div class="input-group-addon">/</div>
          <input type="text" class="form-control" placeholder="dbname" [(ngModel)]="_appDB.name">
          <div class="input-group-addon">
            <flogo-_config-service-status-indicator [urlConfig]="_appDB"></flogo-_config-service-status-indicator>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group" *ngFor="#db of _dbs">
      <label class="col-md-2 col-sm-3" [textContent]="db._label"></label>
      <div class="col-lg-9 col-md-10 col-sm-12">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="{{location.protocol.replace( ':', '' )}}" [(ngModel)]="db.config.protocol">
          <div class="input-group-addon">://</div>
          <input type="text" class="form-control" placeholder="{{location.hostname}}" [(ngModel)]="db.config.host">
          <div class="input-group-addon">:</div>
          <input type="text" class="form-control" placeholder="port" [(ngModel)]="db.config.port">
          <div class="input-group-addon">/</div>
          <input type="text" class="form-control" placeholder="dbname" [(ngModel)]="db.config.name">
          <div class="input-group-addon">
            <flogo-_config-service-status-indicator [urlConfig]="db.config"></flogo-_config-service-status-indicator>
          </div>
        </div>
      </div>
    </div>
  </form>


</section>
