.input-group-addon:not(:first-child):not(:last-child) {
  border-left: none;
  border-right: none;
}
.form-group > label {
  font-size: initial;
  text-align: right;
  line-height: 32px;
}

.hide{
  display: none;
}

.show{
  display: block;
}
