@import "../_styles";

@menu-tab-width: 36px;
@menu-tab-radius: 8px;

:host {
  .tile-container();
  cursor: pointer;
  position: relative;
  transition: all 0.2s ease-in-out;
}

.menu {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
  width: 100px;
  height: 100%;
  overflow: hidden;

  background: rgba(179, 214, 233, 0.9) url('/assets/svg/flogo.flows.detail.diagram.gear.icon.svg') no-repeat right 8px top 8px;
  border-top-right-radius: @menu-tab-radius;
  border-bottom-right-radius: @menu-tab-radius;
  cursor: pointer;

  .animate-menu();

  &:hover {
    transform: translateX(142px);
    background-color: #4e7ead;
    width: 146px;
  }

  &:hover .menu__options {
    opacity: 1;
    pointer-events: all;
  }

}

.menu__options {
  height: 100%;
  border: solid 1px #d8d8d8;
  border-right: none;
  margin: 0 @menu-tab-width 0 0;
  padding: 0;

  font-size: 12px;
  background-color: #fff;
  list-style: none;
}

.menu__option {
  cursor: pointer;
  height: 30px;
  padding-left: 20px;
  line-height: 30px;
  .menu-option();
}

.menu__icon {
  display: inline-block;
  width: 16px;
  position: relative;
  top: 1.5px;
  font-size: 15px;
  text-align: center;
  margin-right: 4px;
}

.shape {
  display: block;
  pointer-events: none;
  position: absolute;
  transform: translate(10px, 5px);
  z-index: 1;
}

.content {
  width: 100%;
  z-index: 2;
  height: 100%;
}

.tile__bg {
  transform: translate(0, 0);
  fill: url(#flogo-diagram-tile-bg-default);
}

.tile__shadow {
  fill: #000;
  filter: url(#flogo-diagram-tile-shadow);
}

.tile__stroke {
  stroke: transparent;
  transition: stroke 200ms ease-in-out;
}

:host(.is-selected) {
  transform: scale(1.08);

  .tile__bg {
    fill: #4e7ead;
  }

  .tile__shadow {
    filter: url(#flogo-diagram-tile-shadow-active);
  }
}

:host(.has-run) {
  .tile__stroke {
    stroke: #79B8DC;
    stroke-width: 1px;
  }

  .tile__bg {
    fill: url(#flogo-diagram-tile__bg--has-run);
  }
}

:host(.is-invalid) {
  .tile__stroke {
    stroke: #f5a623;
    stroke-width: 2px;
  }
}

:host-context(.is-readonly) {
  cursor: inherit;
}

.content:hover + .menu {
  // compensate for the rounded corners
  transform: translateX(@menu-tab-width - @menu-tab-radius / 2);
  width: 136px;
}
