<div class="flogo-field-textarea">
  <!--<label for="objectField" class="control-label">{{_info.title}}</label>-->
  <div class="flogo-fields-header-field">
    <label class="control-label">{{_info.title}}</label>
    <label class="control-label" [hidden]="_info.required || _info.direction == 'output' " >{{ 'FIELDS:OPTIONAL' | translate }}</label>
  </div>

  <textarea name="" [id]="this._info.name" rows="5"
            (keyup)="onChangeField($event)"
            (focus)="onFocus($event)"
            [class.error]="_hasError"
            [placeholder]="_info.placeholder"
            class="form-control tc-text-areas tc-text-area" [(ngModel)]="_value"
            (change)="onValidate($event)"
            (blur)="onBlur($event)"
            [readonly]="isReadOnly()"></textarea>
  <div *ngIf="_hasError && _errorMessage" class="control-group error">
    <label class="flogo-fields-base__error">{{_errorMessage}}</label>
  </div>
</div>
