.flogo-field-textarea {
  .error {
    border-color: red;
  }

  textarea {
    height: 80px;
    color: #676a6d;
    &:focus {
      border: solid 1px #0082d5;
      box-shadow: none;
    }
  }

  .is-disabled {
    display: none;
  }

  .is-empty {
    color: gray;
  }

}


