<div class="head">
  <h2 class="title">{{"TASKS:ADD-ACTIVITY" | translate}}</h2>
  <input type="text" class="search" placeholder="{{ 'ADD:SEARCH-ACTIVITIES' | translate }}"
         (keyup)="filterActivities($event.target.value)">
  <span class="flogo-icon-search icon-search"></span>
</div>
<div class="content" *ngIf="filteredActivities$ | async as activities">
  <div class="list-item install-item" (click)="handleInstallerWindow(true)">
    <div class="install-activity qa-install-activity">
      <i class="install-icon flogo-icon-add"></i>
      <span>{{ 'FLOWS-DETAILS-TASKS:INSTALL-NEW-ACTIVITY' | translate }}</span>
    </div>
  </div>
  <div *ngIf="activities.length > 0; else emptyCase" class="activities-list">
    <div class="list-item activity qa-activities" [class.activity--subflow]="activity.ref === SUBFLOW_REF"
         *ngFor="let activity of activities" (click)="selectActivity(activity.ref)">
      <span>{{activity.title}}</span>
    </div>
  </div>
  <ng-template #emptyCase>
    <p class="empty-text qa-no-tasks">{{ 'ADD:NO-TASKS' | translate }}</p>
  </ng-template>
</div>
<flogo-flow-installer [profileType]="(options.appAndFlowInfo$ | async).appProfileType"
                      [installType]="'activity'"
                      [isActivated]="isInstallOpen"
                      (isActivatedChange)="handleInstallerWindow($event)"
                      (installed)="afterActivityInstalled($event)"></flogo-flow-installer>
<flogo-flow-sub-flow *ngIf="isSubflowOpen"
                     [appId]="(options.appAndFlowInfo$ | async).appId"
                     [currentFlow]="(options.appAndFlowInfo$ | async).actionId"
                     (flowSelected)="handleFlowSelection($event)"></flogo-flow-sub-flow>
