<bs-modal [size]="'lg'" #modal cssClass="flogo-export-flow-modal">
  <i class="flogo-icon-close flogo-export-flow-close" data-dismiss="modal" (click)="closeExport()"></i>
  <div *ngIf="flows?.length === 0" class="content-empty__message">No Flows to Export</div>
  <div *ngIf="flows?.length > 0">
    <form novalidate>
      <div class="flogo-export-flow-header">{{ 'FLOWS:EXPORT-FLOWS' | translate }}</div>
      <div class="flogo-select-flow-link">
        <a class="js-btn-select-all" (click)="selectAllFlows()">Select All</a> <span class="flogo-select-separator">|</span>
        <a id="unselectAll" (click)="unselectAllFlows()">Unselect All</a></div>
      <bs-modal-body>
        <div class="export-flow-container">
          <div *ngFor="let flow of flows; let index = index" class="flogo-export-flow-list-item"
               [ngClass]="{'flogo-export-flow-selected': checkAllFlows.indexOf(index) != -1}">
            <div class="checkbox flogo-checkbox flogo-checkbox-primary">
              <input id="flowCheckbox_{{index}}" type="checkbox" [checked]="checkAllFlows.indexOf(index) != -1"
                     (change)="flowSelect(flow.id,$event.target.checked,index)">
              <label for="flowCheckbox_{{index}}"></label>
            </div>
            <div class="flogo-export-flow-name">{{flow.name}}</div>
            <div>
              <div class="flogo-export-flow-description" *ngIf="flow.description">{{flow.description}}</div>
            </div>
            <div class="flogo-export-flow-created-at">created {{flow.createdAt | timeFromNow}}</div>
          </div>
        </div>
      </bs-modal-body>
      <div class="flogo-export-flow-footer">
        <button type="button" class="footer-button flogo-button--secondary flogo-flows-add-cancel" data-dismiss="modal" (click)="closeExport()">{{
          'DETAILS:EXPORT-CANCEL' | translate }}
        </button>
        <button type="submit" class="js-btn-export footer-button flogo-button--default" [fgJsonDownloader]="exportFlows()"
                [disabled]="checkedFlows?.length <= 0" data-dismiss="modal">
          {{ 'DETAILS:EXPORT' | translate }}
        </button>
      </div>
    </form>
  </div>
</bs-modal>
