.modal-wrapper {
  background-color: #fff;

  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  // todo: proper z-index
  z-index: 999;
}

.mapper  {
  width: 100%;
  height: 100%;
  border: solid 1px #b6b6b6;
}
