<div class="layout" [class.layout--scrolled]="isScreenScrolled" >
  <div class="layout__main" #overlay (click)="($event.target == overlay || $event.target == wrapper) && close()">
    <div class="wrapper" #wrapper>
        <div class="actions-container">
            <button (click)="toggle()" class="tc-buttons tc-buttons-primary toggle-button action-button" [class.toggle-button--open]="isOpen" >
              <img [src]="imgErrorHandler"><span class="error-handler-text">Error Handler</span>
              <img [src]="imgErrorHandlerToggle">
            </button>
        </div>
      <div class="error-panel">
        <div class="error-panel__content" *ngIf="isOpen || isOpening || isClosing">
          <ng-content></ng-content>
        </div>
      </div>
    </div>
  </div>
  <div class="layout__side"></div>
</div>
