<div class="layout" [class.layout--scrolled]="isScreenScrolled">
  <div class="layout__main" #overlay (click)="($event.target == overlay || $event.target == wrapper) && close()">
    <div class="wrapper" #wrapper>
      <button (click)="toggle()" class="tc-buttons tc-buttons-primary toggle-button">
        {{ 'ERROR-PANEL:ERROR-HANDLER' | translate }}
        <i class="fa toggle-button__icon" [class.fa-caret-up]="!isOpen" [class.fa-caret-down]="isOpen" ></i>
      </button>
      <div class="error-panel">
        <div class="error-panel__content" *ngIf="isOpen || isOpening || isClosing">
          <ng-content></ng-content>
        </div>
      </div>
    </div>
  </div>
  <div class="layout__side"></div>
</div>
