.form-input-field {
  width: 100%;
  display: flex;
  input {
    border-radius: 4px;
    border: solid 1px #cad3df;
    width: 235px;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
  }
  .input-validation-highlight {
    border: 1px solid red;
  }
}

.flow-input-params-caret {
  float: right;
  position: relative;
  top: 9px;
}

.flow-input-params-add {
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 4px;
  color: #fff;
  background-color: #4e7ead;
  font-size: 1.5em;
  font-weight: bold;

  &:disabled {
    opacity: 0.5;
  }

}

.flow-params-delete {
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  font-weight: bold;
  border: 0;
  display: flex
}

.flow-input-type-dropdown {
  width: 30%;
  margin-right: 25px;
  margin-left: 20px;
}

.flow-input-type-dropdown-label {
  width: 100%;
  text-align: left;
}

.dropdown-menu {
  top: 91%;
  min-width: 155px;
}

