.flogo-flows-detail-diagram {
  border: 1px solid #7777ff;
  border-radius: 4px;
  width: 100%;
  margin: auto;
  padding: 0 20px;
}

.flogo-flows-detail-diagram-row {
  border: 1px solid #000;
  border-radius: 4px;
  background-color: #CDEE90;
  width: 100%;
  margin: auto;
  margin: 20px 0;
}

.flogo-flows-detail-diagram-node {
  padding: 10px;
  border: 2px solid #fff;
  border-radius: 4px;
  color: #fff;
  background-color: #5C9261;
  display: inline-block;
  width: 120px;
  height: 50px;
  margin: 10px 20px;
  text-align: center;
}

.flogo-flows-detail-diagram-node[data-flogo-node-type="node_link"] {
  background-color: #F0AD4E;
  color: #222;
}

.flogo-flows-detail-diagram-node[data-flogo-node-type="node_branch"] {
  background-color: #B9C519;
  color: #222;
}

.flogo-flows-detail-diagram-node[data-flogo-node-type="node_root"] {
  background-color: #206188;
}

.flogo-flows-detail-diagram-node[data-flogo-node-type="node_add"] {
  background-color: #CDEE90;
  color: #222;
  opacity: 1e-6;
}

.flogo-flows-detail-diagram-node[data-flogo-node-type="node_root_new"] {
  background-color: #CDEE90;
  color: #222;
  cursor: pointer;
}

.flogo-flows-detail-diagram-row.hover .flogo-flows-detail-diagram-node[data-flogo-node-type="node_add"] {
  opacity: 1;
  cursor: pointer;
}

.flogo-flows-detail-diagram-node[data-flogo-node-type="node"].flogo-flows-detail-diagram-node-menu-open,
.flogo-flows-detail-diagram-node[data-flogo-node-type="node_root"].flogo-flows-detail-diagram-node-menu-open{
  border-color: #DEFF95;
}
