@font-face {
  font-family: SourceSansPro-Regular;
  src: url('/assets/fonts/SourceSansPro-Regular.ttf'), url('/assets/fonts/SourceSansPro-Regular.eot');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: SourceSansPro-Bold;
  src: url('/assets/fonts/SourceSansPro-Bold.ttf'), url('/assets/fonts/SourceSansPro-Bold.eot');
  font-weight: normal;
  font-style: normal;
}
:host {
  display: flex;
  width: 100%;
  flex-grow: 3;
  overflow: auto;
  background-color: #eeeded;
}
.flogo-flows-detail-diagram {
  padding: 0;
  margin: 0;
  min-width: 100%;
  transition: background-color 500ms linear;
  white-space: pre-wrap;
}
.flogo-flows-detail-diagram-row {
  border-radius: 4px;
  min-width: 100%;
  white-space: nowrap;
  display: inline-block;
  padding: 0 30px;
  margin: 0;
}
.flogo-flows-detail-diagram-row:hover {
  background-color: rgba(182, 217, 237, 0.2);
}
.flogo-flows-detail-diagram-node {
  position: relative;
  width: 140px;
  height: 140px;
  border: solid 1px #f4f4f4;
  background-image: linear-gradient(to right, #f4f4f4, #ffffff);
  border-radius: 10px;
  white-space: normal;
  font-family: SourceSansPro-Regular;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 1px;
  color: #666666;
  display: inline-block;
  margin: 20px 5px;
  text-align: center;
  transition: all 500ms linear;
}
.flogo-flows-detail-diagram-node.flogo-flows-detail-diagram-node-selected {
  transform: scale(1.1);
  z-index: 10;
}
.flogo-flows-detail-diagram-node.flogo-flows-detail-diagram-node-selected .flogo-flows-detail-diagram-node-text {
  background: #79b8dc;
  color: #fff;
  border: solid 1px #70abcc;
}
.flogo-flows-detail-diagram-node.flogo-flows-detail-diagram-node-selected:before {
  background: #79b8dc;
}
.flogo-flows-detail-diagram-node.flogo-flows-detail-diagram-node-selected[data-flogo-node-type="node_add"],
.flogo-flows-detail-diagram-node.flogo-flows-detail-diagram-node-selected[data-flogo-node-type="node_root_new"] {
  opacity: 1;
}
.flogo-flows-detail-diagram-node.flogo-flows-detail-diagram-node-run:before {
  background-image: linear-gradient(to right, #def2fd, #def2fd);
}
.flogo-flows-detail-diagram-node.flogo-flows-detail-diagram-node-run .flogo-flows-detail-diagram-node-text {
  background-image: linear-gradient(to right, #d0e7f4, #def2fd);
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.3);
}
.flogo-flows-detail-diagram-node.flogo-flows-detail-diagram-node-menu-open[data-flogo-node-type="node"],
.flogo-flows-detail-diagram-node.flogo-flows-detail-diagram-node-menu-open[data-flogo-node-type="node_root"] {
  box-shadow: 0 5px 14px 0 rgba(0, 0, 0, 0.3);
  z-index: 100;
}
.flogo-flows-detail-diagram-node.flogo-flows-detail-diagram-node-menu-open .flogo-flows-detail-diagram-node-menu {
  width: 170px;
}
.flogo-flows-detail-diagram-node.flogo-flows-detail-diagram-node-menu-selected .flogo-flows-detail-diagram-node-menu {
  left: 133px;
  background-color: #79b8dc;
  border: 1px solid #79b8dc;
}
.flogo-flows-detail-diagram-node:before {
  position: absolute;
  left: 117px;
  top: 54px;
  z-index: 3;
  content: '';
  display: block;
  width: 42px;
  height: 30px;
  background: #fff;
  box-shadow: 1px -2px 1px 0 rgba(0, 0, 0, 0.1);
  transform: rotate(65deg) skewX(36deg);
  transition: all 500ms linear;
}
.flogo-flows-detail-diagram-node[data-flogo-node-type="node_link"] {
  background-color: #F0AD4E;
  color: #222;
}
.flogo-flows-detail-diagram-node[data-flogo-node-type="node_branch"] {
  background-color: #B9C519;
  color: #222;
}
.flogo-flows-detail-diagram-node[data-flogo-node-type="node_root"] {
  background-color: #206188;
}
.flogo-flows-detail-diagram-node[data-flogo-node-type="node_add"],
.flogo-flows-detail-diagram-node[data-flogo-node-type="node_root_new"],
.flogo-flows-detail-diagram-node[data-flogo-node-type="node_holder"] {
  transform: scale(0.63);
  overflow: hidden;
}
.flogo-flows-detail-diagram-node[data-flogo-node-type="node_add"] img,
.flogo-flows-detail-diagram-node[data-flogo-node-type="node_root_new"] img,
.flogo-flows-detail-diagram-node[data-flogo-node-type="node_holder"] img,
.flogo-flows-detail-diagram-node[data-flogo-node-type="node_add"] .flogo-flows-detail-diagram-node-text-title,
.flogo-flows-detail-diagram-node[data-flogo-node-type="node_root_new"] .flogo-flows-detail-diagram-node-text-title,
.flogo-flows-detail-diagram-node[data-flogo-node-type="node_holder"] .flogo-flows-detail-diagram-node-text-title,
.flogo-flows-detail-diagram-node[data-flogo-node-type="node_add"] .flogo-flows-detail-diagram-node-text-description,
.flogo-flows-detail-diagram-node[data-flogo-node-type="node_root_new"] .flogo-flows-detail-diagram-node-text-description,
.flogo-flows-detail-diagram-node[data-flogo-node-type="node_holder"] .flogo-flows-detail-diagram-node-text-description,
.flogo-flows-detail-diagram-node[data-flogo-node-type="node_add"] .flogo-flows-detail-diagram-node-menu,
.flogo-flows-detail-diagram-node[data-flogo-node-type="node_root_new"] .flogo-flows-detail-diagram-node-menu,
.flogo-flows-detail-diagram-node[data-flogo-node-type="node_holder"] .flogo-flows-detail-diagram-node-menu,
.flogo-flows-detail-diagram-node[data-flogo-node-type="node_add"] .flogo-flows-detail-diagram-node-badge,
.flogo-flows-detail-diagram-node[data-flogo-node-type="node_root_new"] .flogo-flows-detail-diagram-node-badge,
.flogo-flows-detail-diagram-node[data-flogo-node-type="node_holder"] .flogo-flows-detail-diagram-node-badge {
  display: none;
}
.flogo-flows-detail-diagram-node[data-flogo-node-type="node_holder"] {
  opacity: 0;
}
.flogo-flows-detail-diagram-node[data-flogo-node-type="node_add"],
.flogo-flows-detail-diagram-node[data-flogo-node-type="node_root_new"] {
  background-color: #fff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
  opacity: 0;
}
.flogo-flows-detail-diagram-node[data-flogo-node-type="node_add"]:hover,
.flogo-flows-detail-diagram-node[data-flogo-node-type="node_root_new"]:hover {
  box-shadow: 0 3px 14px 0 rgba(0, 0, 0, 0.3);
}
.flogo-flows-detail-diagram-node[data-flogo-node-type="node_add"] .flogo-flows-detail-diagram-node-text:before,
.flogo-flows-detail-diagram-node[data-flogo-node-type="node_root_new"] .flogo-flows-detail-diagram-node-text:before {
  content: '+';
  font-size: 88px;
  line-height: 138px;
  color: #b6d9ed;
}
.flogo-flows-detail-diagram-node[data-flogo-node-type="node_holder"] {
  background-color: rgba(179, 214, 233, 0.9);
}
.flogo-flows-detail-diagram-node[data-flogo-node-type="node_holder"] .flogo-flows-detail-diagram-node-text {
  background-color: rgba(179, 214, 233, 0.9);
  z-index: 4;
}
.flogo-flows-detail-diagram-node[data-flogo-node-type="node_root_new"] {
  opacity: 1;
  cursor: pointer;
}
.flogo-flows-detail-diagram-node .flogo-flows-detail-diagram-node-text {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, 0.3);
  border: solid 0.5px #f4f4f4;
  border-radius: 10px;
  background: #fff;
  width: 100%;
  height: 100%;
  padding: 0 5px;
  transition: all 500ms linear;
}
.flogo-flows-detail-diagram-node .flogo-flows-detail-diagram-node-text img {
  margin: 18px 0;
}
.flogo-flows-detail-diagram-node .flogo-flows-detail-diagram-node-text-title {
  font-family: SourceSansPro-Bold;
  font-weight: 600;
  padding-bottom: 5px;
  letter-spacing: .4px;
}
.flogo-flows-detail-diagram-node .flogo-flows-detail-diagram-node-text-description {
  border-top: 1px solid #8e9aa8;
  padding-top: 5px;
  font-size: 12px;
  letter-spacing: 0.7px;
}
.flogo-flows-detail-diagram-node .flogo-flows-detail-diagram-node-menu {
  position: absolute;
  left: 5px;
  top: 0;
  z-index: 1;
  width: 130px;
  height: 100%;
  overflow: hidden;
  border-radius: 10px;
  background-color: rgba(179, 214, 233, 0.9);
  box-shadow: 0 2.5px 7px 0 rgba(0, 0, 0, 0.3);
  transition: all 500ms linear;
}
.flogo-flows-detail-diagram-node .flogo-flows-detail-diagram-node-menu-box {
  float: left;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 128px;
  background: #fff;
  box-shadow: 0 1px 2px 0 rgba(199, 199, 199, 0.5);
}
.flogo-flows-detail-diagram-node .flogo-flows-detail-diagram-node-menu-box li {
  margin-top: 0;
  padding-left: 22px;
  line-height: 30px;
  text-align: left;
  list-style: none;
  font-size: 12px;
  cursor: pointer;
}
.flogo-flows-detail-diagram-node .flogo-flows-detail-diagram-node-menu-box li i {
  margin-right: 8px;
}
.flogo-flows-detail-diagram-node .flogo-flows-detail-diagram-node-menu-gear {
  float: left;
  width: 40px;
  height: 100%;
  background: url("/assets/svg/flogo.flows.detail.diagram.gear.icon.svg") center 11px no-repeat;
}
.flogo-flows-detail-diagram-node-menu-box li:hover {
  background: #ededed;
}
.flogo-flows-detail-diagram-node-menu-box li i {
  margin-right: 10px;
}
.flogo-flows-detail-diagram-node-badge {
  position: absolute;
  top: -9px;
  right: 10px;
  z-index: 4;
  color: #fff;
}
.flogo-flows-detail-diagram-node-badge i {
  border-radius: 50%;
  width: 18px;
  height: 18px;
  line-height: 18px;
  margin-left: 4px;
}
.flogo-flows-detail-diagram-node-badge i.fa-bolt {
  background: #AECC64;
}
.flogo-flows-detail-diagram-node-badge i.fa-exclamation {
  background: #ED6464;
}
.flogo-flows-detail-diagram-row.hover .flogo-flows-detail-diagram-node[data-flogo-node-type="node_add"] {
  opacity: 1;
  cursor: pointer;
}
.flogo-flows-detail-diagram-row.hover .flogo-flows-detail-diagram-node[data-flogo-node-type="node_holder"] {
  opacity: 1;
}
