<div class="content__sidebar iterator-panel">
  <div class="iterator-switch">
    <!--TODO i18n-->
    <div class="iterator-switch__text">Iterate</div>
    <div class="flogo-toggle-switch_container">
      <span *ngIf="iteratorModeOn">On</span>
      <span *ngIf="!iteratorModeOn">Off</span>
      <label class="flogo-toggle-switch">
        <input type="checkbox" [checked]="iteratorModeOn" (change)="onChangeIteratorMode()">
        <span class="flogo-toggle-switch_slider toggle-switch_round"></span>
      </label>
    </div>
  </div>
  <p class="iterator-instructions_text">Use an iterator when you want to loop over an array or if you want to invoke this activity <i>n</i>  times. The input of the iterator should be an array or a number.</p>
  <p>For example, the value <b>10</b> would indicate that this activity should be invoked <b>10</b> times.</p>
  <p>When looping over an array, you can access the iterator value and index using <b>$current.iteration.value</b> or <b>$current.iteration.key</b></p>
</div>
<flogo-mapper class="content__main" *ngIf="iteratorModeOn"
              [isSingleInputMode]="true"
              outputsSearchPlaceHolder="{{ 'TASK-CONFIGURATOR:AVAILABLE-DATA' | translate }}"
              [context]="iteratorContext" (mappingsChange)="onIteratorValueChange($event)"></flogo-mapper>
