.iterator-panel {
  border-right: solid 2px #dedede;
  padding: 20px;
}

.iterator-switch {
  border-bottom: 2px solid #dedede;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.iterator-switch__text {
  flex: 1;
  font-weight: bold;
}

:host.--is-initing {
  .flogo-toggle-switch_slider {
    transition: none;
    &::before {
      transition: none;
    }
  }
}
.iterator-instructions_text{
  font-weight: 600;
}
