@logs-background-content: #414141;

.flogo-logs {
  display: flex;
  flex-direction: column;

  .logs-window {
    z-index:10;
    position: fixed;
    height: 427px;
    width: 324px;
    resize: both;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    left: 774px;
    top: 85px;
    background-color: @logs-background-content;
    padding-bottom: 15px;

    .footer-section {
      height: 5px;
      background: @logs-background-content;
      cursor: move;
    }

  }

  .command {
    .log-button {
      background-color: white;
      height: 42px;
      width: 42px;
      border: 2px solid #d8d8d8;
      color: #7ab8dc;
      border-radius: 7px;
      font-size: 1.3em;
      padding: 6.1px 0;
      text-align: center;
    }

    .log-button-selected {
      border-color: #79b8dc;
      background-color: #79b8dc;
      color: white;
    }
  }
}
