@action-fore-color: #449ed8;
@width-inputs: 60%;

.flogo-app-details-item {
  color: #666;
  margin-left: 20px;

  .flogo-app-details__header {
    margin-left: -35px;
    padding: 2em 0;
    background: #fff;

    .flogo-app-details__header__name {
      margin-top: .3em;
      font-size: 1.5em;
      letter-spacing: .4px;
      font-weight: normal;
    }

    .flogo-app-details__header__creation-date, .flogo-app-details__header__description {
      font-size: 0.875em;
      letter-spacing: .2px;
      line-height: 1.14;
    }

    .flogo-app-details__header__description-container {
      margin-top: 22px;
    }

  }

  .flogo-app-details__content {
    .commands {
      display: flex;
      border: dashed 3px #ccc;
      padding: 0;
      margin: 2em 0;
      position: relative;
      &:before {
        content: "";
        position: absolute;
        width: 3px;
        height: 73%;
        background: #ccc;
        left: 50%;
        bottom: 16%;
        z-index: 1;
      }
    }
  }

  .flogo-app-details-btn {
    min-width: 124px;
    height: 40px;
  }

  .applicationLabel, .descriptionLabel {
    cursor: pointer;
  }

  .descriptionLabel {
    font-size: 1.3em;
    span {
      font-weight: bold;
    }
  }

  .flogo-app-details__toolbar {
    margin-top: 2em;
    .flogo-app-details__toolbar__title {
      font-size: 1.125em;
      line-height: 1;
      letter-spacing: .3px;
    }
  }

  .action {
    color: @action-fore-color;
    cursor: pointer;
  }

  .error-msg {
    display: none;
  }

  .error {
    color: #ee3342;
    position: relative;
    .error-msg {
      position: absolute;
      display: block;
      font-size: .625em;
      letter-spacing: .2px;
    }
    .flogo-app-details__header__name {
      color: #ee3342;
    }
  }
}
