<div class="flogo-app-details">
    <div>
        <input *ngIf="editingName" type="text" #appInputName
               [(ngModel)]="application.name"
               (ngModelChange)="onInputNameChange($event)"
               (blur)="onInputNameBlur($event)"
               (keyup)="onKeyUpName($event)"
               id="appName" />
        <label class="applicationLabel"
               *ngIf="!editingName"
               (click)="onClickLabelName($event)">{{application?.name}}</label>
        <button class="btn btn-primary btn-md build">{{ 'DETAILS:BUILD' | translate }}</button>
    </div>
    <label class="created">{{ 'FLOWS:CREATED' | translate:{value:''} }}<span>{{createdAtFormatted}}.</span> </label>
    <label *ngIf="updateAtFormatted" class="created">{{ 'FLOWS:UPDATED' | translate:{value:''} }}<span>{{updateAtFormatted}}.</span> </label>
    <div class="description">
        <a *ngIf="application && !application.description && editingDescription == false"
           (click)="onClickAddDescription($event)">{{ 'DETAILS:ADD-DESCRIPTION' | translate }}</a>
        <textarea *ngIf="editingDescription" #appInputDescription
               (blur)="onInputDescriptionBlur($event)"
               placeholder="Description"
               rows="3"
               (keyup)="onKeyUpDescription($event)"
               id="appDescription"
               [(ngModel)]="application.description" ></textarea>
        <label class="descriptionLabel"
               *ngIf="!editingDescription && application?.description"
               (click)="onClickLabelDescription($event)"><span>{{ 'DETAILS:DESCRIPTION' | translate }}:</span>{{application?.description}}</label>
    </div>

    <div class="toolbar">
        <flogo-apps-search [placeholder]="searchPlaceHolder" (changedSearch)="onChangedSearch($event)"
                           class="search"></flogo-apps-search>
        <div class="commands">
          <flogo-flows-add [appId]="application?.id"></flogo-flows-add>
            <span class="new-flow">{{ 'DETAILS:NEW-FLOW' | translate }}</span>
            <span class="import">{{ 'DETAILS:IMPORT' | translate }}</span>
        </div>
    </div>

    <div *ngIf="!flows.length">
        <hr>
        <p>{{'DETAILS:NO-FLOWS-CREATED' | translate}}<span class="action">&nbsp;{{'DETAILS:CREATE-A-FLOW' | translate}}</span> </p>
    </div>

    <div class="flows">
        <flogo-apps-flows [flows]="flows"></flogo-apps-flows>
    </div>
</div>
