.flogo-task {
  display: flex;
}
.flogo-task .flogo-task__main-panel {
  display: flex;
  flex-direction: column;
}
.flogo-task .flogo-task__main-panel__demo-generate-ui {
  display: flex;
}
.flogo-task .flogo-task__main-panel__demo-generate-ui__input {
  border-color: lightgray;
  margin: 10px;
}
.flogo-task .flogo-task__main-panel__demo-generate-ui__button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flogo-task .flogo-task__task-panel {
  width: 100%;
}
