<div>
  <button type="button" class="btn btn-link flogo-common-edit-panel__btn-download"
          (click)="modal.open()">
    Install new tasks
  </button>

  <modal [size]="'lg'" #modal>
    <modal-header [show-close]="true">
      <div class="row flogo-flows-detail-tasks-install-modal">
        <div class="col-md-7">
          <h3 class="modal-title">Download Tiles</h3>
        </div>
        <div class="col-md-3">
          <input class="flogo-input-search" type="text" placeholder="Search">
        </div>
      </div>
    </modal-header>
    <modal-body>
      <div class="row flogo-flows-detail-tasks-install-modal flogo-flows-detail-tasks-install-modal__content">
        <div class="col-md-4">
          <h4 class="category-list__title">Category</h4>
          <ul class="list-unstyled category-list">
            <li class="category-list__category">Requests</li>
            <li class="category-list__category">Optimizations</li>
            <li class="category-list__category">Connect to Devices</li>
            <li class="category-list__category">Framework Adaptors</li>
            <li class="category-list__category">Web Adaptors</li>
          </ul>
        </div>
        <div class="col-md-8">
          <ul class="list-unstyled activities-list">
            <li *ngFor="#activity of activities"
                class="activities-list__activity" [ngClass]="{installed: activity.isInstalled}"
                (click)="!activity.isInstalled && install(activity)">

              <div class="row">
                <div class="col-md-2"><i class="fa fa-gears"></i></div>
                <div class="col-md-7">{{activity.name}}</div>
                <div class="col-md-2">
                  <i class="fa fa-check-circle-o install-status-icon" *ngIf="activity.isInstalled"></i>
                  <i class="fa fa-download install-status-icon" *ngIf="!activity.isInstalled"></i>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </modal-body>
  </modal>
</div>
