<div @configurationPanel class="trigger-configuration__main" *ngIf="currentConfiguratorState?.isOpen">
  <div class="background"></div>
  <div class="mapper-modal__header header" @triggerConfiguratorLayoutElement>
    <h2 class="header__title">{{ 'TRIGGER-CONFIGURATOR:TITLE' | translate }} </h2>
    <div class="header__actions actions">
      <button class="flogo-button--secondary actions__action actions__action--delete" (click)="onCloseOrDismiss()">
        {{ 'TRIGGER-CONFIGURATOR:CANCEL' | translate }}
      </button>
      <button [disabled]="currentConfiguratorState?.disableSave"
              class="flogo-button--primary  actions__action actions__action--save" (click)="onSave()">
        {{ 'TRIGGER-CONFIGURATOR:SAVE' | translate }}
      </button>
    </div>
    <button class="mapper-modal__close" (click)="onCloseOrDismiss()">
      <span aria-hidden="true" class="sr-only">{{ 'TRIGGER-CONFIGURATOR:CLOSE' | translate }}</span>
    </button>
  </div>
  <div class="trigger-configuration__content">
    <div class="configuration__triggers js-triggers-list">
      <flogo-triggers-configure-trigger class="js-trigger-element" *ngFor="let trigger of currentConfiguratorState?.triggers"
                                        [triggerData]="trigger"
                                        [selectedTriggerId]="currentConfiguratorState?.selectedTriggerId"
                                        (selectTrigger)="changeTriggerSelection($event)">
      </flogo-triggers-configure-trigger>
    </div>
    <div class="configuration__mapper" @triggerConfiguratorLayoutElement>
      <flogo-flow-trigger-mapper></flogo-flow-trigger-mapper>
    </div>
  </div>
</div>
