:host {
  top: 0;
  background: #fff;
  z-index: 4;
}

.trigger-configuration__main {
  position: relative;
}

.header__title {
  color: #212121;
  margin-top: 2px;
  line-height: 36px;
  background: url('/assets/svg/flogo.flows.detail.diagram.trigger.icon.svg') no-repeat left center;
  background-size: 35px;
  padding-left: 50px;
}
