.flogo-common-edit-panel__head {
  background-color: #4e7ead;
  color: #fff;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: space-around;
}

.flogo-common-edit-panel__head-wrapper{
  .flogo-icon-add {
    border: solid 1.3px #fff;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
    padding: 10px;
    position: relative;
    top: 7px;
  }
}
