.flogo-flows-detail-triggers {

  .flogo-flows-detail-triggers__list {
    background-color: white;
  }

  .flogo-flows-detail-triggers__list__header {
    padding: 15px;
  }

  .flogo-flows-detail-triggers__list__item {
    height: 40px;
    padding: 10px;
    margin-top: 1px;
    color: white;
    background-color: #106CC8;
    cursor: pointer;
  }

}
