@deep: ~"/deep/";
@import (reference) '../../../assets/uxpl/buttons';
@import "../../../assets/_variables";

@{deep} flogo-flow-dynamic-form .form-container {
  max-height: 320px;
  overflow-y: auto;
}

@{deep} flogo-flow-dynamic-form .form-container::-webkit-scrollbar {
  width: 8px;
  border: 1px solid rgba(114, 114, 114, 0.2);
  border-radius: 10px;
}

@{deep} flogo-flow-dynamic-form .form-container::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background-color: rgba(114, 114, 114, 0.2);
}

.run-flow__container {
  position: relative;
}

.run-flow__button {
  .uxpl-button-primary;
  margin: 0;

  &.--disabled {
    cursor: not-allowed;
  }
}

.main {
  position: absolute;
  min-width: 376px;
  left: -130px;
  z-index: 2;
  margin-top: -5px;
}

.tip {
  height: 30px;
  width: 30px;
  background: @color-bg;
  transform: rotate(135deg);
  border: solid 1px @gainsboro;
  border-right: none;
  border-top: none;
  margin: 0 auto;
  position: relative;
  top: 15px;
  box-shadow: -2px 2px 4px -2px rgba(0, 0, 0, 0.33);
}

.content {
  padding: 2em;
  background: @color-bg;
  box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.33);
  border: solid 1px @gainsboro;
}

.button__container {
  text-align: right;
  margin-top: 1.25em;
}

.warning-container {
  position: relative;
  display: inline-block;

  .tooltip {
    display: none;
    pointer-events: none;
    transition: opacity ease-in-out 0.2s;
    transform: translateX(-50%);
    left: 50%;
  }

}

.--show-disable-detail {

  .tooltip {
    display: block;
  }

  .tooltip-inner {
    font-size: 0.9em;
    white-space: pre-wrap;
    padding: 0.7em;
    width: 15em;
  }

  &:hover .tooltip {
    opacity: 1;
  }

  .run-flow__button {
    cursor: help;
  }

}
