<div class="row flogo-group">
  <div class="col-md-offset-1 col-md-10">
    <div class="flogo-group__trigger">
      <div class="flogo-trigger__container">
        <div class="trigger" [ngClass]="{'trigger--empty': !triggers}">
          <i class="flogo-icon-trigger"></i>
        </div>
        <div class="flogo-trigger_count" *ngIf="triggerCountDisplay"><span>{{triggerCountDisplay}}</span></div>
      </div>
    </div>
    <div class="flogo-group__flows">
      <div class="flogo-app-content__flows">
        <flogo-apps-flows [flows]="flows" (flowSelected)="onSelect($event)" (deleteFlow)="onDeleteFlow($event)"></flogo-apps-flows>
      </div>
    </div>
  </div>
</div>
