@import '../../../assets/_variables';

.flogo-flow-tabs-container {
  display: flex;
  position: relative;
  right: -164px;
  margin-top: -33px;
}

.flogo-flow-tabs-list {
  display: flex;
}

.flogo-flow-tabs-item {
  margin-right: 20px;
  font-size: 14px;
  cursor: pointer;
  color: @primary-blue;
  border-bottom: 3px solid transparent;
}

.flogo-flow-tabs-item--selected {
  color: @twilight-blue;
  border-bottom: 3px solid @twilight-blue;
}
