<ul class="flogo-flow-tabs-list list-unstyled">
  <li class="flogo-flow-tabs-item" (click)="selectPrimaryFlow()"
      [ngClass]="{'flogo-flow-tabs-item--selected': !isErrorHandlerShown}">{{'FLOWS:PRIMARY-FLOW' | translate}}
    <div class="error-badge" *ngIf="showBadgeForFlow$ | async"></div>
  </li>
  <li class="flogo-flow-tabs-item" (click)="selectErrorHandler()"
      [ngClass]="{'flogo-flow-tabs-item--selected': isErrorHandlerShown}">{{'FLOWS:ERROR-HANDLER' | translate}}
    <div class="error-badge" *ngIf="showBadgeForError$ | async"></div>
  </li>
</ul>
