.flogo-list__header {
  display: flex;
  align-items: center;
  margin: 1em;
  justify-content: space-between;

  .filter-box {
    width: 240px;
  }
}

.header-content {
  font-weight: bold;
}

.flogo-list__container {
  padding: 1.5em 1.125em;
  background: #f4f4f4
}

.flogo-list__card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  padding: 20px 32px;
  margin: 0 0 1em;
  border-radius: 4px;
  border: solid 1px #d8d8d8;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.card-details {
  max-width: 75%;
}

.card-header {
  margin: 0 5px 0 0;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  color: #666;
  letter-spacing: 0.5px;
}

.card-date {
  font-size: 0.75em;
  opacity: 0.54;
  letter-spacing: 0.8px;
}

.card-description {
  height: 30px;
  line-height: 1.25;
  opacity: 0.54;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  letter-spacing: 0.3px;
}

.flogo-link {
  font-size: 14px;
  color: #0081cb;
  letter-spacing: 0.4px;
  margin: 0 20px;
}
