<div class="flogo-field-object">

  <div class="flogo-fields-header-field">
    <label class="control-label">{{_info.title}}</label>
    <label class="control-label" [hidden]="_info.required || _info.direction == 'output' " >{{ 'FIELDS:OPTIONAL' | translate }}</label>
  </div>

  <textarea rows="5"
            [id]="_info.name"
            (keyup)="onKeyUp($event)"
            (focus)="onFocus($event)"
            [class.error]="_hasError"
            [placeholder]="_info.placeholder"
            class="form-control tc-text-areas tc-text-area"
            [(ngModel)]="_value"
            (blur)="onBlur($event)"
            [disabled]="!_info.isEditable"
            [class.is-disabled]="!_info.isEditable"
            (change)="onValidate($event)"
            [readonly]="isReadOnly()"></textarea>

  <div *ngIf="_hasError && _errorMessage" class="control-group error">
    <label class="flogo-fields-base__error">{{_errorMessage}}</label>
  </div>
</div>
