<h1>Modal</h1>

<p>From module <code>@flogo-web/lib-client/modal</code></p>

Name: <input #name data-testid="user-name" type="text" value="Jon Snow" /> <br />
Open modal:
<button data-testid="modal-trigger" (click)="openDemoModal(name.value)">
  Show modal
</button>

<div data-testid="reply" *ngIf="lastReply">
  {{ lastReply.user }}
  {{ lastReply.reply ? 'replied "' + lastReply.reply + '"' : "didn't reply" }}
</div>

<h2>Modal Variations</h2>

<h3>Small</h3>

<button (click)="openDynamicSizeModal('small')">Open small modal</button>

<flogo-modal size="small" [@.disabled]="true">
  <flogo-modal-header data-flogo-modal-title>
    Hello I'm a long header, longer than usual
  </flogo-modal-header>

  <flogo-modal-body> Body </flogo-modal-body>

  <flogo-modal-footer> Footer </flogo-modal-footer>
</flogo-modal>

<h3>Large</h3>

<button (click)="openDynamicSizeModal('large')">Open large modal</button>

<flogo-modal [@.disabled]="true">
  <flogo-modal-header data-flogo-modal-title>
    Hello I'm a long header, longer than usual
  </flogo-modal-header>

  <flogo-modal-body> Body </flogo-modal-body>

  <flogo-modal-footer> Footer </flogo-modal-footer>
</flogo-modal>

<h4>Fullscreen</h4>

<button (click)="openDynamicSizeModal('fullscreen')">Open fullscreen modal</button>
