<div class="flogo-app-list">

  <div class="flogo-app-list__header">
    <div class="title">{{ 'APP-LIST:MY-APPS' | translate }}</div>
    <div>

      <button class="flogo-button--import-app" (click)="importInput.click()">
        <i class="flogo-icon flogo-icon-import"></i><span>Import</span>
        <input #importInput type="file" accept="application/json" (change)="onImportFileSelected($event)">
      </button>

      <button class="flogo-button-squared flogo-button--add-app" (click)="onAdd()"><i class="flogo-button-squared__icon flogo-icon-add"></i></button>
    </div>
  </div>

  <div class="flogo-app-list__content">
    <ul class="apps-list">
      <li *ngFor="let app of applications" [class.selected]="app.id == currentApp?.id"
          class="apps-list__element" (click)="onSelectApp($event, deleteBox, app)">
        <div class="app-list__app-name">
          {{ app.id == currentApp?.id ? currentApp.name : app.name }}
          <flogo-app-delete-popover #deleteBox class="apps-list__delete-btn" (confirmDel)="remove($event)"
                                  [app]="app">
          </flogo-app-delete-popover>
        </div>
      </li>
    </ul>
  </div>

</div>

