<div class="flogo-app-list">
  <div class="flogo-app-list__header row">
    <div class="col-md-8">
      <h4 class="title">{{ 'APP-LIST:MY-APPS' | translate }}</h4>
      <!--<flogo-apps-search (changedSearch)="onChangedSearch($event)"
                         class="search pull-right"></flogo-apps-search>-->
    </div>
    <div class="col-md-4">
      <button class="flogo-button flogo-button--secondary" (click)="importInput.click()">
        {{ 'DETAILS:IMPORT' | translate }}
        <input #importInput type="file" accept="application/json" class="app-list__app-import-input"
               (change)="onImportFileSelected($event)">
      </button>
      <button class="flogo-button flogo-button--default" (click)="onAdd()">{{ 'APP-LIST:NEW' | translate }}</button>
      <flogo-import-error *ngIf="showValidationErrors" [importValidationErrors]="importValidationErrors" (errorModalClose)="resetValidationErrors()">

      </flogo-import-error>
    </div>
  </div>
  <div class="flogo-app-list__content">
    <div class="apps-list">
      <div *ngFor="let app of applications" class="apps-list__element" (click)="onSelectApp($event, deleteBox, app)">
        <div class="row">
          <div class="col-md-11">
            <p class="app-list__app-name">{{ app.name }}</p>
            <p>{{ app.description ? app.description : '&nbsp;'}}</p>
          </div>
          <div class="col-md-1">
            <flogo-delete-popover #deleteBox class="apps-list__delete-btn" (confirmDel)="remove($event)"
                                      [deleteContent]="app" [deleteContentType]="'application'">
            </flogo-delete-popover>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-right">
            <span class="app-list__created-at">
              {{ 'FLOWS:CREATED' | translate:{value:''} }}{{ app.createdAt | timeFromNow}}
            </span>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="!applications.length" class="app-list__empty">
      <div class="app-list__empty-state"></div>
      <div class="app-list__empty-state__legend">{{ 'APP-LIST:EMPTY' | translate }}</div>
    </div>
  </div>

</div>

