:host(.alwaysVisible) {
  visibility: visible !important;
}

.flogo-icon-delete:hover {
  color: #79b8dc;
}

.popup-container {

  min-width: 340px;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 30px;
  border: 1px solid #d8d8d8;
  padding: 40px;
  background: #fff;
  box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.33);

  .popup-content {
    color: #d0021b;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 2em;
  }

  .popup-btn {
    width: 125px;

    &.popup-btn-confirm {
      background-color: #d0011b;
    }
  }
}
