<span class="flogo-icon-delete" (click)="showPopup($event)"></span>
<div *ngIf="isPopupOpen" class="popup-container">
  <p class="popup-content">{{ 'APP-LIST-POPUP:CONFIRM-MESSAGE-DELETE' | translate }}</p>
  <button class="popup-btn flogo-button flogo-button--secondary" (click)="cancelDelete($event)">{{
    'APP-LIST-POPUP:DELETE-CANCEL' | translate | uppercase}}
  </button>
  <button class="popup-btn popup-btn-confirm flogo-button flogo-button--default" (click)="confirmDelete($event)">{{
    'APP-LIST-POPUP:DELETE-CONFIRM' | translate | uppercase}}
  </button>
</div>
