<div
  class="trigger_block"
  [class.trigger_block--menu-open]="isShowingMenu"
  [class.trigger_block--selected]="isSelected"
  (mouseenter)="handleTriggerMenuShow()"
  (mouseleave)="handleTriggerMenuHide()"
>
  <div class="trigger_menu">
    <ul class="list-group trigger_menu-list">
      <li class="list-group-item trigger_menu-item" (click)="selectedMenuItem(MENU_OPTIONS.DELETE)">
        <i class="flogo-icon-delete trigger_menu-icon"></i>{{ 'TRIGGER-MENU:DELETE' | translate }}
      </li>
    </ul>
  </div>
  <div class="trigger" [class.--lambda]="isLambda" title="{{ trigger.name }}" (click)="handleTriggerSelection()">
    <svg class="trigger-icon-background" viewBox="0 0 50 52" xmlns="http://www.w3.org/2000/svg">
      <use xlink:href="/assets/svg/trigger-icon.svg#defaultTrigger" class="bg-placeholder"></use>
    </svg>
    <div class="trigger-content">
      <i class="flogo-icon-trigger"></i>
      <svg class="lambda-icon" viewBox="0 0 200 278" xmlns="http://www.w3.org/2000/svg">
        <use xlink:href="/assets/svg/lambda-icon.svg#layer1"></use>
      </svg>
    </div>
  </div>
</div>
