:host {
  display: block;
}

.mapper {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: row;
  /* todo: remove fixed height once parent height is set */
  height: 100%;

  border: solid 1px #b6b6b6;
}

.mapper__left-panel {
  padding: 20px;
  width: 22%;
}

.mapper__right-panel {
  background-color: #f4f4f4;
  padding: 20px;
  flex: 1;
}

.editor-container {
  position: relative;
  z-index: 0;
  height: 100%;
}

.editor-container-empty__message {
  color: #ff7800;
  font-size: 18px;
  font-weight: 400;
  height: 23px;
  line-height: 23px;
  transform: translate(-45px, 45px);
}

.editor-container-empty__image {
  display: inline-block;
  margin-right: 0.4em;
  vertical-align: sub;
}

.workspace {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.workspace__editor {
  height: 4em;
  width: 100%;
  border: 1px solid #cad3df;
  border-radius: 4px;
  padding: 1px;
  margin-bottom: 0.5em;
}

.workspace__editor--disabled {
  color: #b6b6b6;
  text-align: center;
  padding-top: 1em;
}

.workspace__editor--droppable {
  border-style: dashed;
}

.workspace__parameters {
  flex: 1;
  min-height: 0;
}

.parameters {
  display: flex;
}

.parameters__parameter {
  flex: 1;
  /* height: 100%; */
  /* overflow: auto; */
}

.workspace /deep/ {
  #editor {
    height: 100%;
  }
}
