<div class="main">
  <div *ngFor="let trigger of triggersList" class="trigger_block"
       [ngClass]="{'trigger_block--selected': shouldShowTriggerSelected(trigger.id)}">
    <div class="trigger_menu"
         (fgClickOutside)="handleClickOutsideTriggerMenu($event)"
         [ngClass]="{'trigger_menu--open': displayTriggerMenuPopover && (selectedTriggerID == trigger.id)}">
      <ul class="list-group trigger_menu-list">
        <li class="list-group-item trigger_menu-item" (click)="showTriggerDetails(trigger)"><i
          class="flogo-icon-settings trigger_menu-icon"></i>{{"TRIGGER-MENU:CONFIGURE" | translate}}
        </li>
        <li class="list-group-item trigger_menu-item" (click)="openTriggerMapper(trigger)"><i
          class="fa fa-bolt trigger_menu-icon"></i>{{"TRIGGER-MENU:MAP-TO-FLOW-PARAMS" | translate}}
        </li>
        <li class="list-group-item trigger_menu-item" (click)="deleteHandlerForTrigger(trigger.id)"><i
          class="flogo-icon-delete trigger_menu-icon"></i>{{"TRIGGER-MENU:DELETE" | translate}}
        </li>
      </ul>
    </div>
    <div class="trigger"  [class.--lambda]="isLambda(trigger)" title="{{trigger.name}}" (click)="showTriggerMenu($event, trigger)">
      <svg class="trigger-icon-background" viewBox="0 0 50 52"
           xmlns="http://www.w3.org/2000/svg">
        <defs>
          <filter id="a" width="114.6%" height="114.6%" x="-7.3%" y="-5.2%" filterUnits="objectBoundingBox">
            <feOffset dy="1" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
            <feGaussianBlur in="shadowOffsetOuter1" result="shadowBlurOuter1" stdDeviation="1"></feGaussianBlur>
            <feColorMatrix in="shadowBlurOuter1" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.2 0"></feColorMatrix>
          </filter>
        </defs>
        <use href="/assets/svg/trigger-icon.svg#defaultTrigger" class="bg-placeholder"></use>
      </svg>
      <div class="trigger-content">
        <i class="flogo-icon-trigger"></i>
        <svg class="lambda-icon" viewBox="0 0 200 278" xmlns="http://www.w3.org/2000/svg">
          <use href="/assets/svg/lambda-icon.svg#layer1"></use>
        </svg>
      </div>
    </div>
  </div>
  <div class="trigger trigger--add" title="Add Trigger" *ngIf="allowMultipleTriggers" (click)="openAddTriggerModel()">
    <svg class="trigger-icon-background" viewBox="0 0 50 50"
         xmlns="http://www.w3.org/2000/svg">
      <use href="/assets/svg/trigger-icon.svg#addTrigger" class="bg-placeholder"></use>
    </svg>
    <div class="trigger-content">
      <i class="flogo-icon-add"></i>
    </div>
  </div>
  <flogo-select-trigger [(isAddTriggerActivated)]="showAddTrigger"
                        [appDetails]="appDetails"
                        (onAddTriggerToAction)="addTriggerToAction($event)"
                        (onInstallDialog)="openInstallTriggerWindow()">
  </flogo-select-trigger>
  <flogo-installer [profileType]="appDetails?.appProfileType"
                   [installType]="'trigger'" [(isActivated)]="installTriggerActivated"
                   (isActivatedChange)="openAddTriggerModel()"
                   (installed)="onTriggerInstalledAction()"></flogo-installer>
  <flogo-trigger-mapper></flogo-trigger-mapper>
</div>
