@bg-color-empty: #e0e0e0;
@bg-color-configured: #fff;
@bg-color-hovered: #eef6fa;

.schema-button {
  width: 70px;
  height: 100%;
  padding: 0 10px 10px;
  position: relative;

  display: flex;
  align-items: center;
  flex-direction: column;

  background-color: @bg-color-empty;
  font-weight: bold;
  text-align: center;
  font-size: 0.75em;
  box-shadow: 2px 3px 1px 0 rgba(0, 0, 0, 0.1);
  transition: all 0.15s ease-in-out;

  // arrow
  &:after {
    position: absolute;
    left: 58px;
    top: 62px;
    z-index: 3;
    content: '';
    display: block;
    width: 24px;
    height: 20px;
    background: @bg-color-empty;
    box-shadow: 2px -2px 1px 0 rgba(0, 0, 0, 0.1);
    transform: rotate(62.8deg) skewX(35deg);
    transition: all 0.15s ease-in-out;
  }

  &:hover {

    background-color: @bg-color-hovered;
    &:after {
      background-color: @bg-color-hovered;
    }

  }

  &.--is-configured {
    background-color: transparent;

    &:after {
      background-color: @bg-color-configured;
    }
    &:hover {

      background-color: @bg-color-hovered;
      &:after {
        background-color: @bg-color-hovered;
      }

    }
  }

  &__icon {
    color: #79b8dc;
    font-size: 20px;
    line-height: 1;
    height: 24px;
    width: 24px;
    margin: 33px 0 7px;
  }

}
