<div class="run-flow__container" (fgClickOutside)="setRunFlowFlag(false)">
  <div
    class="warning-container"
    [class.--show-disable-detail]="disableRun && disableReason"
  >
    <button
      (click)="handleRunFlowClick()"
      class="flogo-button--default run-flow__button"
      [disabled]="disableRun"
      [class.--disabled]="disableRun"
    >
      {{ 'FLOW-RUN:RUN-BUTTON' | translate }}
    </button>
    <div class="tooltip bottom">
      <div class="tooltip-arrow"></div>
      <div class="tooltip-inner">{{ disableReason }}</div>
    </div>
  </div>
  <div class="main" *ngIf="showRunFlow">
    <div class="content">
      <h4>{{ 'FLOW-RUN:INPUTS-LABEL' | translate }}</h4>
      <flogo-flow-dynamic-form
        (setFormGroup)="setRunFlowFormGroup($event)"
        [fields]="flowInputs"
      ></flogo-flow-dynamic-form>
      <div class="button__container">
        <button
          type="button"
          class="flogo-button--secondary"
          (click)="setRunFlowFlag(false)"
        >
          {{ 'FLOW-RUN:CANCEL-BUTTON' | translate }}
        </button>
        <button
          type="submit"
          class="flogo-button--default"
          (click)="onRunFlowSubmit()"
          [disabled]="!isValid"
        >
          {{ 'FLOW-RUN:RUN-BUTTON' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
