<flogo-navbar></flogo-navbar>
<router-outlet></router-outlet>
<footer class="flogo-flows-footerContainer">
        <div class="flogo-flows-footerText">
            <p class="flogo-flows-copyright">Copyright &copy; 2016 TIBCO Software Inc. All rights reserved.</p>
            <div class="flogo-flows-footerPrivacy">
                <a href="http://www.tibco.com/company/privacy-cma" target="_new" class="flogo-flows-privacyText">Privacy Policy</a>
                <a href="http://www.tibco.com/company/termsofuse" target="_new" class="flogo-flows-privacyText">Terms of Use</a>
                <a href="http://www.tibco.com/trademarks" target="_new" class="flogo-flows-privacyText">Trademarks</a>
            </div>
        </div>
    </footer>
