:host {
  display: flex;
  align-items: stretch;
  width: 100%;
  flex-direction: column;
}

.flogo-flows-footerContainer {
  background: #eeeded;
  border: 1px solid #b6b6b6;
  height: 60px;
  padding: 0 70px;
  width: 100%;
}

.flogo-flows-footerText {
  height: 20px;
  padding: 3px 0;
}

.flogo-flows-copyright {
  display: inline-block;
  height: 20px;
  width: 550px;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 1px;
  color: #727272;
}

.flogo-flows-privacyText {
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 1px;
  text-align: right;
  color: #727272;
  border-right: 1px solid #727272;
  text-decoration: none;
  cursor: pointer;
  padding: 2px 17px;
}

.flogo-flows-footerPrivacy {
  float: right;
  width: 422px;
  height: 20px;
  margin: 10px 0;
  padding: 2px 0;
}
