:host {
  display: flex;
  align-items: stretch;
  width: 100%;
  flex-direction: column;
}


.flogo-footerContainer {
  background: #eeeded;
  border: 1px solid #b6b6b6;
  height: 55px;
  padding: 0 70px;
  width: 100%;
}

.flogo-footerText {
  padding: 10px 0;
}

.flogo-copyright {
  display: inline-block;
  height: 20px;
  width: 550px;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 1px;
  color: #727272;
  margin:0;
}

.flogo-privacyText {
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 1px;
  text-align: right;
  color: #727272;
  border-right: 1px solid #727272;
  text-decoration: none;
  cursor: pointer;
  padding: 0px 17px;
}

.flogo-footerPrivacy {
  float: right;
  width: 422px;
  height: 20px;
}
