:host {
  display: flex;
  align-items: stretch;
  width: 100%;
  flex-direction: column;
}

.flogo-flows-footerContainer{
  width: 100%;
  height:60px;
  border:1px solid #b6b6b6;
  /*position: absolute;*/
  bottom:0px;
  padding:0px 70px;
  background: #eeeded;
}

.flogo-flows-footerText{
  height:20px;
  padding:3px 0px;
}

.flogo-flows-copyright{
  width: 550.5px;
  height: 20px;
  font-family: "Source Sans Pro";
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: 0.8px;
  color: #727272;
  display: inline-block;
}

.flogo-flows-privacyText{
  font-family: "Source Sans Pro";
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: 0.8px;
  text-align: right;
  color: #727272;
  border-right:1px solid #727272;
  text-decoration: none;
  cursor: pointer;
  padding:2px 17px;
}

.flogo-flows-footerPrivacy{
  float:right;
  width:422px;
  height: 20px;
  margin:10px 0px;
  padding:2px 0px;
}
