<flogo-navbar></flogo-navbar>
<router-outlet></router-outlet>
<footer class="flogo-flows-footerContainer">
    <div class="flogo-flows-footerText">
        <p class="flogo-flows-copyright">{{ 'FLOGO:COPYRIGHT-NOTICE' | translate }}</p>
        <div class="flogo-flows-footerPrivacy">
            <a href="http://www.tibco.com/company/privacy-cma" target="_new" class="flogo-flows-privacyText">{{ 'FLOGO:LINK-PRIVACY-POLICY' | translate }}</a>
            <a href="http://www.tibco.com/company/termsofuse" target="_new" class="flogo-flows-privacyText">{{ 'FLOGO:LINK-TERMS-OF-USE' | translate }}</a>
            <a href="http://www.tibco.com/trademarks" target="_new" class="flogo-flows-privacyText">{{ 'FLOGO:LINK-TRADEMARKS' | translate }}</a>
        </div>
    </div>
</footer>
