:host {
  background-color: #062e79;
  color: rgba(255, 255, 255, 0.87);
  display: block;
  height: 48px;
  padding: 0 16px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}
.flogo-header {
  display: inline;
  font-size: 20px;
  font-weight: normal;
  letter-spacing: 0.1px;
  line-height: 48px;
  margin: 0;
}
