<nav>
  <div class="flogo-header">
    <a [routerLink]="['/']"><img class="flogo-header__logo" src="/assets/svg/flogo.logo.svg" alt=""/></a>
    <div class="flogo-header__help-menu navbar-right">
      <button class="flogo-btn-link flogo-header__help-menu-btn" type="button" aria-haspopup="true" aria-expanded="true">
        <i class="flogo-icon-help"></i>
      </button>
      <ul class="flogo-header__help-menu-content">
        <li><a href="https://tibcosoftware.github.io/flogo/" target="_blank">{{ 'NAVBAR:HELP-DOCUMENTATION' | translate }}</a></li>
        <li><a href="https://www.youtube.com/watch?v=OHX4kKVdI28&feature=youtu.be" target="_blank">{{ 'NAVBAR:HELP-GETTING-STARTED' | translate }}</a></li>
        <li><a (click)="activateInstructions($event)">{{ 'NAVBAR:HELP-OPEN-INSTRUCTIONS' | translate }}</a></li>
        <li><a href="https://community.tibco.com/products/project-flogo?_ga=1.213003284.1423112884.1479356766" target="_blank">{{ 'NAVBAR:HELP-COMMUNITY' | translate }}</a></li>
      </ul>
    </div>
  </div>
</nav>
<flogo-instructions [isActivated]="isInstructionsActivated" (flogoOnClosedModal)="onClosedInstructions($event)"></flogo-instructions>
