@component-width: 7.8em;
@knob-width: 1em;
@knob-margin: 0.3em;
@text-margin: 0.8em;

.switch {
  position: relative;
  display: inline-block;
  height: 1.5em;
  width: @component-width;
  margin-bottom: 0.4em;

  &__label {
    color: rgba(255, 255, 255, 0.8);
    position: relative;
    font-size: 0.8em;
    display: inline-block;
    pointer-events: none;
    width: 100%;
    line-height: 1.6em;
    text-align: right;
    padding-right: @text-margin;
  }

  &.--checked .switch__label {
      text-align: left;
      padding-right: 0;
      padding-left: @text-margin;
  }

}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: @knob-width + 0.2em;
  background-color: #ccc;
  transition: .4s;
}

.slider:before {
  border-radius: 50%;
  position: absolute;
  content: "";
  height: @knob-width;
  width: @knob-width;
  left: @knob-margin;
  top: 0.25em;
  background-color: white;
  transition: .25s;
}

input + .slider {
  background-color: #899bcf;
}

input:checked + .slider {
  background-color: #866aaf;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  transform: translateX(@component-width - @knob-width - @knob-margin * 2);
}
