<div class="form-trigger">
  <flogo-form-trigger-header [descriptions]="descriptions" [actions]="actions" ></flogo-form-trigger-header>
  <div class="settings__header">
    <div>Settings</div>
    <div class="settings__menu">
      <i class="flogo-icon-edit"></i>
      <div class="settings__menu__options">
        <ul class="settings__menu__options__list">
          <li class="settings__menu__options__list__element">
            Edit for all 5 flows that use this trigger
          </li>
          <li class="settings__menu__options__list__element">
            Make a copy
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
