:host {
  display: flex;
  flex: auto;
  margin:0 auto;
  width:100%;
  position: relative;
  background: #eeeded;
}

@card-bg-color: #ffffff;
@card-bg-color-hover: #ececec;
@card-width: 250px;
@card-height: 200px;
@card-gutter-vertical: 20px;
@card-gutter-horizontal: @card-gutter-vertical;

.flogo-calc-cards-container-width(@card-num-per-col: 4, @container-class: flogo-flows-container-lists ) {
  @cards-container-width: @card-width * @card-num-per-col + @card-gutter-vertical * 2 * @card-num-per-col;
  @media-query: ~"all and (min-width: "(@cards-container-width)~")";

  @media @media-query {
    .@{container-class} {
      width: @cards-container-width
    }
  }
}

.flogo-flows-footer-wrapper {
  position: relative;
  width: 100%;
  bottom: 0;
}


.flogo-flows-container {
  display: flex;
  flex-direction: column;
}

flogo-flows-import:hover{
  background-color: #fff;
}

.flogo-flows-container-title{
  display: inline-block;
  margin-top: 40px;
  margin-bottom: 10px;
  line-height: 24px;
  color: #666;
}
.flogo-flows-welcomeContainer{
  background-color: #fff;
  padding-bottom: 60px;
  width:100%;
}
.flogo-welcome-msg {
  height:100%;
  overflow: hidden;
  float: left;
  padding: 0 5% 0 10%;
}
.flogo-welcomeMsg-header {
  height: 64px;
  font-size: 48px;
  font-weight: 300;
  line-height: 1.33;
  letter-spacing: 1px;
  color: #666666;
  margin-top: 1.2em;
  margin-bottom: 0;
}
.flogo-welcomeMsg-description{
  color: #666666;
  font-size: 14px;
  line-height: 1.1;
  margin-top: 10px;
  margin-bottom: 15px;
  word-wrap: break-word;
}

.flogo-welcomeMsg-link {
  img, span {
    vertical-align: middle;
  }
  img {
    margin-right: 3px;
  }
}

.flogo-mascot {
  float:left;
  margin-top: 24px;
  object-fit: contain;
}

.flogo-flows-mascotImg{
  width:100%;
  height: 100%;
}

.flogo-flows-container-header {
  background: #eeeded;
  padding: 0 4%;
}
.flogo-flows-container-header-container{
  width: 90%;
  margin: 0 auto;
}
.flogo-flows-container-header-detail{
  position: relative;
  margin: 0 auto;
  width: 560px;
}

.flogo-flows-container-body {
  flex-grow: 1;
  margin: 0 auto;
  padding: 0 4%;
  width: 90%;
}

.flogo-flows-container-lists{
  margin: -20px -20px 0 -20px;
  padding: 30px 0 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style: none;

  .flogo-flows-container-list{
    display: flex;
    margin: @card-gutter-horizontal @card-gutter-vertical;
    border-radius: 4px;
    list-style: none;
    background-color: @card-bg-color;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
    height: @card-height;
    position: relative;
    width: 200px;

    &:hover{
      background-color: @card-bg-color-hover;
      .flogo-flows-container-list-detail-trash{
        opacity: 1;
      }
      .flogo-flows-container-list-detail-description:before {
        background: @card-bg-color-hover;
      }
    }
  }

  .flogo-flows-container-list-detail{
    flex: auto;
    color: #666;
    width: 100%;
    padding: 18px;
    display: block;
    text-decoration: none;
  }
  .flogo-flows-container-list-detail-trash{
    display: inline-block;
    opacity: 0;
    width: 30px;
    height: 30px;
    cursor: pointer;
    line-height: 100%;
    background: url("/assets/svg/flogo.flows.trash.icon.svg") center no-repeat;
    background-size: 16px;
    position: absolute;
    top: 10px;
    right: 10px;

    &:hover{
      background: url("/assets/svg/flogo.flows.trash.hover.icon.svg") center no-repeat;
      background-size: 16px;
    }
  }
  .flogo-flows-container-list-detail-name{
    display: block;
    margin-bottom: 3px;
    font-size: 18px;
    letter-spacing: 0.4px;
    line-height: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 25px;
  }
  .flogo-flows-container-list-detail-info{
    display: block;
    line-height: 13px;
    font-size: 10px;
    letter-spacing: 0.6px;
  }
  .flogo-flows-container-list-detail-creatTime{
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    text-align: right;
    position: absolute;
    bottom: 15px;
    right: 15px;
  }
  .flogo-flows-container-list-detail-description{
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    margin-top: 10px;
    font-size: 16px;
    line-height: 1.2;
    max-height: 4.8em;
    overflow: hidden;
    position: relative;

    &:before {
      position: absolute;
      content: '';
      width: 100%;
      height: 1.2em;
      top: 3.6em;
      left: 0;
      background: @card-bg-color;
    }

    &:after {
      content: '...';
      display: inline-block;
      width: 3em;
      height: 1.2em;
      position: absolute;
      top: 3.6em;
      left: 0;
    }
  }
}

.flogo-flows-container-list-col {
  margin: 0;
  padding: 0;
  list-style: none;
}

.flogo-common-flows-new {
  width: 100%;
}

.flogo-flows-container-new {
  border: 3px dashed #ccc;
  border-radius: 4px;
  margin: @card-gutter-horizontal @card-gutter-vertical;
  width: 200px;
  height: 200px;
}



/*
.flogo-calc-cards-container-width(1);
.flogo-calc-cards-container-width(2);
.flogo-calc-cards-container-width(3);
.flogo-calc-cards-container-width(4);
.flogo-calc-cards-container-width(5);
*/
