<div>
  <div  class="flogo-common-edit-panel__container">
    <!--// TODO: extract field creation to single component to simplify these templates -->
    <div class="flogo-common-edit-panel__header">
      <h3 class="flogo-common-edit-panel__legend">{{ 'FORM-BUILDER-CONFIGURATION-TRIGGER:SETTINGS' | translate }}</h3>

      <div class="settings__menu" *ngIf="needEditConfirmation">
        <i class="flogo-icon-edit"></i>
        <div class="settings__menu__options">
          <ul class="settings__menu__options__list">
            <li class="settings__menu__options__list__element" (click)="clickEditForNFlows($event)">
              <i class="flogo-icon-edit"></i>
              <div>{{messageNumFlowsUsed}}</div>
            </li>
            <li class="settings__menu__options__list__element" (click)="clickMakeCopy($event)">
              <i class="fa fa-clone fa-fw"></i>
              <div>{{ 'FORM-BUILDER-CONFIGURATION-TRIGGER:COPY' | translate }}</div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div *ngFor="let item of fields.settings; let index = index" class="">

      <div class="settings" *ngIf="getControlByType(item,directions.input).control == 'FieldTextBox'">
        <flogo-form-builder-fields-textbox [info]="getTriggerInfo(item, directions.input, 'settings')"  [fieldObserver]="_fieldObserver" ></flogo-form-builder-fields-textbox>
      </div>

      <div class="settings"  *ngIf="getControlByType(item,directions.input).control == 'FieldListBox'">
        <flogo-form-builder-fields-listbox [info]="getTriggerInfo(item, directions.input, 'settings')" [fieldObserver]="_fieldObserver" ></flogo-form-builder-fields-listbox>
      </div>

      <div class="settings"  *ngIf="getControlByType(item,directions.input).control == 'FieldNumber'">
        <flogo-form-builder-fields-number [info]="getTriggerInfo(item, directions.input, 'settings')" [fieldObserver]="_fieldObserver" ></flogo-form-builder-fields-number>
      </div>

      <div class="settings" *ngIf="getControlByType(item,directions.input).control == 'FieldTextArea'">
        <flogo-form-builder-fields-textarea [info]="getTriggerInfo(item, directions.input, 'settings')" [fieldObserver]="_fieldObserver" ></flogo-form-builder-fields-textarea>
      </div>

      <div class="settings" *ngIf="getControlByType(item,directions.input).control == 'FieldRadio'">
        <flogo-form-builder-fields-radio [info]="getTriggerInfo(item, directions.input, 'settings')" [fieldObserver]="_fieldObserver"  [index]="index" ></flogo-form-builder-fields-radio>
      </div>

      <div class="settings" *ngIf="getControlByType(item,directions.input).control == 'FieldObject'">
        <flogo-form-builder-fields-object [info]="getTriggerInfo(item, directions.input, 'settings')" [fieldObserver]="_fieldObserver" ></flogo-form-builder-fields-object>
      </div>

    </div>

    <hr *ngIf="fields.endpointSettings.length && fields.settings.length">

    <div *ngFor="let item of fields.endpointSettings; let index = index" class="">

      <div class="endpoint" *ngIf="getControlByType(item,directions.input).control == 'FieldTextBox'">
        <flogo-form-builder-fields-textbox [info]="getTriggerInfo(item, directions.input, 'endpointSettings')" [fieldObserver]="_fieldObserver" ></flogo-form-builder-fields-textbox>
      </div>

      <div class="endpoint" *ngIf="getControlByType(item,directions.input).control == 'FieldListBox'">
        <flogo-form-builder-fields-listbox [info]="getTriggerInfo(item, directions.input, 'endpointSettings')" [fieldObserver]="_fieldObserver" ></flogo-form-builder-fields-listbox>
      </div>

      <div class="endpoint"  *ngIf="getControlByType(item,directions.input).control == 'FieldNumber'">
        <flogo-form-builder-fields-number [info]="getTriggerInfo(item, directions.input, 'endpointSettings')" [fieldObserver]="_fieldObserver" ></flogo-form-builder-fields-number>
      </div>

      <div class="endpoint" *ngIf="getControlByType(item,directions.input).control == 'FieldTextArea'">
        <flogo-form-builder-fields-textarea [info]="getTriggerInfo(item, directions.input, 'endpointSettings')" [fieldObserver]="_fieldObserver" ></flogo-form-builder-fields-textarea>
      </div>

      <div class="endpoint" *ngIf="getControlByType(item,directions.input).control == 'FieldRadio'">
        <flogo-form-builder-fields-radio [info]="getTriggerInfo(item, directions.input, 'endpointSettings')" [fieldObserver]="_fieldObserver"  [index]="index" ></flogo-form-builder-fields-radio>
      </div>

      <div class="endpoint" *ngIf="getControlByType(item,directions.input).control == 'FieldObject'">
        <flogo-form-builder-fields-object [info]="getTriggerInfo(item, directions.input, 'endpointSettings')" [fieldObserver]="_fieldObserver" ></flogo-form-builder-fields-object>
      </div>

    </div>

    <h3 class="flogo-common-edit-panel__legend" *ngIf="fields.outputs.length">
      {{ 'FORM-BUILDER-CONFIGURATION-TRIGGER:OUTPUTS' | translate }}
      <div class="flogo-common-edit-panel-info">
        <img src="/assets/svg/flogo.form-builder.info.icon--gray.svg" class="flogo-common-edit-panel-info__btn">
        <div class="flogo-common-edit-panel-info__content-wrapper">
          <div class="flogo-common-edit-panel-info__content">{{ 'FORM-BUILDER-CONFIGURATION-TRIGGER:REPLY-INFO' | translate }}</div>
        </div>
      </div>
    </h3>
    <div *ngFor="let item of fields.outputs; let index= index" class="">

      <div class="output"  *ngIf="getControlByType(item,directions.output).control == 'FieldTextBox'">
        <flogo-form-builder-fields-textbox [info]="getTriggerInfo(item, directions.output, 'outputs')" [fieldObserver]="_fieldObserver" ></flogo-form-builder-fields-textbox>
      </div>

      <div class="output" *ngIf="getControlByType(item,directions.output).control == 'FieldListBox'">
        <flogo-form-builder-fields-listbox [info]="getTriggerInfo(item, directions.output, 'outputs')" [fieldObserver]="_fieldObserver" ></flogo-form-builder-fields-listbox>
      </div>

      <div class="output" *ngIf="getControlByType(item,directions.output).control == 'FieldNumber'">
        <flogo-form-builder-fields-number [info]="getTriggerInfo(item, directions.output, 'outputs')" [fieldObserver]="_fieldObserver" ></flogo-form-builder-fields-number>
      </div>

      <div class="output" *ngIf="getControlByType(item,directions.output).control == 'FieldTextArea'">
        <flogo-form-builder-fields-textarea [info]="getTriggerInfo(item, directions.output, 'outputs')" [fieldObserver]="_fieldObserver" ></flogo-form-builder-fields-textarea>
      </div>

      <div class="output" *ngIf="getControlByType(item,directions.output).control == 'FieldRadio'">
        <flogo-form-builder-fields-radio [info]="getTriggerInfo(item, directions.output, 'outputs')" [fieldObserver]="_fieldObserver" [index]="index" ></flogo-form-builder-fields-radio>
      </div>

      <div class="output" *ngIf="getControlByType(item,directions.output).control == 'FieldObject'">
        <flogo-form-builder-fields-object [info]="getTriggerInfo(item, directions.output, 'outputs')" [fieldObserver]="_fieldObserver" ></flogo-form-builder-fields-object>
      </div>

    </div>

  </div>
</div>
