<div>
  <div  class="flogo-common-edit-panel__container">
    <!--// TODO: extract field creation to single component to simplify these templates -->
    <h3 class="flogo-common-edit-panel__legend" [hidden]="!fields.settings.length">{{ 'FORM-BUILDER-CONFIGURATION-TRIGGER:SETTINGS' | translate }}</h3>
    <div *ngFor="let item of fields.settings; let index = index" class="">

      <div *ngIf="getControlByType(item).control == 'FieldTextBox'">
        <flogo-form-builder-fields-textbox [info]="getTriggerInfo(item, 'input', 'settings')"  [fieldObserver]="_fieldObserver" ></flogo-form-builder-fields-textbox>
      </div>

      <div *ngIf="getControlByType(item).control == 'FieldListBox'">
        <flogo-form-builder-fields-listbox [info]="getTriggerInfo(item, 'input', 'settings')" [fieldObserver]="_fieldObserver" ></flogo-form-builder-fields-listbox>
      </div>

      <div *ngIf="getControlByType(item).control == 'FieldNumber'">
        <flogo-form-builder-fields-number [info]="getTriggerInfo(item, 'input', 'settings')" [fieldObserver]="_fieldObserver" ></flogo-form-builder-fields-number>
      </div>

      <div *ngIf="getControlByType(item).control == 'FieldTextArea'">
        <flogo-form-builder-fields-textarea [info]="getTriggerInfo(item, 'input', 'settings')" [fieldObserver]="_fieldObserver" ></flogo-form-builder-fields-textarea>
      </div>

      <div *ngIf="getControlByType(item).control == 'FieldRadio'">
        <flogo-form-builder-fields-radio [info]="getTriggerInfo(item, 'input', 'settings')" [fieldObserver]="_fieldObserver"  [index]="index" ></flogo-form-builder-fields-radio>
      </div>

      <div *ngIf="getControlByType(item).control == 'FieldObject'">
        <flogo-form-builder-fields-object [info]="getTriggerInfo(item, 'input', 'settings')" [fieldObserver]="_fieldObserver" ></flogo-form-builder-fields-object>
      </div>

    </div>

    <h3 class="flogo-common-edit-panel__legend" [hidden]="!fields.endpointSettings.length">{{ 'FORM-BUILDER-CONFIGURATION-TRIGGER:ENDPOINT' | translate }}</h3>
    <div *ngFor="let item of fields.endpointSettings; let index = index" class="">

      <div *ngIf="getControlByType(item).control == 'FieldTextBox'">
        <flogo-form-builder-fields-textbox [info]="getTriggerInfo(item, 'input', 'endpointSettings')" [fieldObserver]="_fieldObserver" ></flogo-form-builder-fields-textbox>
      </div>

      <div *ngIf="getControlByType(item).control == 'FieldListBox'">
        <flogo-form-builder-fields-listbox [info]="getTriggerInfo(item, 'input', 'endpointSettings')" [fieldObserver]="_fieldObserver" ></flogo-form-builder-fields-listbox>
      </div>

      <div *ngIf="getControlByType(item).control == 'FieldNumber'">
        <flogo-form-builder-fields-number [info]="getTriggerInfo(item, 'input', 'endpointSettings')" [fieldObserver]="_fieldObserver" ></flogo-form-builder-fields-number>
      </div>

      <div *ngIf="getControlByType(item).control == 'FieldTextArea'">
        <flogo-form-builder-fields-textarea [info]="getTriggerInfo(item, 'input', 'endpointSettings')" [fieldObserver]="_fieldObserver" ></flogo-form-builder-fields-textarea>
      </div>

      <div *ngIf="getControlByType(item).control == 'FieldRadio'">
        <flogo-form-builder-fields-radio [info]="getTriggerInfo(item, 'input', 'endpointSettings')" [fieldObserver]="_fieldObserver"  [index]="index" ></flogo-form-builder-fields-radio>
      </div>

      <div *ngIf="getControlByType(item).control == 'FieldObject'">
        <flogo-form-builder-fields-object [info]="getTriggerInfo(item, 'input', 'endpointSettings')" [fieldObserver]="_fieldObserver" ></flogo-form-builder-fields-object>
      </div>

    </div>

    <h3 class="flogo-common-edit-panel__legend" [hidden]="!fields.outputs.length">{{ 'FORM-BUILDER-CONFIGURATION-TRIGGER:OUTPUTS' | translate }}</h3>
    <div *ngFor="let item of fields.outputs; let index= index" class="">

      <div *ngIf="getControlByType(item).control == 'FieldTextBox'">
        <flogo-form-builder-fields-textbox [info]="getTriggerInfo(item, 'output', 'outputs')" [fieldObserver]="_fieldObserver" ></flogo-form-builder-fields-textbox>
      </div>

      <div *ngIf="getControlByType(item).control == 'FieldListBox'">
        <flogo-form-builder-fields-listbox [info]="getTriggerInfo(item, 'input', 'outputs')" [fieldObserver]="_fieldObserver" ></flogo-form-builder-fields-listbox>
      </div>

      <div *ngIf="getControlByType(item).control == 'FieldNumber'">
        <flogo-form-builder-fields-number [info]="getTriggerInfo(item, 'output', 'outputs')" [fieldObserver]="_fieldObserver" ></flogo-form-builder-fields-number>
      </div>

      <div *ngIf="getControlByType(item).control == 'FieldTextArea'">
        <flogo-form-builder-fields-textarea [info]="getTriggerInfo(item, 'output', 'outputs')" [fieldObserver]="_fieldObserver" ></flogo-form-builder-fields-textarea>
      </div>

      <div *ngIf="getControlByType(item).control == 'FieldRadio'">
        <flogo-form-builder-fields-radio [info]="getTriggerInfo(item, 'output', 'outputs')" [fieldObserver]="_fieldObserver" [index]="index" ></flogo-form-builder-fields-radio>
      </div>

      <div *ngIf="getControlByType(item).control == 'FieldObject'">
        <flogo-form-builder-fields-object [info]="getTriggerInfo(item, 'output', 'outputs')" [fieldObserver]="_fieldObserver" ></flogo-form-builder-fields-object>
      </div>

    </div>

  </div>
</div>
