<div class="modal-wrapper" [@dialog]="modalState" (@dialog.start)="onModalStateChange($event)" (@dialog.done)="onModalStateChange($event)">
  <div class="mapper-modal data-transform-modal" *ngIf="isActive">
    <div class="mapper-modal__header header">
      <h2 class="header__title">{{ title }}</h2>
      <div class="header__actions actions">
        <button class="flogo-button--secondary actions__action" (click)="cancel()">
          Cancel
        </button>
        <button class="flogo-button--primary  actions__action actions__action--save"
                [class.disabled]="!isValid || !isDirty" [disabled]="!isValid || !isDirty"
                (click)="saveTransform()">{{ 'TRANSFORM:SAVE' | translate }}
        </button>
      </div>
      <button class="mapper-modal__close" (click)="cancel()">
        <span aria-hidden="true" class="sr-only">{{ 'TRANSFORM:CLOSE' | translate }}</span>
      </button>
    </div>

    <div class="mapper-modal__content">
      <flogo-mapper class="mapper"
                    inputsSearchPlaceHolder="{{ inputsSearchPlaceholderKey | translate }}"
                    outputsSearchPlaceHolder="{{ 'TRANSFORM:AVAILABLE-DATA' | translate }}"
                    [context]="mapperContext" (mappingsChange)="onMappingsChange($event)" ></flogo-mapper>
    </div>
  </div>
</div>
