.flogo-app-search {
  .form-control{
    border-radius: 0;
  }

  .inner-addon {
    position: relative;

    .flogo-icon-search {
      color: #79b8dc;
      position: absolute;
      padding: 10px;
      pointer-events: none;
      top: 0;
    }
  }

  .left-addon .flogo-icon-search {
    left: 0;
  }
  .right-addon .flogo-icon-search {
    right: 0;
  }

  .left-addon input {
    padding-left: 30px;
  }
  .right-addon input {
    padding-right: 30px;
  }

}
