.flogo-app-search {
  padding: 1em 0;

  .form-control{
    border-radius: 0;
  }

  .inner-addon {
    position: relative;
  }

  .inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
    color: #79b8dc;
  }

  .left-addon .glyphicon {
    left: 0px;
  }
  .right-addon .glyphicon {
    right: 0px;
  }

  .left-addon input {
    padding-left: 30px;
  }
  .right-addon input {
    padding-right: 30px;
  }

}
